<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ICA国际艺术教育</title>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=QQp20GHLPDhO4kYxdRAOdaezFdCDyKMv"></script>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>

  <section class="banner-container wow fadeInUp">
    <img class="pc" src="/public/images/campus/banner.png" alt="">
    <img class="m" src="/public/images/campus/m/banner.png" alt="">
    <!-- 引入面包屑 -->
    <div class="crumbs">
      <span>当前位置：</span>
      <a href="index.html">首页</a>&nbsp;<span>&gt;</span>&nbsp;<a href="javascript:;">分校详情</a>
    </div>
  </section>

  <section class="address-container module">
    <div class="address-box module-box min-center">
      <div class="title-module">
        <div class="m title-center">
          <div class="title wow fadeInUp">校区地址</div>
          <div class="subtitle wow fadeInUp text-black">Campus address</div>
        </div>
      </div>
      <div class="right-module wow fadeInRight">
        <div class="title pc">
          <h4>Campus address </h4>
          <h2> 校区地址</h2>
          <!-- <span></span> -->
        </div>
        <div class="address-wrapper">
          <div class="map-content">
            <div id="map"></div>
          </div>
          <div class="map-text">
            <h3>北京国贸校区</h3>
            <span></span>
            <p>北京市朝阳区建外SOHO东区A座32层</p>
            <p>400-612-8881</p>
            <p>ACGservice@acgidd.com</p>
          </div>
        </div>
      </div>
      <div class="left-module wow fadeInLeft">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="con-item">
                <div class="bg">
                  <img src="/public/images/campus/address-bg1.png" alt="">
                </div>
                <div class="content">
                  <h4>校区介绍</h4>
                  <p>关于校区特色的文字介绍，校区特色这一块，是鼠标滑动到图片上面之后才展示的，默认是不展示的。默认是不展示的。</p>
                  <p>关于校区特色的文字介绍，校区特色这一块，是鼠标滑动到图片上面之后才展示的，默认是不展示的。默认是不。</p>
                  <p>关于校区特色的文字介绍，校区特色这一块，是鼠标滑动到图片上面之后才展示的，不展示。</p>
                  <p>关于校区特色的文字介绍，校区特色这一块，是鼠标滑动到图片上面之后才展示的，默认是不展示的。关于校区特色的文字介绍，校区特色这一块，是鼠标滑动到图片上面之后才展示的，默认是不展示的。</p>
                  <p>关于校区特色的文字介绍，校区特色这一块，是鼠标滑动到图片上面之后才展示的，默认是不展示的。</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="con-item">
                <div class="bg">
                  <img src="/public/images/campus/address-bg1.png" alt="">
                </div>
                <div class="content">
                  <h4>校区介绍</h4>
                  <p>关于校区特色的文字介绍，校区特色这一块，是鼠标滑动到图片上面之后才展示的，默认是不展示的。默认是不展示的。</p>
                  <p>关于校区特色的文字介绍，校区特色这一块，是鼠标滑动到图片上面之后才展示的，默认是不展示的。默认是不。</p>
                  <p>关于校区特色的文字介绍，校区特色这一块，是鼠标滑动到图片上面之后才展示的，不展示。</p>
                  <p>关于校区特色的文字介绍，校区特色这一块，是鼠标滑动到图片上面之后才展示的，默认是不展示的。关于校区特色的文字介绍，校区特色这一块，是鼠标滑动到图片上面之后才展示的，默认是不展示的。</p>
                  <p>关于校区特色的文字介绍，校区特色这一块，是鼠标滑动到图片上面之后才展示的，默认是不展示的。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>
  <section class="course-container module">
    <div class="course-box module-box min-center">
      <div class="title-module">
        <div class="pc title-center">
          <div class="title wow fadeInUp">艺术课程 / Art Course</div>
        </div>
        <div class="m title-center">
          <div class="title wow fadeInUp">艺术课程</div>
          <div class="subtitle wow fadeInUp text-black">Art Course</div>
        </div>
      </div>
      <ul class="course-list">
        <li class="course-item wow fadeInLeft" data-wow-delay="200ms">
          <div class="text">
            <div class="entitle">Portfolio training</div>
            <div class="title">作品集培训</div>
          </div>
          <div class="img">
            <img src="/public/images/home/course01.jpg" alt="">
          </div>
        </li>
        <li class="course-item wow fadeInLeft">
          <div class="text">
            <div class="entitle">VIP school through train</div>
            <div class="title">VIP名校直通车</div>
          </div>
          <div class="img">
            <img src="/public/images/home/course02.jpg" alt="">
          </div>
        </li>
        <li class="course-item wow fadeInRight">
          <div class="text">
            <div class="entitle">Art Study Abroad Application</div>
            <div class="title">艺术留学申请</div>
          </div>
          <div class="img">
            <img src="/public/images/home/course03.jpg" alt="">
          </div>
        </li>
        <li class="course-item wow fadeInRight" data-wow-delay="200ms">
          <div class="text">
            <div class="entitle">Music Collection</div>
            <div class="title">音乐作品集</div>
          </div>
          <div class="img">
            <img src="/public/images/home/course04.jpg" alt="">
          </div>
        </li>
      </ul>
      <a href="/case.html" class="m-more">更&nbsp;&nbsp;多</a>
    </div>
  </section>
  <section class="team-container module">
    <div class="team-box module-box min-center">
      <div class="title-module">
        <div class="pc title-center">
          <div class="title text-white wow fadeInUp">师资团队 / Teacher team</div>
        </div>
        <div class="m title-center">
          <div class="title text-white wow fadeInUp">师资团队</div>
          <div class="subtitle text-white wow fadeInUp">Teacher team</div>
        </div>
      </div>
      <ul class="team-tab-list">
        <li class="team-tab-item wow on">国外名校教授</li>
        <li class="team-tab-item wow">海归导师</li>
      </ul>
      <div class="team-content-list">
        <div class="team-content-item on">
          <div class="left-layout wow fadeInLeft">
            <ul class="team-info-list">
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown2</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown3</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown4</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown5</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown6</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown7</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown8</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
            </ul>
          </div>
          <div class="right-layout">
            <ul class="team-list wow fadeInRight">
              <li class="team-item on" data-index="0">
                <img src="/public/images/home/team_01.jpg" alt="">
              </li>
              <li class="team-item" data-index="1">
                <img src="/public/images/home/team_02.jpg" alt="">
              </li>
              <li class="team-item" data-index="2">
                <img src="/public/images/home/team_03.jpg" alt="">
              </li>
              <li class="team-item" data-index="3">
                <img src="/public/images/home/team_04.jpg" alt="">
              </li>
              <li class="team-item">
              </li>
              <li class="team-item" data-index="4">
                <img src="/public/images/home/team_06.jpg" alt="">
              </li>
              <li class="team-item" data-index="5">
                <img src="/public/images/home/team_07.jpg" alt="">
              </li>
              <li class="team-item" data-index="6">
                <img src="/public/images/home/team_08.jpg" alt="">
              </li>
              <li class="team-item" data-index="7">
                <img src="/public/images/home/team_09.jpg" alt="">
              </li>
            </ul>
          </div>
        </div>
        <div class="team-content-item">
          <div class="left-layout">
            <ul class="team-info-list">
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown1</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown2</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown3</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown4</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown5</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown6</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown7</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
              <li class="team-info-item">
                <div class="bit"></div>
                <div class="title">John Brown8</div>
                <div class="desc">
                  Rembrandt started as a teacher of P. rastman in his early years, and opened a studio in his hometown
                  in
                  1625. There are a wide range of painting styles. He is good at portrait painting, landscape
                  painting,
                  custom painting, religious painting, historical painting and other fields.
                </div>
                <div class="fullname">France Paris</div>
                <div class="date">1958/</div>
                <div class="address">Now living in Beijing</div>
                <div class="school">/ Teachers team tutors of famous foreign schools</div>
                <a href="/case.html" class="more white">更&nbsp;&nbsp;多</a>
                <a href="/case.html" class="m-more white">更&nbsp;&nbsp;多</a>
              </li>
            </ul>
          </div>
          <div class="right-layout">
            <ul class="team-list">
              <li class="team-item on" data-index="0">
                <img src="/public/images/home/team_01.jpg" alt="">
              </li>
              <li class="team-item" data-index="1">
                <img src="/public/images/home/team_02.jpg" alt="">
              </li>
              <li class="team-item" data-index="2">
                <img src="/public/images/home/team_03.jpg" alt="">
              </li>
              <li class="team-item" data-index="3">
                <img src="/public/images/home/team_04.jpg" alt="">
              </li>
              <li class="team-item">
              </li>
              <li class="team-item" data-index="4">
                <img src="/public/images/home/team_06.jpg" alt="">
              </li>
              <li class="team-item" data-index="5">
                <img src="/public/images/home/team_07.jpg" alt="">
              </li>
              <li class="team-item" data-index="6">
                <img src="/public/images/home/team_08.jpg" alt="">
              </li>
              <li class="team-item" data-index="7">
                <img src="/public/images/home/team_09.jpg" alt="">
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="case-container module">
    <div class="case-box module-box min-center">
      <div class="title-module">
        <div class="pc title-center">
          <div class="title wow fadeInUp">案例作品 / Case works</div>
        </div>
        <div class="m title-center">
          <div class="title wow fadeInUp">案例作品</div>
          <div class="subtitle wow fadeInUp">Case works</div>
        </div>
        <a href="/case.html" class="more more-btn wow fadeInRight">更多案例</a>
      </div>
      <ul class="case-list">
        <li class="case-item wow fadeInUp">
          <a>
            <div class="text">
              <div class="info">
                <div class="title">艾子沁</div>
                <div class="desc">中央圣马丁艺术与设计学院<br>2019级</div>
                <div class="position">平面设计</div>
              </div>
              <div class="dot"></div>
              <div class="entitle">Student information</div>
            </div>
            <div class="img">
              <img src="/public/images/home/case1.jpg" alt="">
            </div>
            <div class="bg"></div>
          </a>
        </li>
        <li class="case-item wow fadeInUp" data-wow-delay="200ms">
          <a>
            <div class="text">
              <div class="info">
                <div class="title">艾子沁</div>
                <div class="desc">中央圣马丁艺术与设计学院<br>2019级</div>
                <div class="position">平面设计</div>
              </div>
              <div class="dot"></div>
              <div class="entitle">Student information</div>
            </div>
            <div class="img">
              <img src="/public/images/home/case2.jpg" alt="">
            </div>
            <div class="bg"></div>
          </a>
        </li>
        <li class="case-item wow fadeInUp" data-wow-delay="400ms">
          <a>
            <div class="text">
              <div class="info">
                <div class="title">艾子沁</div>
                <div class="desc">中央圣马丁艺术与设计学院<br>2019级</div>
                <div class="position">平面设计</div>
              </div>
              <div class="dot"></div>
              <div class="entitle">Student information</div>
            </div>
            <div class="img">
              <img src="/public/images/home/case3.jpg" alt="">
            </div>
            <div class="bg"></div>
          </a>
        </li>
        <li class="case-item wow fadeInUp" data-wow-delay="600ms">
          <a>
            <div class="text">
              <div class="info">
                <div class="title">艾子沁</div>
                <div class="desc">中央圣马丁艺术与设计学院<br>2019级</div>
                <div class="position">平面设计</div>
              </div>
              <div class="dot"></div>
              <div class="entitle">Student information</div>
            </div>
            <div class="img">
              <img src="/public/images/home/case4.jpg" alt="">
            </div>
            <div class="bg"></div>
          </a>
        </li>
      </ul>
      <a href="/case.html" class="m-more">更&nbsp;&nbsp;多</a>
    </div>
  </section>
  <section class="partner-container module">
    <div class="partner-box module-box min-center">
      <div class="title-module">
        <div class="pc title-center">
          <div class="title wow fadeInUp">合作机构 / Cooperative organization</div>
        </div>
        <div class="m title-center">
          <div class="title wow fadeInUp">合作机构</div>
          <div class="subtitle wow fadeInUp text-black">Cooperative organization</div>
        </div>
      </div>
      <ul class="partner-list">
        <li class="partner-item wow fadeInUp">
          <a>
            <img src="/public/images/home/partner01.png" alt="">
          </a>
        </li>
        <li class="partner-item wow fadeInUp">
          <a>
            <img src="/public/images/home/partner02.png" alt="">
          </a>
        </li>
        <li class="partner-item wow fadeInUp">
          <a>
            <img src="/public/images/home/partner03.png" alt="">
          </a>
        </li>
        <li class="partner-item wow fadeInUp">
          <a>
            <img src="/public/images/home/partner04.png" alt="">
          </a>
        </li>
        <li class="partner-item wow fadeInUp">
          <a>
            <img src="/public/images/home/partner05.png" alt="">
          </a>
        </li>
        <li class="partner-item wow fadeInUp">
          <a>
            <img src="/public/images/home/partner06.png" alt="">
          </a>
        </li>
        <li class="partner-item wow fadeInUp">
          <a>
            <img src="/public/images/home/partner07.png" alt="">
          </a>
        </li>
        <li class="partner-item wow fadeInUp">
          <a>
            <img src="/public/images/home/partner08.png" alt="">
          </a>
        </li>
        <li class="partner-item wow fadeInUp">
          <a>
            <img src="/public/images/home/partner09.png" alt="">
          </a>
        </li>
      </ul>
      <!-- <a href="" class="m-more">更多</a> -->
    </div>
  </section>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>

</body>

<script>
  //创建和初始化地图函数：
  function initMap() {
    createMap(); //创建地图
    setMapEvent(); //设置地图事件
    addMapControl(); //向地图添加控件
    addMapOverlay(); //向地图添加覆盖物
  }

  function createMap() {
    map = new BMap.Map("map");
    map.centerAndZoom(new BMap.Point(116.403874, 39.932153), 12);
  }

  function setMapEvent() {
    map.enableScrollWheelZoom();
    map.enableKeyboard();
    map.enableDragging();
    map.enableDoubleClickZoom()
  }

  function addClickHandler(target, window) {
    target.addEventListener("click", function () {
      target.openInfoWindow(window);
    });
  }

  function addMapOverlay() {
    var markers = [{
      content: "zdSA",
      title: "ASDSAD",
      imageOffset: {
        width: 0,
        height: 3
      },
      position: {
        lat: 39.919759,
        lng: 116.400424
      }
    }];
    for (var index = 0; index < markers.length; index++) {
      var point = new BMap.Point(markers[index].position.lng, markers[index].position.lat);
      var marker = new BMap.Marker(point, {
        icon: new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png", new BMap.Size(20, 25), {
          imageOffset: new BMap.Size(markers[index].imageOffset.width, markers[index].imageOffset.height)
        })
      });
      var label = new BMap.Label(markers[index].title, {
        offset: new BMap.Size(25, 5)
      });
      var opts = {
        width: 200,
        title: markers[index].title,
        enableMessage: false
      };
      var infoWindow = new BMap.InfoWindow(markers[index].content, opts);
      marker.setLabel(label);
      addClickHandler(marker, infoWindow);
      map.addOverlay(marker);
    };
  }
  //向地图添加控件
  function addMapControl() {
    var scaleControl = new BMap.ScaleControl({
      anchor: BMAP_ANCHOR_BOTTOM_LEFT
    });
    scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
    map.addControl(scaleControl);
    var navControl = new BMap.NavigationControl({
      anchor: BMAP_ANCHOR_TOP_LEFT,
      type: BMAP_NAVIGATION_CONTROL_LARGE
    });
    map.addControl(navControl);
    var overviewControl = new BMap.OverviewMapControl({
      anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
      isOpen: true
    });
    map.addControl(overviewControl);
  }
  var map;
  initMap();
</script>

</html>