<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>College</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="banner-container professional-banner">
    <img class="pc" src="/public/images/professional/professional-banner.png" alt="">
    <img class="m" src="/public/images/professional/professional-banner-m.png" alt="">
    <%= require("html-loader!../components/crumbs/index.html") %>
    <div class="banner-content">
      <div class="banner-content-left wow fadeInUp">
        <div class="rect-title">
          <h1>工业设计</h1>
          <h2>GRAPHIC DESIGN</h2>
        </div>
      </div>
      <div class="banner-content-right">
        <div class="tab-list wow fadeInLeft">
          <ul>
            <li class="on"><span>专业介绍<font class="pc">：</font></span></li>
            <li><span>就业前景<font class="pc">：</font></span></li>
            <li><span>相关职位<font class="pc">：</font></span></li>
            <li><span>平均薪酬<font class="pc">：</font></span></li>
          </ul>
        </div>
        <div class="tab-content wow fadeInRight">
          <div class="tab-content-item on wow fadeInUp">
            <p>平面设计是以视觉作为沟通和表现的方式，透过多种方式来创造和
              结合符合图片和文字，借此来传达想法和讯息的视觉表现。平面设计
              利用字体排印、视觉艺术、版面等方面的专业技巧,来达成创作计划
              的目的。平面设计通常可指制作(设计)时的过程，以及最后完成的作
              品。
            </p>
            <div class="right-bottom">
              <span>专业介绍</span>
            </div>
          </div>
          <div class="tab-content-item wow fadeInUp">
            <p>平面设计是以视觉作为沟通和表现的方式，透过多种方式来创造和
              结合符合图片和文字，借此来传达想法和讯息的视觉表现。平面设计
              利用字体排印、视觉艺术、版面等方面的专业技巧,来达成创作计划
              的目的。平面设计通常可指制作(设计)时的过程，以及最后完成的作
              品。
            </p>
            <div class="right-bottom">
              <span>就业前景</span>
            </div>
          </div>
          <div class="tab-content-item wow fadeInUp">
            <p>平面设计是以视觉作为沟通和表现的方式，透过多种方式来创造和
              结合符合图片和文字，借此来传达想法和讯息的视觉表现。平面设计
              利用字体排印、视觉艺术、版面等方面的专业技巧,来达成创作计划
              的目的。平面设计通常可指制作(设计)时的过程，以及最后完成的作
              品。
            </p>
            <div class="right-bottom">
              <span>相关职位</span>
            </div>
          </div>
          <div class="tab-content-item wow fadeInUp">
            <p>平面设计是以视觉作为沟通和表现的方式，透过多种方式来创造和
              结合符合图片和文字，借此来传达想法和讯息的视觉表现。平面设计
              利用字体排印、视觉艺术、版面等方面的专业技巧,来达成创作计划
              的目的。平面设计通常可指制作(设计)时的过程，以及最后完成的作
              品。
            </p>
            <div class="right-bottom">
              <span>平均薪酬</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="top-institution module">
    <div class="module-box min-center">
      <div class="title-box pc">
        <div class="cn-title wow fadeInLeft" >TOP院校推荐 /</div>
        <div class="en-title wow fadeInRight">Top institutions<br>recommended</div>
      </div>
      <div class="title-box m">
        <div class="cn-title wow fadeInLeft" >TOP院校推荐</div>
        <div class="en-title wow fadeInRight">Top institutions recommended</div>
      </div>

      <div class="tab-list pc">
            <a href="javascript:void(0);" class="btn current">英国</a>
            <a href="javascript:void(0);" class="btn">美国</a>
            <a href="javascript:void(0);" class="btn">其他</a>
      </div> 

      <div class="tab-content">
        <div class="tab-content-item on wow fadeInUp">
          <div class="item-left wow fadeInLeft">
            <h3 class="btn current">英国.本科</h3>
            <ul>
              <li>
                <img src="/public/images/home/xueyuan1.png">
                <div class="school-text">
                  <span class="num">01</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan2.png">
                <div class="school-text">
                  <span class="num">02</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan3.png">
                <div class="school-text">
                  <span class="num">03</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan4.png">
                <div class="school-text">
                  <span class="num">04</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>  
              <li>
                <img src="/public/images/home/xueyuan1.png">
                <div class="school-text">
                  <span class="num">05</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan2.png">
                <div class="school-text">
                  <span class="num">06</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan3.png">
                <div class="school-text">
                  <span class="num">07</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan4.png">
                <div class="school-text">
                  <span class="num">08</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>                                                        
            </ul>
          </div>
          <div class="item-right wow fadeInRight">
            <h3 class="btn current">英国.研究生</h3>
            <ul>
              <li>
                <img src="/public/images/home/xueyuan1.png">
                <div class="school-text">
                  <span class="num">01</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan2.png">
                <div class="school-text">
                  <span class="num">02</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan3.png">
                <div class="school-text">
                  <span class="num">03</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan4.png">
                <div class="school-text">
                  <span class="num">04</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>  
              <li>
                <img src="/public/images/home/xueyuan1.png">
                <div class="school-text">
                  <span class="num">05</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan2.png">
                <div class="school-text">
                  <span class="num">06</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan3.png">
                <div class="school-text">
                  <span class="num">07</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan4.png">
                <div class="school-text">
                  <span class="num">08</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>                                                        
            </ul>
          </div>
        </div>
        <div class="tab-content-item wow fadeInUp">
          <div class="item-left wow fadeInLeft">
            <h3 class="btn current">美国.本科</h3>
            <ul>
              <li>
                <img src="/public/images/home/xueyuan1.png">
                <div class="school-text">
                  <span class="num">01</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan2.png">
                <div class="school-text">
                  <span class="num">02</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan3.png">
                <div class="school-text">
                  <span class="num">03</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan4.png">
                <div class="school-text">
                  <span class="num">04</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>  
              <li>
                <img src="/public/images/home/xueyuan1.png">
                <div class="school-text">
                  <span class="num">05</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan2.png">
                <div class="school-text">
                  <span class="num">06</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan3.png">
                <div class="school-text">
                  <span class="num">07</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan4.png">
                <div class="school-text">
                  <span class="num">08</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>                                                        
            </ul>
          </div>
          <div class="item-right wow fadeInRight">
            <h3 class="btn current">美国.研究生</h3>
            <ul>
              <li>
                <img src="/public/images/home/xueyuan1.png">
                <div class="school-text">
                  <span class="num">01</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan2.png">
                <div class="school-text">
                  <span class="num">02</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan3.png">
                <div class="school-text">
                  <span class="num">03</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan4.png">
                <div class="school-text">
                  <span class="num">04</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>  
              <li>
                <img src="/public/images/home/xueyuan1.png">
                <div class="school-text">
                  <span class="num">05</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan2.png">
                <div class="school-text">
                  <span class="num">06</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan3.png">
                <div class="school-text">
                  <span class="num">07</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan4.png">
                <div class="school-text">
                  <span class="num">08</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>                                                        
            </ul>
          </div>
        </div>
        <div class="tab-content-item">
          <div class="item-left wow fadeInLeft">
            <h3 class="btn current">法国.本科</h3>
            <ul>
              <li>
                <img src="/public/images/home/xueyuan1.png">
                <div class="school-text">
                  <span class="num">01</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan2.png">
                <div class="school-text">
                  <span class="num">02</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan3.png">
                <div class="school-text">
                  <span class="num">03</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan4.png">
                <div class="school-text">
                  <span class="num">04</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>  
              <li>
                <img src="/public/images/home/xueyuan1.png">
                <div class="school-text">
                  <span class="num">05</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan2.png">
                <div class="school-text">
                  <span class="num">06</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan3.png">
                <div class="school-text">
                  <span class="num">07</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan4.png">
                <div class="school-text">
                  <span class="num">08</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>                                                        
            </ul>
          </div>
          <div class="item-right wow fadeInRight">
            <h3 class="btn current">法国.研究生</h3>
            <ul>
              <li>
                <img src="/public/images/home/xueyuan1.png">
                <div class="school-text">
                  <span class="num">01</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan2.png">
                <div class="school-text">
                  <span class="num">02</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan3.png">
                <div class="school-text">
                  <span class="num">03</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan4.png">
                <div class="school-text">
                  <span class="num">04</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>  
              <li>
                <img src="/public/images/home/xueyuan1.png">
                <div class="school-text">
                  <span class="num">05</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan2.png">
                <div class="school-text">
                  <span class="num">06</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan3.png">
                <div class="school-text">
                  <span class="num">07</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>
              <li>
                <img src="/public/images/home/xueyuan4.png">
                <div class="school-text">
                  <span class="num">08</span>
                  <span class="name">伦敦艺术大学</span>
                </div>
              </li>                                                        
            </ul>
          </div>
        </div>                
      </div>
    </div>
  </section>

  <section class="success-container module">
    <div class="title-box pc">
      <div class="cn-title wow fadeInLeft"><div class="bit"></div>优秀作品集案例 / </div>
      <div class="en-title wow fadeInRight">Excellent works<br>collection cases</div>
    </div>
    <div class="title-box black m">
      <div class="cn-title  wow fadeInLeft" >优秀作品集案例</div>
      <div class="en-title wow fadeInRight">Excellent works collection cases</div>
    </div>    
    <div class="success-content min-center wow fadeInUpBig">
      <div class="success-swiper swiper-container">
        <ul class="success-list swiper-wrapper">
          <li class="success-item swiper-slide">
            <div class="img">
              <img src="/public/images/case/success-01.jpg" alt="Zheng同学">
              <div class="name">Zheng同学</div>
              <div class="title">工业设计</div>
            </div>
            <div class="text">
              <div class="title">录取学校</div>
              <div class="cont">
                <p>纽约视觉艺术学院SVA</p>
                <p>加州艺术学院CCA</p>
                <p>马里兰艺术学院MICA</p>
                <p>艺术中心设计学院ACCD</p>
                <p>雪城大学</p>
              </div>
            </div>
          </li>
          <li class="success-item swiper-slide">
            <div class="img">
              <img src="/public/images/case/success-02.jpg" alt="Zheng同学">
              <div class="name">Weng同学</div>
              <div class="title">平面设计</div>
            </div>
            <div class="text">
              <div class="title">录取学校</div>
              <div class="cont">
                <p>纽约视觉艺术学院SVA</p>
                <p>加州艺术学院CCA</p>
                <p>马里兰艺术学院MICA</p>
                <p>艺术中心设计学院ACCD</p>
                <p>雪城大学</p>
              </div>
            </div>
          </li>
          <li class="success-item swiper-slide">
            <div class="img">
              <img src="/public/images/case/success-03.jpg" alt="Zheng同学">
              <div class="name">Hao同学</div>
              <div class="title">服装设计</div>
            </div>
            <div class="text">
              <div class="title">录取学校</div>
              <div class="cont">
                <p>纽约视觉艺术学院SVA</p>
                <p>加州艺术学院CCA</p>
                <p>马里兰艺术学院MICA</p>
                <p>艺术中心设计学院ACCD</p>
                <p>雪城大学</p>
              </div>
            </div>
          </li>
          <li class="success-item swiper-slide">
            <div class="img">
              <img src="/public/images/case/success-04.jpg" alt="Zheng同学">
              <div class="name">Qian同学</div>
              <div class="title">艺术设计</div>
            </div>
            <div class="text">
              <div class="title">录取学校</div>
              <div class="cont">
                <p>纽约视觉艺术学院SVA</p>
                <p>加州艺术学院CCA</p>
                <p>马里兰艺术学院MICA</p>
                <p>艺术中心设计学院ACCD</p>
                <p>雪城大学</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="swiper-button-prev success-swiper-button-prev"></div>
      <div class="swiper-button-next success-swiper-button-next"></div>
      <div class="success-swiper-pagination swiper-pagination m"></div>
    </div>
  </section>

  <section class="course-container module pc">
    <div class="course-box module-box min-center">
      <div class="title-box pc">
        <div class="cn-title wow fadeInLeft">推荐课程 / </div>
        <div class="en-title wow fadeInRight">Recommended<br>courses</div>
      </div>
      <div class="title-box m">
        <div class="cn-title wow fadeInLeft" >推荐课程</div>
        <div class="en-title wow fadeInRight">Recommended courses</div>
      </div>        
      <ul class="course-list">
        <li class="course-item wow fadeInLeft" data-wow-delay="200ms">
          <div class="text">
            <div class="entitle">Portfolio training</div>
            <div class="title">作品集培训</div>
          </div>
          <div class="img">
            <img src="/public/images/home/course01.jpg" alt="">
          </div>
        </li>
        <li class="course-item wow fadeInLeft">
          <div class="text">
            <div class="entitle">VIP school through train</div>
            <div class="title">VIP名校直通车</div>
          </div>
          <div class="img">
            <img src="/public/images/home/course02.jpg" alt="">
          </div>
        </li>
        <li class="course-item wow fadeInRight">
          <div class="text">
            <div class="entitle">Art Study Abroad Application</div>
            <div class="title">艺术留学申请</div>
          </div>
          <div class="img">
            <img src="/public/images/home/course03.jpg" alt="">
          </div>
        </li>
        <li class="course-item wow fadeInRight" data-wow-delay="200ms">
          <div class="text">
            <div class="entitle">Music Collection</div>
            <div class="title">音乐作品集</div>
          </div>
          <div class="img">
            <img src="/public/images/home/course04.jpg" alt="">
          </div>
        </li>
      </ul>
    </div>
  </section>  

  <section class="m-course-container module m">
    <div class="title-box black m">
      <div class="cn-title wow fadeInUp">推荐课程</div>
      <div class="en-title wow fadeInUp">Recommended courses</div>
    </div>
    <ul class="m-course-list">
      <li class="m-course-item wow fadeInUp">
        <div class="img">
          <img src="/public/images/professional/course1.png" alt="工业设计">
        </div>
        <div class="text">
          <div class="title">
            <div class="cn-title">工业设计</div>
            <div class="en-title">Industrial design</div>
          </div>
          <a href="" class="icon">
            <img src="/public/images/arrow-next.png" alt="">
          </a>
        </div>
      </li>
      <li class="m-course-item wow fadeInUp" data-wow-delay="100ms">
        <div class="img">
          <img src="/public/images/professional/course2.png" alt="平面设计">
        </div>
        <div class="text">
          <div class="title">
            <div class="cn-title">平面设计</div>
            <div class="en-title">Plane design</div>
          </div>
          <a href="" class="icon">
            <img src="/public/images/arrow-next.png" alt="">
          </a>
        </div>
      </li>
      <li class="m-course-item wow fadeInUp" data-wow-delay="200ms">
        <div class="img">
          <img src="/public/images/professional/course3.png" alt="建筑设计">
        </div>
        <div class="text">
          <div class="title">
            <div class="cn-title">建筑设计</div>
            <div class="en-title">Architectural design</div>
          </div>
          <a href="" class="icon">
            <img src="/public/images/arrow-next.png" alt="">
          </a>
        </div>
      </li>
      <li class="m-course-item wow fadeInUp" data-wow-delay="300ms">
        <div class="img">
          <img src="/public/images/professional/course4.png" alt="空间设计">
        </div>
        <div class="text">
          <div class="title">
            <div class="cn-title">空间设计</div>
            <div class="en-title">Space design</div>
          </div>
          <a href="" class="icon">
            <img src="/public/images/arrow-next.png" alt="">
          </a>
        </div>
      </li>     

      <li class="m-course-item wow fadeInUp" data-wow-delay="400ms">
        <div class="img">
          <img src="/public/images/professional/course5.png" alt="陈列设计">
        </div>
        <div class="text">
          <div class="title">
            <div class="cn-title">陈列设计</div>
            <div class="en-title">Display design</div>
          </div>
          <a href="" class="icon">
            <img src="/public/images/arrow-next.png" alt="">
          </a>
        </div>
      </li>
      <li class="m-course-item wow fadeInUp" data-wow-delay="500ms">
        <div class="img">
          <img src="/public/images/professional/course6.png" alt="空间设计">
        </div>
        <div class="text">
          <div class="title">
            <div class="cn-title">服装设计</div>
            <div class="en-title">Clothing design</div>
          </div>
          <a href="" class="icon">
            <img src="/public/images/arrow-next.png" alt="">
          </a>
        </div>
      </li> 

    </ul>
  </section>

  <section class="strategy-container module">
    <div class="title-module pc">
      <div class="title-center">
        <div class="title wow fadeInUp">热门专业申请攻略 / Application Strategy</div>
      </div>
    </div>
    <div class="title-box m">
      <div class="cn-title wow fadeInLeft" >热门专业申请攻略</div>
      <div class="en-title wow fadeInRight">Application Strategy</div>
    </div>      
    <ul class="strategy-list">
      <li class="strategy-item wow fadeInRight">
        <div class="top-layout">
          <div class="text">
            <div class="num">17%</div>
            <p>的学生选择</p>
          </div>
          <div class="icon">
            <img src="/public/images/art_major/strategy-2.png" alt="">
          </div>
        </div>
        <div class="tag">平面视传</div>
        <div class="hover">
          <a href="" class="more">查看申请攻略</a>
        </div>
      </li>
      <li class="strategy-item wow fadeInRight" data-wow-delay="100ms">
        <div class="top-layout">
          <div class="text">
            <div class="num">17%</div>
            <p>的学生选择</p>
          </div>
          <div class="icon">
            <img src="/public/images/art_major/strategy-2.png" alt="">
          </div>
        </div>
        <div class="tag">服装设计</div>
        <div class="hover">
          <a href="" class="more">查看申请攻略</a>
        </div>
      </li>
      <li class="strategy-item wow fadeInRight" data-wow-delay="200ms">
        <div class="top-layout">
          <div class="text">
            <div class="num">10%</div>
            <p>的学生选择</p>
          </div>
          <div class="icon">
            <img src="/public/images/art_major/strategy-3.png" alt="">
          </div>
        </div>
        <div class="tag">建筑设计</div>
        <div class="hover">
          <a href="" class="more">查看申请攻略</a>
        </div>
      </li>
      <li class="strategy-item wow fadeInRight" data-wow-delay="300ms">
        <div class="top-layout">
          <div class="text">
            <div class="num">7.4%</div>
            <p>的学生选择</p>
          </div>
          <div class="icon">
            <img src="/public/images/art_major/strategy-4.png" alt="">
          </div>
        </div>
        <div class="tag">工业设计</div>
        <div class="hover">
          <a href="" class="more">查看申请攻略</a>
        </div>
      </li>
      <li class="strategy-item wow fadeInRight" data-wow-delay="400ms">
        <div class="top-layout">
          <div class="text">
            <div class="num">5.5%</div>
            <p>的学生选择</p>
          </div>
          <div class="icon">
            <img src="/public/images/art_major/strategy-5.png" alt="">
          </div>
        </div>
        <div class="tag">纯艺术</div>
        <div class="hover">
          <a href="" class="more">查看申请攻略</a>
        </div>
      </li>
    </ul>
  </section>  

  <section class="institutions-container module">
    <div class="institutions-box module-box min-center">
      <div class="title-module pc">
        <div class="title-center">
          <div class="title text-white wow fadeInUp">国际院校 / International Institutions</div>
        </div>
      </div>
      <div class="title-box white m">
        <div class="cn-title wow fadeInLeft">国际院校</div>
        <div class="en-title wow fadeInRight">International Institutions</div>
      </div>
      <!-- <ul class="institutions-tab-list pc">
        <li class="institutions-tab-item wow fadeInLeft on">国外名校教授</li>
        <li class="institutions-tab-item wow fadeInRight">海归导师</li>
      </ul> -->
      <div class="institutions-content">
        <div class="institutions-content-item on">
          <ul class="institutions-list">
            <li class="institutions-item wow fadeInUp" data-wow-delay="0">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions01.png" alt="">
                </div>
                <div class="text">
                  <div class="title">罗德岛设计学院</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="100ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions02.png" alt="">
                </div>
                <div class="text">
                  <div class="title">丹麦皇家艺术学院</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="200ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions03.png" alt="">
                </div>
                <div class="text">
                  <div class="title">米兰理工大学</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="300ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions04.png" alt="">
                </div>
                <div class="text">
                  <div class="title">代尔夫特理工大学</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="400ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions05.png" alt="">
                </div>
                <div class="text">
                  <div class="title">清华大学美术学院</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="0">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions06.png" alt="">
                </div>
                <div class="text">
                  <div class="title">南特大西洋设计学院</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="100ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions07.png" alt="">
                </div>
                <div class="text">
                  <div class="title">新南威尔士大学 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="200ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions08.png" alt="">
                </div>
                <div class="text">
                  <div class="title">慕尼黑工业大学 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="300ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions09.png" alt="">
                </div>
                <div class="text">
                  <div class="title">艺术中心设计学院 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="400ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions10.png" alt="">
                </div>
                <div class="text">
                  <div class="title">皇家艺术设计学院 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="institutions-content-item">
          <ul class="institutions-list">
            <li class="institutions-item wow fadeInUp" data-wow-delay="0">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions01.png" alt="">
                </div>
                <div class="text">
                  <div class="title">罗德岛设计学院</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="100ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions02.png" alt="">
                </div>
                <div class="text">
                  <div class="title">丹麦皇家艺术学院2</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="200ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions03.png" alt="">
                </div>
                <div class="text">
                  <div class="title">米兰理工大学2</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="300ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions04.png" alt="">
                </div>
                <div class="text">
                  <div class="title">代尔夫特理工大学</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="400ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions05.png" alt="">
                </div>
                <div class="text">
                  <div class="title">清华大学美术学院</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="0">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions06.png" alt="">
                </div>
                <div class="text">
                  <div class="title">南特大西洋设计学院</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="100ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions07.png" alt="">
                </div>
                <div class="text">
                  <div class="title">新南威尔士大学 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="200ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions08.png" alt="">
                </div>
                <div class="text">
                  <div class="title">慕尼黑工业大学 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="300ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions09.png" alt="">
                </div>
                <div class="text">
                  <div class="title">艺术中心设计学院 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="400ms">
              <a href="">
                <div class="logo">
                  <img src="/public/images/home/institutions10.png" alt="">
                </div>
                <div class="text">
                  <div class="title">皇家艺术设计学院 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <a href="/college.html" class="more wow fadeInUp">更多</a>
    </div>
  </section>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>