<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="top-container module pc" style="background-image: url(/public/images/team/top_bg.png);">
    <div class="module-box min-center">
      <div class="position-nav wow fadeInUp">
        <span>当前位置：</span><a href="index.html">首页</a><i>></i><a href="teamlist.html">艺术导师</a><i>></i><span>Jack</span>
      </div>
      <div class="trainersv-wrapper">
        <div class="trainersv-left wow fadeInLeft">
          <div class="trainersv-img">
            <img src="/public/images/teamlist/team1.png" alt="">
          </div>
        </div>
        <div class="trainersv-right wow fadeInRight">
          <div class="title">
            <div class="name">
              <h2>Jack</h2>
            </div>
            <div class="text">
              <p>学校：加州大学伯克利分校</p>
              <p>专业：工业设计</p>
            </div>
          </div>
          <div class="content">
            <div class="team-content-item">
              <span>擅长课程：</span>
              <p>平面设计、书籍设计、书籍艺术</p>
            </div>
            <div class="team-content-item">
              <span>教师简介：</span>
              <p>关于Jack老师的一些简单介绍关于Jack老师的一些简单介绍关于Jack老师的一些简单介绍
                关于Jack老师的一些简单介绍关于Jack老师的一些简单介绍关于Jack老师的一些简单介绍
                关于Jack老师的一些简单介绍关于Jack老师的一些简单介绍</p>
            </div>
          </div>
          <div class="team-outlink">
            <div class="link">
              <a href="javascript:;">立即咨询</a>
            </div>
            <div class="link">
              <a href="javascript:;">向TA咨询</a>
            </div>
          </div>
        </div>
      </div>
      <div class="trainersv-nav-wrapper wow fadeInRight">
        <ul class="trainersv-nav-list">
          <li class="trainersv-nav-item on">
            <a href="#a1">
              导师简介
            </a>
          </li>
          <li class="trainersv-nav-item">
            <a href="#a2">
              专业解读
            </a>
          </li>
          <li class="trainersv-nav-item">
            <a href="#a3">
              导师寄语
            </a>
          </li>
          <li class="trainersv-nav-item">
            <a href="#a4">
              学生录取院校
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="top-container module m" style="background-image: url(/public/images/team/m/top_bg.png);">
    <div class="module-box min-center">
      <div class="position-nav wow fadeInUp">
        <span style="color: #ffffff;">当前位置：</span><a href="index.html">首页</a><i>></i><a href="teamlist.html">艺术导师</a><i>></i><span>Jack</span>
      </div>
      <div class="trainersv-wrapper">
        <div class="trainersv-left wow fadeInLeft">
          <div class="trainersv-img">
            <img src="/public/images/teamlist/team1.png" alt="">
          </div>
        </div>
        <div class="trainersv-right wow fadeInRight">
          <div class="title">
            <div class="name">
              <h2>Jack</h2>
            </div>
            <div class="text">
              <p>学校：加州大学伯克利分校</p>
              <p>专业：工业设计</p>
            </div>
          </div>
          <div class="content">
            <div class="team-content-item">
              <span>擅长课程：</span>
              <p>平面设计、书籍设计、书籍艺术</p>
            </div>
            <div class="team-content-item">
              <span>教师简介：</span>
              <p>关于Jack老师的一些简单介绍关于Jack老师的一些简单介绍关于Jack老师的一些简单介绍
                关于Jack老师的一些简单介绍关于Jack老师的一些简单介绍关于Jack老师的一些简单介绍
                关于Jack老师的一些简单介绍关于Jack老师的一些简单介绍</p>
            </div>
          </div>
          <div class="team-outlink">
            <div class="link">
              <a href="javascript:;">立即咨询</a>
            </div>
            <div class="link">
              <a href="javascript:;">向TA咨询</a>
            </div>
          </div>
        </div>
      </div>
      <div class="trainersv-nav-wrapper wow fadeInRight">
        <ul class="trainersv-nav-list">
          <li class="trainersv-nav-item on">
            <a href="#a1">
              导师简介
            </a>
          </li>
          <li class="trainersv-nav-item">
            <a href="#a2">
              专业解读
            </a>
          </li>
          <li class="trainersv-nav-item">
            <a href="#a3">
              导师寄语
            </a>
          </li>
          <li class="trainersv-nav-item">
            <a href="#a4">
              学生录取院校
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <div class="team-container module pc">
    <div class="team-box module-box min-center">
      <div class="team_wrapper">
        <ul class="team_list">
          <li class="team_item wow fadeInUp">
            <div id="a1" class="mao"></div>
            <div class="title">
              <h3>导师简介</h3>
              <p>/&nbsp;Faculty Profil</p>
            </div>
            <div class="content">
              <p>
                书籍艺术作品集培训熊老师，本科毕业于广州美术学院，美术教育专业平面与工艺方向。2014年获得UAL-Camberwell伦艺坎伯韦尔艺术学院视觉艺术-书籍艺术硕士学位，并获得校友奖，作品曾参加过Norwich、Turn the Page等书展，毕业作品留校并被画廊收藏。回国后成立AHHA工作室，进行艺术书创作并从事书籍艺术、独立出版等工作，艺术书作品获邀参加IMPACT9版画书展，和第二届钻石之叶全球艺术家手工书展览。希望用自己对欧美书籍艺术、平面设计的专业知识和独特理解，帮助PS-ONE的学生们准备出优秀的作品集冲刺欧美名校。
              </p>
            </div>
          </li>
          <li class="team_item wow fadeInUp">
            <div id="a2" class="mao"></div>
            <div class="title">
              <h3>专业解读</h3>
              <p>/&nbsp;Professional interpretation</p>
            </div>
            <div class="content">
              <p>室内设计是一门关于如何提升室内空间利用率和美化度的艺术与科学结合的学科，与其说室内设计，不如称其为空间设计。</p>
              <p>室内设计是对建筑的继续和深化，是对室内空间环境的重塑和再创造。室内设计创造了满足人们物质和精神追求的生活环境，而这个环境带给了人们更多美好。</p>
              <p>一个好的设计是恒久的，是在经过一段漫长岁月后仍然值得被尊重被敬仰的。</p>
              <p>设计师必须具备多个领域的知识，包括建筑，设计，安全防护与艺术，同时必须要紧跟时代的趋势，展现创意性与差异性。</p>
              </p>
            </div>
          </li>
          <li class="team_item wow fadeInUp">
            <div id="a3" class="mao"></div>
            <div class="title">
              <h3>导师寄语</h3>
              <p>/&nbsp;Tutor's message</p>
            </div>
            <div class="content">
              <p>
                用有限空间发展无限设计，用无限创意塑造有限人生。
              </p>
            </div>
          </li>
          <li class="school wow fadeInUp">
            <div id="a4" class="mao"></div>
            <div class="title">
              <h3>专业录取院校</h3>
              <p>/&nbsp;Tutor's message</p>
            </div>
            <div class="content">
              <ul class="school_list">
                <li class="school_item">
                  <a href="school_view.html">
                    <div class="img">
                      <img src="/public/images/team/school_ico1.png" alt="">
                    </div>
                    <div class="text">
                      <h6>格拉斯哥艺术学院</h6>
                    </div>
                  </a>
                </li>
                <li class="school_item">
                  <a href="school_view.html">
                    <div class="img">
                      <img src="/public/images/team/school_ico1.png" alt="">
                    </div>
                    <div class="text">
                      <h6>格拉斯哥艺术学院</h6>
                    </div>
                  </a>
                </li>
                <li class="school_item">
                  <a href="school_view.html">
                    <div class="img">
                      <img src="/public/images/team/school_ico1.png" alt="">
                    </div>
                    <div class="text">
                      <h6>格拉斯哥艺术学院</h6>
                    </div>
                  </a>
                </li>
                <li class="school_item">
                  <a href="school_view.html">
                    <div class="img">
                      <img src="/public/images/team/school_ico1.png" alt="">
                    </div>
                    <div class="text">
                      <h6>格拉斯哥艺术学院</h6>
                    </div>
                  </a>
                </li>
                <li class="school_item">
                  <a href="school_view.html">
                    <div class="img">
                      <img src="/public/images/team/school_ico1.png" alt="">
                    </div>
                    <div class="text">
                      <h6>格拉斯哥艺术学院</h6>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="team-container module m">
    <div class="team-box module-box min-center">
      <div class="team_wrapper">
        <ul class="team_list">
          <li class="team_item wow fadeInUp">
            <div id="a1" class="mao"></div>
            <div class="title">
              <h3>导师简介</h3>
              <p>/&nbsp;Faculty Profil</p>
            </div>
            <div class="content">
              <p>
                书籍艺术作品集培训熊老师，本科毕业于广州美术学院，美术教育专业平面与工艺方向。2014年获得UAL-Camberwell伦艺坎伯韦尔艺术学院视觉艺术-书籍艺术硕士学位，并获得校友奖，作品曾参加过Norwich、Turn the Page等书展，毕业作品留校并被画廊收藏。回国后成立AHHA工作室，进行艺术书创作并从事书籍艺术、独立出版等工作，艺术书作品获邀参加IMPACT9版画书展，和第二届钻石之叶全球艺术家手工书展览。希望用自己对欧美书籍艺术、平面设计的专业知识和独特理解，帮助PS-ONE的学生们准备出优秀的作品集冲刺欧美名校。
              </p>
            </div>
          </li>
          <li class="team_item wow fadeInUp">
            <div id="a2" class="mao"></div>
            <div class="title">
              <h3>专业解读</h3>
              <p>/&nbsp;Professional interpretation</p>
            </div>
            <div class="content">
              <p>室内设计是一门关于如何提升室内空间利用率和美化度的艺术与科学结合的学科，与其说室内设计，不如称其为空间设计。</p>
              <p>室内设计是对建筑的继续和深化，是对室内空间环境的重塑和再创造。室内设计创造了满足人们物质和精神追求的生活环境，而这个环境带给了人们更多美好。</p>
              <p>一个好的设计是恒久的，是在经过一段漫长岁月后仍然值得被尊重被敬仰的。</p>
              <p>设计师必须具备多个领域的知识，包括建筑，设计，安全防护与艺术，同时必须要紧跟时代的趋势，展现创意性与差异性。</p>
              </p>
            </div>
          </li>
          <li class="team_item wow fadeInUp">
            <div id="a3" class="mao"></div>
            <div class="title">
              <h3>导师寄语</h3>
              <p>/&nbsp;Tutor's message</p>
            </div>
            <div class="content">
              <p>
                用有限空间发展无限设计，用无限创意塑造有限人生。
              </p>
            </div>
          </li>
          <li class="school team_item wow fadeInUp">
            <div id="a4" class="mao"></div>
            <div class="title">
              <h3>专业录取院校</h3>
              <p>/&nbsp;Tutor's message</p>
            </div>
            <div class="content">
              <ul class="school_list">
                <li class="school_item">
                  <a href="school_view.html">
                    <div class="img">
                      <img src="/public/images/team/school_ico1.png" alt="">
                    </div>
                    <div class="text">
                      <h6>格拉斯哥艺术学院</h6>
                    </div>
                  </a>
                </li>
                <li class="school_item">
                  <a href="school_view.html">
                    <div class="img">
                      <img src="/public/images/team/school_ico1.png" alt="">
                    </div>
                    <div class="text">
                      <h6>格拉斯哥艺术学院</h6>
                    </div>
                  </a>
                </li>
                <li class="school_item">
                  <a href="school_view.html">
                    <div class="img">
                      <img src="/public/images/team/school_ico1.png" alt="">
                    </div>
                    <div class="text">
                      <h6>格拉斯哥艺术学院</h6>
                    </div>
                  </a>
                </li>
                <li class="school_item">
                  <a href="school_view.html">
                    <div class="img">
                      <img src="/public/images/team/school_ico1.png" alt="">
                    </div>
                    <div class="text">
                      <h6>格拉斯哥艺术学院</h6>
                    </div>
                  </a>
                </li>
                <li class="school_item">
                  <a href="school_view.html">
                    <div class="img">
                      <img src="/public/images/team/school_ico1.png" alt="">
                    </div>
                    <div class="text">
                      <h6>格拉斯哥艺术学院</h6>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>