<section class="pc news-container module">
  <div class="news-box module-box min-center">
    <div class="title-module">
      <div class="title-center">
        <div class="title wow fadeInUp">动态资讯 / Dynamic information</div>
      </div>
    </div>
    <div class="news-content">
      <div class="left-layout">
        <div class="cate-title">
          <div class="title-box wow fadeInRight">
            <span class="cn-title">最新动态</span>
            <span class="en-title">/Latest News</span>
          </div>
          <a href="newslist.html" class="more wow fadeInLeft">更多 &gt;</a>
        </div>
        <ul class="news-list">
          <li class="news-item first wow fadeInUp">
            <a href="news.html">
              <div class="img">
                <img src="/public/images/home/news-thumb.jpg" alt="">
              </div>
              <div class="text">
                <div class="title">
                  祝贺维晶正方6名学员考入北方工业大学研究生
                </div>
                <div class="desc">
                  祝贺维晶正方6名学员考入北方工业大学研究生的摘要内容，祝贺维晶正方6名学员考入北方工业大学研究生的摘要内容，祝贺维晶正方6名学员考入北方工业大学研究生的摘要内容，祝贺维晶正方6名学员考入北方工业大学研究生的摘要内容
                </div>
              </div>
            </a>
          </li>
          <li class="news-item wow fadeInUp">
            <a href="news.html">维晶正方2019年考研升学榜</a>
          </li>
          <li class="news-item wow fadeInUp">
            <a href="news.html">维晶正方2019年考研升学榜</a>
          </li>
          <li class="news-item wow fadeInUp">
            <a href="news.html">2019年维晶正方寒假班开始招生了</a>
          </li>
          <li class="news-item wow fadeInUp">
            <a href="news.html">维晶正方2019年暑假班开课了</a>
          </li>
          <li class="news-item wow fadeInUp">
            <a href="news.html">维晶正方2019年暑假班开课了</a>
          </li>
        </ul>
      </div>
      <div class="right-layout">
        <div class="cate-title">
          <div class="title-box wow fadeInRight">
            <span class="cn-title">其他</span>
            <span class="en-title">/Other</span>
          </div>
        </div>
        <ul class="cate-list">
          <li class="cate-item wow pulse">
            <a href="/newslist.html">
              <span>艺术资讯</span>
              <div class="bg-img">
                <img src="/public/images/home/news-other1.jpg" alt="">
              </div>
            </a>
          </li>
          <li class="cate-item wow pulse">
            <a href="/newslist.html">
              <span>干货攻略</span>
              <div class="bg-img">
                <img src="/public/images/home/news-other2.jpg" alt="">
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="m news-container module">
  <div class="news-box module-box min-center">
    <div class="title-module">
      <div class="m title-center">
        <div class="title wow fadeInUp">动态资讯</div>
        <div class="subtitle wow fadeInUp text-black">Dynamic information</div>
      </div>
    </div>
    <ul class="news-tab-list">
      <li class="news-tab-item on">艺术资讯</li>
      <li class="news-tab-item">最新动态</li>
      <li class="news-tab-item">干货攻略</li>
    </ul>
    <ul class="news-cate-list">
      <li class="news-cate-item on">
        <a href="/news.html" class="news-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/home/news-thumb.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">祝贺维晶正方6名学员考入北方工业大学艺术设计学院</div>
            <div class="date">2022.6.2</div>
          </div>
        </a>
        <a href="/news.html" class="news-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/home/news-thumb.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">祝贺维晶正方6名学员考入北方工业大学艺术设计学院</div>
            <div class="date">2022.6.2</div>
          </div>
        </a>
        <a href="/news.html" class="news-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/home/news-thumb.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">祝贺维晶正方6名学员考入北方工业大学艺术设计学院</div>
            <div class="date">2022.6.2</div>
          </div>
        </a>
        <a href="/news.html" class="news-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/home/news-thumb.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">祝贺维晶正方6名学员考入北方工业大学艺术设计学院</div>
            <div class="date">2022.6.2</div>
          </div>
        </a>
        <a href="/news.html" class="news-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/home/news-thumb.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">祝贺维晶正方6名学员考入北方工业大学艺术设计学院</div>
            <div class="date">2022.6.2</div>
          </div>
        </a>
        <a href="/newslist.html" class="m-more">更&nbsp;&nbsp;多</a>
      </li>
      <li class="news-cate-item">
        <a href="/news.html" class="news-item">
          <div class="img">
            <img src="/public/images/home/news-thumb.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">2祝贺维晶正方6名学员考入北方工业大学艺术设计学院</div>
            <div class="date">2022.6.2</div>
          </div>
        </a>
        <a href="/news.html" class="news-item">
          <div class="img">
            <img src="/public/images/home/news-thumb.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">祝贺维晶正方6名学员考入北方工业大学艺术设计学院</div>
            <div class="date">2022.6.2</div>
          </div>
        </a>
        <a href="/news.html" class="news-item">
          <div class="img">
            <img src="/public/images/home/news-thumb.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">祝贺维晶正方6名学员考入北方工业大学艺术设计学院</div>
            <div class="date">2022.6.2</div>
          </div>
        </a>
        <a href="/news.html" class="news-item">
          <div class="img">
            <img src="/public/images/home/news-thumb.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">祝贺维晶正方6名学员考入北方工业大学艺术设计学院</div>
            <div class="date">2022.6.2</div>
          </div>
        </a>
        <a href="/news.html" class="news-item">
          <div class="img">
            <img src="/public/images/home/news-thumb.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">祝贺维晶正方6名学员考入北方工业大学艺术设计学院</div>
            <div class="date">2022.6.2</div>
          </div>
        </a>
        <a href="/newslist.html" class="m-more">更&nbsp;&nbsp;多</a>
      </li>
      <li class="news-cate-item">
        <a href="/news.html" class="news-item">
          <div class="img">
            <img src="/public/images/home/news-thumb.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">3祝贺维晶正方6名学员考入北方工业大学艺术设计学院</div>
            <div class="date">2022.6.2</div>
          </div>
        </a>
        <a href="/news.html" class="news-item">
          <div class="img">
            <img src="/public/images/home/news-thumb.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">祝贺维晶正方6名学员考入北方工业大学艺术设计学院</div>
            <div class="date">2022.6.2</div>
          </div>
        </a>
        <a href="/news.html" class="news-item">
          <div class="img">
            <img src="/public/images/home/news-thumb.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">祝贺维晶正方6名学员考入北方工业大学艺术设计学院</div>
            <div class="date">2022.6.2</div>
          </div>
        </a>
        <a href="/news.html" class="news-item">
          <div class="img">
            <img src="/public/images/home/news-thumb.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">祝贺维晶正方6名学员考入北方工业大学艺术设计学院</div>
            <div class="date">2022.6.2</div>
          </div>
        </a>
        <a href="/news.html" class="news-item">
          <div class="img">
            <img src="/public/images/home/news-thumb.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">祝贺维晶正方6名学员考入北方工业大学艺术设计学院</div>
            <div class="date">2022.6.2</div>
          </div>
        </a>
        <a href="/newslist.html" class="m-more">更&nbsp;&nbsp;多</a>
      </li>
    </ul>
  </div>
</section>