<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>艺术院校-内页 - ICA国际艺术教育</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container pc">
      <img src="/public/images/school/banner.jpg" class="banner-img" alt="">
      <div class="school-info-container">
        <div class="left-layout wow fadeInLeft">
          <div class="logo">
            <img src="/public/images/school/school-logo.png" alt="">
          </div>
          <div class="text">
            <div class="top-text">
              <div class="title">罗德岛设计学院</div>
              <div class="en-title">Rhode Island School of Design（RISD）</div>
            </div>
            <div class="bottom-text">
              <ul class="info-list">
                <li class="info-item">
                  <img src="/public/images/school/icon-address.png" alt="" class="icon">
                  <b>院校地址：</b>
                  <span>美国罗德岛州普罗维登斯市学院路2号</span>
                </li>
                <li class="info-item">
                  <img src="/public/images/school/icon-youshi.png" alt="" class="icon">
                  <b>优势专业：</b>
                  <span>工业设计 | 平面设计 | 插画设计 | 摄影专业</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="right-layout">
          <div class="img">
            <img src="/public/images/school/school-img.jpg" alt="">
          </div>
          <a class="more">点击了解</a>
          <div class="mask"></div>
        </div>
      </div>
    </section>
    <section class="banner-container m">
      <div class="banner-img">
        <div class="img">
          <img src="/public/images/school/school-img.jpg" alt="">
        </div>
        <a class="more">点击了解</a>
        <div class="mask"></div>
      </div>
      <div class="school-info-container" style="background-image: url(/public/images/school/m/banner.jpg);">
        <div class="left-layout wow fadeInLeft">
          <div class="logo">
            <img src="/public/images/school/school-logo.png" alt="">
          </div>
          <div class="text">
            <div class="top-text">
              <div class="title">罗德岛设计学院</div>
              <div class="en-title">Rhode Island School of Design（RISD）</div>
            </div>
            <div class="bottom-text">
              <ul class="info-list">
                <li class="info-item">
                  <img src="/public/images/school/icon-address.png" alt="" class="icon">
                  <b>院校地址：</b>
                  <span>美国罗德岛州普罗维登斯市学院路2号</span>
                </li>
                <li class="info-item">
                  <img src="/public/images/school/icon-youshi.png" alt="" class="icon">
                  <b>优势专业：</b>
                  <span>工业设计 | 平面设计 | 插画设计 | 摄影专业</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 引入面包屑  -->
      <%= require("html-loader!../components/crumbs/index.html") %>
    </section>
    <section class="info-container">
      <ul class="info-list">
        <li class="info-item wow fadeInRight" data-wow-delay="0">
          <div class="title">学费</div>
          <div class="info">
            $48,600~$49,844
          </div>
        </li>
        <li class="info-item wow fadeInRight" data-wow-delay="100ms">
          <div class="title">申请难度</div>
          <div class="info">
            <img src="/public/images/school/icon-star.png" class="star">
            <img src="/public/images/school/icon-star.png" class="star">
            <img src="/public/images/school/icon-star.png" class="star">
            <img src="/public/images/school/icon-star.png" class="star">
            <img src="/public/images/school/icon-star2.png" class="star">
          </div>
        </li>
        <li class="info-item wow fadeInRight" data-wow-delay="200ms">
          <div class="title">语言成绩</div>
          <div class="info">
            托福：100<br>
            雅思：7.0
          </div>
        </li>
        <li class="info-item wow fadeInRight" data-wow-delay="300ms">
          <div class="title">SAT</div>
          <div class="info">
            非必需
          </div>
        </li>
        <li class="info-item wow fadeInRight" data-wow-delay="400ms">
          <div class="title">申请截止</div>
          <div class="info">
            早申：11月1日<br>
            常规：1月15日
          </div>
        </li>
        <li class="info-item wow fadeInRight" data-wow-delay="500ms">
          <div class="title">院校性质</div>
          <div class="info">
            私立
          </div>
        </li>
      </ul>
    </section>
    <main class="main-container">
      <div class="main-center-box">
        <div class="left-content">
          <ul class="cont-tab-list">
            <li class="cont-tab-item wow fadeInRight on">院校介绍</li>
            <li class="cont-tab-item wow fadeInRight" data-wow-delay="100ms">专业设置</li>
            <li class="cont-tab-item wow fadeInRight" data-wow-delay="200ms">申请要求</li>
            <li class="cont-tab-item wow fadeInRight" data-wow-delay="300ms">校友介绍</li>
          </ul>
          <ul class="cont-list">
            <li class="cont-item wow fadeInUp on">
              <p style="color:#999;">
                <b style="color:#000;">美国罗德岛设计学院</b>（Rhode Island School of Design
                简称RISD），是一所集艺术与设计学科为一体的世界顶尖设计学院。建校于1877年，至今已有近140年的悠久历史。
              </p>
              <p style="color:#999;">
                并在Business Insider 的世界上最棒的25所设计学院中，RISD排名荣膺榜首，力压耶鲁大学、麻省理工、Pratt、SAIC等强校。位于美国罗德岛州（Rhode
                Island）的首府普罗维登斯市（Providence），座落于学院山（College Hill）山脚，与常春藤布朗大学（Brown
                University）校园相连，师生比为11：1，拥有13英亩校地，国际学生比例约为15%。罗德岛设计学院和布朗大学共同享有着社会、学术和社团等资源，并为两校学生提供互选课程和双学位的机会。
              </p>
              <p style="color:#999;">
                <b style="color:#000;">罗德岛设计学院专业排名：</b>
              </p>
              <p style="color:#999;">
                罗德岛设计学院各专业都位于领域前端，工业设计（Industrial Design）、平面设计（Graphic
                Design）、插画（Illustration）、摄影（Photography）专业尤为突出。RISD在2016年U.S.News&World Report《美国新闻与世界报道》的艺术学院排名中排名第4
                。与罗德岛大学不是同一所大学。罗德岛景观建筑专业只提供硕士学位，2年制和3年制都有。
              </p>
              <p style="color:#999;">
                RISD学生可在该校免费选课。作为全美聚集艺术家最多的地方，罗德岛州人文艺术气氛浓盛，博物馆很多，包括罗德岛设计学院艺术博物馆、历史博物馆、艺廊博物馆等，最有名气的莫过于罗德岛设计学院自己创办的艺术博物馆。
              </p>
              <p style="color:#999;">
                <b style="color:#000;">怎么样？</b>
              </p>
              <p style="color:#999;">
                罗德岛设计学院是美国最早独立设置的艺术设计学院，学院实行学分制，主要是本科和研究生学历教育，是一个国际性的一流设计学院。学院的办学理念是："致力于设计和艺术人才的培养。提升大众艺术教育、商业和产品的水平。"作为全美顶尖的私立艺术学院，罗德岛设计学院聚集了来自全世界超过50个国家的1800多名本科生和300多名研究生。
              </p>
              <p style="color:#999;">
                学院拥有350名拥有不同才能的教师和400名职员。同时，每年有200多名来自全球各地的著名艺术家、设计师、评论家、作家和哲学家来学院担任访问学者和兼职教授。从建校至今，学院一共培养了16000多名的毕业生，分布于美国和全世界，不少人成为20世纪的杰出设计人才，毕业生就业良好！除了本科和研究生的教育之外，RISD还为年轻的艺术家提供各类丰富多样的培训班、专业讲座、艺术展览等继续教育设计活动，满足了一个学习型社会的大众需求。
              </p>
              <p style="color:#999;">
                <b style="color:#000;">罗德岛设计学院世界排名：</b>
              </p>
              <p style="color:#999;">
                罗德岛设计学院在2019QS世界大学专业排名（艺术&设计）中，名列世界第4，美国第2。
              </p>
              <p style="color:#999;">
                <b style="color:#000;">罗德岛艺术设计学院申请截止时间：</b>
              </p>
              <p style="color:#999;">
                罗德岛设计学院的研究生课程入学申请从9月1日开始;
              </p>
              <p style="color:#999;">
                所有的研究生课程申请截止时间：1月10日
              </p>
              <p style="color:#999;">
                罗德岛设计学院将会在3月24日之前通知学生录取情况。英语作为接受申请的先决条件。中国学生申请成功也很多。
              </p>
              <p style="color:#999;">
                <b style="color:#000;">罗德岛设计学院固定学费：</b>
              </p>
              <p style="color:#999;">
                罗德岛设计学院本科学费和研究生学费是相同的都是51800美元，但是总费用研究生费用(78540)比本科费用(72780)多将近6000美元。
              </p>
            </li>
            <li class="cont-item">
              专业设置的内容
            </li>
            <li class="cont-item">
              申请要求的内容
            </li>
            <li class="cont-item">
              校友介绍的内容
            </li>
          </ul>
        </div>
        <aside class="right-aside">
          <a href="#广告" class="advertise module wow fadeInUp">
            <img src="/public/images/school/advertise-01.jpg" alt="">
          </a>
          <div class="hr"></div>
          <div class="news-module module wow fadeInUp">
            <div class="aside-title pc">
              <div class="cn-title">动态资讯 /</div>
              <div class="en-title">DYNAMIC INFORMATION</div>
            </div>
            <div class="aside-title m">
              <div class="cn-title">动态资讯</div>
              <div class="en-title">DYNAMIC INFORMATION</div>
            </div>
            <ul class="news-list">
              <li class="news-item">
                <a href="news.html">
                  <div class="img">
                    <img src="/public/images/school/aside-news-1.jpg" alt="">
                  </div>
                  <div class="text">
                    <div class="title">RISD珠宝首饰专业留学如何？</div>
                    <div class="date">
                      2020.07.28 13:47:52
                    </div>
                  </div>
                </a>
              </li>
              <li class="news-item">
                <a href="news.html">
                  <div class="img">
                    <img src="/public/images/school/aside-news-1.jpg" alt="">
                  </div>
                  <div class="text">
                    <div class="title">RISD珠宝首饰专业留学如何？</div>
                    <div class="date">
                      2020.07.28 13:47:52
                    </div>
                  </div>
                </a>
              </li>
              <li class="news-item">
                <a href="news.html">
                  <div class="img">
                    <img src="/public/images/school/aside-news-1.jpg" alt="">
                  </div>
                  <div class="text">
                    <div class="title">RISD珠宝首饰专业留学如何？</div>
                    <div class="date">
                      2020.07.28 13:47:52
                    </div>
                  </div>
                </a>
              </li>
              <li class="news-item">
                <a href="news.html">
                  <div class="img">
                    <img src="/public/images/school/aside-news-1.jpg" alt="">
                  </div>
                  <div class="text">
                    <div class="title">RISD珠宝首饰专业留学如何？</div>
                    <div class="date">
                      2020.07.28 13:47:52
                    </div>
                  </div>
                </a>
              </li>
              <li class="news-item">
                <a href="news.html">
                  <div class="img">
                    <img src="/public/images/school/aside-news-1.jpg" alt="">
                  </div>
                  <div class="text">
                    <div class="title">RISD珠宝首饰专业留学如何？</div>
                    <div class="date">
                      2020.07.28 13:47:52
                    </div>
                  </div>
                </a>
              </li>
              <li class="news-item">
                <a href="news.html">
                  <div class="img">
                    <img src="/public/images/school/aside-news-1.jpg" alt="">
                  </div>
                  <div class="text">
                    <div class="title">RISD珠宝首饰专业留学如何？</div>
                    <div class="date">
                      2020.07.28 13:47:52
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="hr"></div>
          <div class="school-module module wow fadeInUp">
            <div class="aside-title pc">
              <div class="cn-title">热门院校 /</div>
              <div class="en-title">POPULAR COLLEGES</div>
            </div>
            <div class="aside-title m">
              <div class="cn-title">热门院校</div>
              <div class="en-title">POPULAR COLLEGES</div>
            </div>
            <div class="school-swiper swiper-container">
              <ul class="school-list swiper-wrapper">
                <li class="school-item swiper-slide">
                  <a href="/school_view.html">
                    <div class="img">
                      <img src="/public/images/school/school-img.jpg" alt="">
                    </div>
                    <div class="title">罗德岛设计学院</div>
                  </a>
                </li>
                <li class="school-item swiper-slide">
                  <a href="/school_view.html">
                    <div class="img">
                      <img src="/public/images/school/school-img.jpg" alt="">
                    </div>
                    <div class="title">罗德岛设计学院</div>
                  </a>
                </li>
                <li class="school-item swiper-slide">
                  <a href="/school_view.html">
                    <div class="img">
                      <img src="/public/images/school/school-img.jpg" alt="">
                    </div>
                    <div class="title">罗德岛设计学院</div>
                  </a>
                </li>
              </ul>
              <div class="swiper-button-prev school-swiper-button-prev"></div>
              <div class="swiper-button-next school-swiper-button-next"></div>
            </div>
          </div>
        </aside>
      </div>
    </main>
    <div class="hr"></div>
    <section class="case-container module bg-module">
      <div class="title-box">
        <div class="title wow fadeInUp">作品案例</div>
        <div class="entitle wow fadeInUp">Work case</div>
      </div>
      <ul class="case-list">
        <li class="case-item wow fadeInRight">
          <div class="img">
            <img src="/public/images/school/case-1.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">RISD工业设计毕业生告诉你...</div>
            <div class="desc">
              RISD工业设计毕业生告诉你如<br>
              何上好网课，全美第一不虚传
            </div>
          </div>
        </li>
        <li class="case-item wow fadeInRight" data-wow-delay="100ms">
          <div class="img">
            <img src="/public/images/school/case-2.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">RISD工业设计毕业生告诉你...</div>
            <div class="desc">
              RISD工业设计毕业生告诉你如<br>
              何上好网课，全美第一不虚传
            </div>
          </div>
        </li>
        <li class="case-item wow fadeInRight" data-wow-delay="200ms">
          <div class="img">
            <img src="/public/images/school/case-3.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">RISD工业设计毕业生告诉你...</div>
            <div class="desc">
              RISD工业设计毕业生告诉你如<br>
              何上好网课，全美第一不虚传
            </div>
          </div>
        </li>
        <li class="case-item wow fadeInRight" data-wow-delay="300ms">
          <div class="img">
            <img src="/public/images/school/case-4.jpg" alt="">
          </div>
          <div class="text">
            <div class="title">RISD工业设计毕业生告诉你...</div>
            <div class="desc">
              RISD工业设计毕业生告诉你如<br>
              何上好网课，全美第一不虚传
            </div>
          </div>
        </li>
      </ul>
      <div class="bg-img">
        <img src="/public/images/school/bg-case.jpg" alt="">
        <div class="mask"></div>
      </div>
    </section>
    <div class="hr"></div>
    <section class="specialized-container module">
      <div class="title-box black">
        <div class="title wow fadeInUp">专业推荐</div>
        <div class="entitle wow fadeInUp">Professional recommendations</div>
      </div>
      <div class="specialized-swiper swiper-container pc">
        <ul class="specialized-list swiper-wrapper">
          <li class="swiper-slide specialized-item wow fadeInUp">
            <a href="professional.html">
              <div class="img">
                <img src="/public/images/school/specialized-1.jpg" alt="工业设计">
              </div>
              <div class="text">
                <div class="title">
                  <div class="cn-title">工业设计 /</div>
                  <div class="en-title">Industrial<br> design</div>
                </div>
                <i class="icon">
                  <img src="/public/images/arrow-next.png" alt="">
                </i>
              </div>
            </a>
          </li>
          <li class="swiper-slide specialized-item wow fadeInUp" data-wow-delay="100ms">
            <a href="professional.html">
              <div class="img">
                <img src="/public/images/school/specialized-2.jpg" alt="交互设计">
              </div>
              <div class="text">
                <div class="title">
                  <div class="cn-title">交互设计 /</div>
                  <div class="en-title">Interaction<br> design</div>
                </div>
                <i class="icon">
                  <img src="/public/images/arrow-next.png" alt="">
                </i>
              </div>
            </a>
          </li>
          <li class="swiper-slide specialized-item wow fadeInUp" data-wow-delay="200ms">
            <a href="professional.html">
              <div class="img">
                <img src="/public/images/school/specialized-3.jpg" alt="交通工具设计">
              </div>
              <div class="text">
                <div class="title">
                  <div class="cn-title">交通工具设计 /</div>
                  <div class="en-title">Vehicle<br> design</div>
                </div>
                <i class="icon">
                  <img src="/public/images/arrow-next.png" alt="">
                </i>
              </div>
            </a>
          </li>
          <li class="swiper-slide specialized-item wow fadeInUp" data-wow-delay="300ms">
            <a href="professional.html">
              <div class="img">
                <img src="/public/images/school/specialized-4.jpg" alt="珠宝设计">
              </div>
              <div class="text">
                <div class="title">
                  <div class="cn-title">珠宝设计 /</div>
                  <div class="en-title">Jewelry<br> design</div>
                </div>
                <i class="icon">
                  <img src="/public/images/arrow-next.png" alt="">
                </i>
              </div>
            </a>
          </li>
          <li class="swiper-slide specialized-item">
            <a href="professional.html">
              <div class="img">
                <img src="/public/images/school/specialized-1.jpg" alt="工业设计">
              </div>
              <div class="text">
                <div class="title">
                  <div class="cn-title">工业设计 /</div>
                  <div class="en-title">Industrial<br> design</div>
                </div>
                <i class="icon">
                  <img src="/public/images/arrow-next.png" alt="">
                </i>
              </div>
            </a>
          </li>
          <li class="swiper-slide specialized-item">
            <a href="professional.html">
              <div class="img">
                <img src="/public/images/school/specialized-2.jpg" alt="交互设计">
              </div>
              <div class="text">
                <div class="title">
                  <div class="cn-title">交互设计 /</div>
                  <div class="en-title">Interaction<br> design</div>
                </div>
                <i class="icon">
                  <img src="/public/images/arrow-next.png" alt="">
                </i>
              </div>
            </a>
          </li>
          <li class="swiper-slide specialized-item">
            <a href="professional.html">
              <div class="img">
                <img src="/public/images/school/specialized-3.jpg" alt="交通工具设计">
              </div>
              <div class="text">
                <div class="title">
                  <div class="cn-title">交通工具设计 /</div>
                  <div class="en-title">Vehicle<br> design</div>
                </div>
                <i class="icon">
                  <img src="/public/images/arrow-next.png" alt="">
                </i>
              </div>
            </a>
          </li>
          <li class="swiper-slide specialized-item">
            <a href="professional.html">
              <div class="img">
                <img src="/public/images/school/specialized-4.jpg" alt="珠宝设计">
              </div>
              <div class="text">
                <div class="title">
                  <div class="cn-title">珠宝设计 /</div>
                  <div class="en-title">Jewelry<br> design</div>
                </div>
                <i class="icon">
                  <img src="/public/images/arrow-next.png" alt="">
                </i>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="specialized-swiper m">
        <ul class="specialized-list">
          <li class="specialized-item wow fadeInUp">
            <a href="professional.html">
              <div class="img">
                <img src="/public/images/school/specialized-1.jpg" alt="工业设计">
              </div>
              <div class="text">
                <div class="title">
                  <div class="cn-title">工业设计 </div>
                  <div class="en-title">Industrial<br> design</div>
                </div>
                <i class="icon">
                  <img src="/public/images/arrow-next.png" alt="">
                </i>
              </div>
            </a>
          </li>
          <li class="specialized-item wow fadeInUp" data-wow-delay="100ms">
            <a href="professional.html">
              <div class="img">
                <img src="/public/images/school/specialized-2.jpg" alt="交互设计">
              </div>
              <div class="text">
                <div class="title">
                  <div class="cn-title">交互设计 </div>
                  <div class="en-title">Interaction<br> design</div>
                </div>
                <i class="icon">
                  <img src="/public/images/arrow-next.png" alt="">
                </i>
              </div>
            </a>
          </li>
          <li class="specialized-item wow fadeInUp" data-wow-delay="200ms">
            <a href="professional.html">
              <div class="img">
                <img src="/public/images/school/specialized-3.jpg" alt="交通工具设计">
              </div>
              <div class="text">
                <div class="title">
                  <div class="cn-title">交通工具设计 </div>
                  <div class="en-title">Vehicle<br> design</div>
                </div>
                <i class="icon">
                  <img src="/public/images/arrow-next.png" alt="">
                </i>
              </div>
            </a>
          </li>
          <li class="specialized-item wow fadeInUp" data-wow-delay="300ms">
            <a href="professional.html">
              <div class="img">
                <img src="/public/images/school/specialized-4.jpg" alt="珠宝设计">
              </div>
              <div class="text">
                <div class="title">
                  <div class="cn-title">珠宝设计 </div>
                  <div class="en-title">Jewelry<br> design</div>
                </div>
                <i class="icon">
                  <img src="/public/images/arrow-next.png" alt="">
                </i>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>

</body>

</html>