<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>College</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="banner-container college-banner wow fadeInUp">
    <img class="pc" src="/public/images/college/college__banner.png" alt="">
    <img class="m" src="/public/images/college/college__banner-m.png" alt="">
    <%= require("html-loader!../components/crumbs/index.html") %>
    <div class="college-banner-search">
      <h3 class="pc">国际院校库</h3>
      <h3 class="m">
        <font><b>国际院校库</b> / </font>International Institution Library
      </h3>
      <form>
          <input placeholder="请输入您要搜索的院校">
          <button type="submit">
            <img src="/public/images/search-btn.png" alt="" class="pc">
            <img src="/public/images/search-btn-m.png" alt="" class="m" width="20rem">
          </button>

      </form>
      <div class="recommend">
        <span>推荐院校：</span>
        <a href="javascript:void(0);">帕森斯设计学院</a>
        <span class="line">|</span>
        <a href="javascript:void(0);">中央圣马丁艺术与设计学院</a>
        <span class="line">|</span>
        <a href="javascript:void(0);">纽约视觉艺术学院</a>
        <span class="line">|</span>
        <a href="javascript:void(0);">罗德岛设计学院</a>
      </div>
    </div>
  </section>

  <section class="college-main-area module">
    <div class="module-box min-center clearfix">
      <div class="college-filter wow fadeInUp">
        <div class="filter-condition">
          <span>国家：</span>
          <div class="filter-condition-box">
            <a href="javascript:void(0);" class="current">全部</a>
            <a href="javascript:void(0);">英国</a>
            <a href="javascript:void(0);">美国</a>
            <a href="javascript:void(0);">法国</a>
            <a href="javascript:void(0);">意大利</a>
            <a href="javascript:void(0);">加拿大</a>
            <a href="javascript:void(0);">澳大利亚</a>
            <a href="javascript:void(0);">欧洲</a>
            <a href="javascript:void(0);">亚洲</a>
            <a href="javascript:void(0);">其他</a>
          </div>
        </div>
        <div class="filter-condition">
          <span>学历：</span>
          <div class="filter-condition-box">
            <a href="javascript:void(0);" class="current">全部</a>
            <a href="javascript:void(0);">本科</a>
            <a href="javascript:void(0);">研究生</a>
          </div>
        </div>
        <div class="filter-condition">
          <span>专业：</span>
          <div class="filter-condition-box">
            <a href="javascript:void(0);" class="current">综合排名</a>
            <a href="javascript:void(0);">纯艺术</a>
            <a href="javascript:void(0);">室内设计</a>
            <a href="javascript:void(0);">建筑设计</a>
            <a href="javascript:void(0);">插画</a>
            <a href="javascript:void(0);">视觉传达</a>

            <a href="javascript:void(0);">平面设计</a>
            <a href="javascript:void(0);">珠宝设计</a>
            <a href="javascript:void(0);">服装设计</a>
            <a href="javascript:void(0);">工业设计</a>
            <a href="javascript:void(0);">交互设计</a>
            <a href="javascript:void(0);">景观设计</a>

            <a href="javascript:void(0);">时尚管理</a>
            <a href="javascript:void(0);">电影学</a>
            <a href="javascript:void(0);">摄影</a>
            <a href="javascript:void(0);">动画</a>
            <a href="javascript:void(0);">品牌管理</a>
            <a href="javascript:void(0);">城市规划</a>
            <a href="javascript:void(0);">绘画</a>
            <a href="javascript:void(0);">游戏设计</a>
            <a href="javascript:void(0);">产品设计</a>
            <a href="javascript:void(0);">数字媒体</a>
            <a href="javascript:void(0);">影视制作</a>
            <a href="javascript:void(0);">时尚买手</a>

            <a href="javascript:void(0);">时尚配饰</a>
            <a href="javascript:void(0);">数字艺术</a>
            <a href="javascript:void(0);">交通工具设计</a>
            <a href="javascript:void(0);">旁侈品管理</a>
            <a href="javascript:void(0);">油画</a>
            <a href="javascript:void(0);">艺术管理</a>
            <a href="javascript:void(0);">艺术策展</a>
            <a href="javascript:void(0);">艺术史论</a>
            <a href="javascript:void(0);">雕塑/装置艺术</a>
            <a href="javascript:void(0);">声效设计</a>
            <a href="javascript:void(0);">键盘</a>
            <a href="javascript:void(0);">声乐</a>

          </div>
        </div>
      </div>

      <div class="main-left-area wow fadeInLeft">
        <!-- <div class="rank-way" style="opacity: 0;" >
            <button class="default-rank">
              <img src="/public/images/default.png">
              <span>综合排名</span>
            </button>
            <button class="hot-rank">
              <img src="/public/images/hot.png">
              <span>热度排名</span>
            </button>
          </div> -->
        <div class="list-title clearfix">
          <h2>国际院校 / International College</h2>
          <!-- <a href="coll.html" class="view-more">查看更多</a> -->
        </div>
        <div class="college-list">
          <a href="school_view.html">
            <div class="college-list-item clearfix wow fadeInUp">
              <div class="item-left">
                <div class="college-icon">
                  <img src="/public/images/college/college-icon1.png" alt="">
                </div>
                <div class="college-intro">
                  <h2>罗德岛设计学院</h2>
                  <h3>Rhode Island School of Design</h3>
                  <p class="red-text">申请难度：4.8 / 学费：$48,000-$49,000</p>
                  <p><b>语言成绩：</b>托福 95；雅思 7.0 </p>
                  <p><b>申请截止：</b>本早申：11月1日；研：1月1日</p>
                  <p><b>优势专业：</b>服装设计、数字媒体、平面设计、</p>
                  <p><b>院校地址：</b>美国罗德岛州</p>
                </div>
              </div>
              <div class="item-right">
                <div class="college-pic">
                  <img src="/public/images/college/college1.png" alt="">
                </div>
              </div>
            </div>
          </a>

          <a href="school_view.html">
            <div class="college-list-item clearfix wow fadeInUp" data-wow-delay="100ms">
              <div class="item-left">
                <div class="college-icon">
                  <img src="/public/images/college/college-icon2.png" alt="">
                </div>
                <div class="college-intro">
                  <h2>罗德岛设计学院</h2>
                  <h3>Rhode Island School of Design</h3>
                  <p class="red-text">申请难度：4.8 / 学费：$48,000-$49,000</p>
                  <p><b>语言成绩：</b>托福 95；雅思 7.0 </p>
                  <p><b>申请截止：</b>本早申：11月1日；研：1月1日</p>
                  <p><b>优势专业：</b>托福 95；服装设计、数字媒体、平面设计、</p>
                  <p><b>院校地址：</b>托福 95；美国罗德岛州</p>
                </div>
              </div>
              <div class="item-right">
                <div class="college-pic">
                  <img src="/public/images/college/college2.png" alt="">
                </div>
              </div>

            </div>
          </a>

          <a href="school_view.html">
            <div class="college-list-item clearfix wow fadeInUp" data-wow-delay="200ms">
              <div class="item-left">
                <div class="college-icon">
                  <img src="/public/images/college/college-icon3.png" alt="">
                </div>
                <div class="college-intro">
                  <h2>罗德岛设计学院</h2>
                  <h3>Rhode Island School of Design</h3>
                  <p class="red-text">申请难度：4.8 / 学费：$48,000-$49,000</p>
                  <p><b>语言成绩：</b>托福 95；雅思 7.0 </p>
                  <p><b>申请截止：</b>本早申：11月1日；研：1月1日</p>
                  <p><b>优势专业：</b>托福 95；服装设计、数字媒体、平面设计、</p>
                  <p><b>院校地址：</b>托福 95；美国罗德岛州</p>
                </div>
              </div>
              <div class="item-right">
                <div class="college-pic">
                  <img src="/public/images/college/college3.png" alt="">
                </div>
              </div>
            </div>
          </a>

          <a href="school_view.html">
            <div class="college-list-item clearfix wow fadeInUp" data-wow-delay="300ms">
              <div class="item-left">
                <div class="college-icon">
                  <img src="/public/images/college/college-icon4.png" alt="">
                </div>
                <div class="college-intro">
                  <h2>罗德岛设计学院</h2>
                  <h3>Rhode Island School of Design</h3>
                  <p class="red-text">申请难度：4.8 / 学费：$48,000-$49,000</p>
                  <p><b>语言成绩：</b>托福 95；雅思 7.0 </p>
                  <p><b>申请截止：</b>本早申：11月1日；研：1月1日</p>
                  <p><b>优势专业：</b>托福 95；服装设计、数字媒体、平面设计、</p>
                  <p><b>院校地址：</b>托福 95；美国罗德岛州</p>
                </div>
              </div>
              <div class="item-right">
                <div class="college-pic">
                  <img src="/public/images/college/college4.png" alt="">
                </div>
              </div>
            </div>
          </a>

          <a href="school_view.html">
            <div class="college-list-item clearfix wow fadeInUp" data-wow-delay="400ms">
              <div class="item-left">
                <div class="college-icon">
                  <img src="/public/images/college/college-icon1.png" alt="">
                </div>
                <div class="college-intro">
                  <h2>罗德岛设计学院</h2>
                  <h3>Rhode Island School of Design</h3>
                  <p class="red-text">申请难度：4.8 / 学费：$48,000-$49,000</p>
                  <p><b>语言成绩：</b>托福 95；雅思 7.0 </p>
                  <p><b>申请截止：</b>本早申：11月1日；研：1月1日</p>
                  <p><b>优势专业：</b>托福 95；服装设计、数字媒体、平面设计、</p>
                  <p><b>院校地址：</b>托福 95；美国罗德岛州</p>
                </div>
              </div>
              <div class="item-right">
                <div class="college-pic">
                  <img src="/public/images/college/college1.png" alt="">
                </div>
              </div>

            </div>
          </a>

          <a href="school_view.html">
            <div class="college-list-item clearfix wow fadeInUp" data-wow-delay="500ms">
              <div class="item-left">
                <div class="college-icon">
                  <img src="/public/images/college/college-icon2.png" alt="">
                </div>
                <div class="college-intro">
                  <h2>罗德岛设计学院</h2>
                  <h3>Rhode Island School of Design</h3>
                  <p class="red-text">申请难度：4.8 / 学费：$48,000-$49,000</p>
                  <p><b>语言成绩：</b>托福 95；雅思 7.0 </p>
                  <p><b>申请截止：</b>本早申：11月1日；研：1月1日</p>
                  <p><b>优势专业：</b>托福 95；服装设计、数字媒体、平面设计、</p>
                  <p><b>院校地址：</b>托福 95；美国罗德岛州</p>
                </div>
              </div>
              <div class="item-right">
                <div class="college-pic">
                  <img src="/public/images/college/college2.png" alt="">
                </div>
              </div>

            </div>
          </a>

          <a href="school_view.html">
            <div class="college-list-item clearfix wow fadeInUp" data-wow-delay="600ms">
              <div class="item-left">
                <div class="college-icon">
                  <img src="/public/images/college/college-icon3.png" alt="">
                </div>
                <div class="college-intro">
                  <h2>罗德岛设计学院</h2>
                  <h3>Rhode Island School of Design</h3>
                  <p class="red-text">申请难度：4.8 / 学费：$48,000-$49,000</p>
                  <p><b>语言成绩：</b>托福 95；雅思 7.0 </p>
                  <p><b>申请截止：</b>本早申：11月1日；研：1月1日</p>
                  <p><b>优势专业：</b>托福 95；服装设计、数字媒体、平面设计、</p>
                  <p><b>院校地址：</b>托福 95；美国罗德岛州</p>
                </div>
              </div>
              <div class="item-right">
                <div class="college-pic">
                  <img src="/public/images/college/college3.png" alt="">
                </div>
              </div>

            </div>
          </a>


        </div>

        <div class="pagination pc">
          <span>上一页</span>
          <a href="" class="current">1</a>
          <a href="">2</a>
          <a href="">3</a>
          <a href="">4</a>
          <a href="">5</a>
          <a href="">下5页</a>
          <a href="">下一页</a>
          <a href="">尾页</a>
        </div>

        <div class="pagination m">
          <span>共81页</span>
          <span>&lt;</span>
          <a href="" class="current">1</a>
          <a href="">2</a>
          <a href="">3</a>
          <a href="">4</a>
          <a href="">5</a>
          <a href="">6</a>
          <a href="">&gt;</a>
        </div>

      </div>
      <div class="main-right-area wow fadeInRight">
        <div class="success-list wow fadeInUp">
          <div class="list-title clearfix">
            <h2>成功榜 / Success list</h2>
            <a href="case.html" class="view-more">查看更多</a>
          </div>
          <div class="list-content">
            <table>
              <thead>
                <tr>
                  <th>姓名</th>
                  <th>国家</th>
                  <th>录取学校</th>
                  <th>专业</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>黄同学</td>
                  <td>亚洲</td>
                  <td>东京艺术大学</td>
                  <td>室内设计</td>
                </tr>
                <tr>
                  <td>黄同学</td>
                  <td>亚洲</td>
                  <td>东京艺术大学</td>
                  <td>室内设计</td>
                </tr>
                <tr>
                  <td>黄同学</td>
                  <td>亚洲</td>
                  <td>东京艺术大学</td>
                  <td>室内设计</td>
                </tr>
                <tr>
                  <td>黄同学</td>
                  <td>亚洲</td>
                  <td>东京艺术大学</td>
                  <td>室内设计</td>
                </tr>
                <tr>
                  <td>黄同学</td>
                  <td>亚洲</td>
                  <td>东京艺术大学</td>
                  <td>室内设计</td>
                </tr>
                <tr>
                  <td>黄同学</td>
                  <td>亚洲</td>
                  <td>东京艺术大学</td>
                  <td>室内设计</td>
                </tr>
                <tr>
                  <td>黄同学</td>
                  <td>亚洲</td>
                  <td>东京艺术大学</td>
                  <td>室内设计</td>
                </tr>
                <tr>
                  <td>黄同学</td>
                  <td>亚洲</td>
                  <td>东京艺术大学</td>
                  <td>室内设计</td>
                </tr>
                <tr>
                  <td>黄同学</td>
                  <td>亚洲</td>
                  <td>东京艺术大学</td>
                  <td>室内设计</td>
                </tr>
                <tr>
                  <td>黄同学</td>
                  <td>亚洲</td>
                  <td>东京艺术大学</td>
                  <td>室内设计</td>
                </tr>
                <tr>
                  <td>黄同学</td>
                  <td>亚洲</td>
                  <td>东京艺术大学</td>
                  <td>室内设计</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="hot-list wow fadeInUp">
          <div class="list-title clearfix">
            <h2>热门院校 / Success list</h2>
            <a href="/college.html" class="view-more">查看更多</a>
          </div>
          <div class="list-content">
            <ul>
              <li>
                <div class="img">
                  <img src="/public/images/college/college-icon1.png">
                </div>
                <span>罗德岛设计学院</span>
              </li>
              <li>
                <div class="img">
                  <img src="/public/images/college/college-icon2.png">
                </div>
                <span>罗德岛设计学院</span>
              </li>
              <li>
                <div class="img">
                  <img src="/public/images/college/college-icon1.png">
                </div>
                <span>罗德岛设计学院</span>
              </li>
              <li>
                <div class="img">
                  <img src="/public/images/college/college-icon2.png">
                </div>
                <span>罗德岛设计学院</span>
              </li>
              <li>
                <div class="img">
                  <img src="/public/images/college/college-icon1.png">
                </div>
                <span>罗德岛设计学院</span>
              </li>
              <li>
                <div class="img">
                  <img src="/public/images/college/college-icon2.png">
                </div>
                <span>罗德岛设计学院</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="information-list wow fadeInUp">
          <div class="list-title clearfix">
            <h2>院校资讯 / University Information</h2>
            <a href="" class="view-more">查看更多</a>
          </div>
          <div class="list-content">
            <ul>
              <li class="clearfix">
                <div class="img">
                  <img src="/public/images/college/college1.png">
                </div>
                <div class="info-text">
                  <h2>院校解析: Dyson和Apple背后大佬的皇艺</h2>
                  <p>Dyson抓住女生,Apple抓住男生。知道吗？</p>
                  <p class="m">2022.6.5</p>
                </div>
              </li>
              <li class="clearfix">
                <div class="img">
                  <img src="/public/images/college/college1.png">
                </div>
                <div class="info-text">
                  <h2>院校解析: Dyson和Apple背后大佬的皇艺</h2>
                  <p>Dyson抓住女生,Apple抓住男生。知道吗？</p>
                  <p class="m">2022.6.5</p>

                </div>
              </li>
              <li class="clearfix">
                <div class="img">
                  <img src="/public/images/college/college1.png">
                </div>
                <div class="info-text">
                  <h2>2020英国大学申请数据发布:中国申请人数创历史新高!</h2>
                  <p>Dyson抓住女生,Apple抓住男生。知道吗？</p>
                  <p class="m">2022.6.5</p>

                </div>
              </li>
              <li class="clearfix">
                <div class="img">
                  <img src="/public/images/college/college1.png">
                </div>
                <div class="info-text">
                  <h2>2020英国大学申请数据发布:中国申请人数创历史新高!</h2>
                  <p>Dyson抓住女生,Apple抓住男生。知道吗？</p>
                  <p class="m">2022.6.5</p>

                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="admission-test">
          <div class="dark-wrapper">
            <h1>测测你的<font>录取概率</font>有多少？</h1>
            <form>
              <div class="form-row two-input">
                <input placeholder="姓名">
                <input placeholder="电话号码">
              </div>
              <div class="form-row">
                <input placeholder="目标院校">
              </div>
              <div class="form-row">
                <button type="submit">开始测试</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>