<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="banner-container college-banner wow fadeInUp">
    <img class="pc" src="/public/images/college/college__banner.png" alt="">
    <img class="m" src="/public/images/college/college__banner-m.png" alt="" width="100%">
    <div class="m">
      <%= require("html-loader!../components/crumbs/index.html") %>
    </div>
    <div class="college-banner-search">
      <!-- <h3 class="pc">国际院校库</h3> -->
      <h3 class="">
        <font>全部资讯 / </font>All information
      </h3>
      <form>
        <input placeholder="请输入您要搜索的院校">
        <button type="submit"><img src="/public/images/search-btn.png" alt=""></button>
      </form>
      <div class="recommend">
        <span>热门搜索：</span>
        <a href="javascript:void(0);">作品集</a>
        <span class="line">|</span>
        <a href="javascript:void(0);">艺术留学</a>
        <span class="line">|</span>
        <a href="javascript:void(0);">回国就业</a>
        <span class="line">|</span>
        <a href="javascript:void(0);">工业设计</a>
        <span class="line">|</span>
        <a href="javascript:void(0);">平面设计</a>
        <span class="line">|</span>
        <a href="javascript:void(0);">建筑设计</a>
      </div>
    </div>
  </section>
  <section class="position-container module pc">
    <div class="module-box min-center">
      <div class="position-nav wow fadeInUp">
        <span>当前位置：</span><a href="index.html">首页</a><i>></i><a href="newslist.html">干货攻略</a>
      </div>
    </div>
  </section>
  <section class="news-container module">
    <div class="module-box min-center">
      <div class="left-layout">
        <div class="news-wrapper">
          <div class="title wow fadeInUp">这里是新闻的标题这里是新闻的标题这里是新闻的标题</div>
          <div class="info wow fadeInUp">
            <span>日期：2022年07月12日</span>
            <span>阅读量：15</span>
          </div>
          <div class="content wow fadeInUp">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nihil, voluptates dolor iusto eum a veniam, minima dolorum necessitatibus eaque laborum ratione quaerat delectus earum provident recusandae doloribus quibusdam ad.
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur ea quas perspiciatis eveniet atque esse, dignissimos aliquam rem. Ipsa blanditiis ducimus sapiente tenetur quisquam ipsum similique, iure est corporis numquam.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis reprehenderit dolores saepe totam maxime quia enim odit. Ut asperiores repellat quibusdam impedit numquam voluptas excepturi officia. Ea incidunt voluptatibus nesciunt.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ullam facere nobis nesciunt hic alias officia aliquid quod. Tenetur eum sit corrupti eaque autem veniam sapiente hic cupiditate esse harum?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nihil, voluptates dolor iusto eum a veniam, minima dolorum necessitatibus eaque laborum ratione quaerat delectus earum provident recusandae doloribus quibusdam ad.
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur ea quas perspiciatis eveniet atque esse, dignissimos aliquam rem. Ipsa blanditiis ducimus sapiente tenetur quisquam ipsum similique, iure est corporis numquam.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis reprehenderit dolores saepe totam maxime quia enim odit. Ut asperiores repellat quibusdam impedit numquam voluptas excepturi officia. Ea incidunt voluptatibus nesciunt.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ullam facere nobis nesciunt hic alias officia aliquid quod. Tenetur eum sit corrupti eaque autem veniam sapiente hic cupiditate esse harum?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nihil, voluptates dolor iusto eum a veniam, minima dolorum necessitatibus eaque laborum ratione quaerat delectus earum provident recusandae doloribus quibusdam ad.
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur ea quas perspiciatis eveniet atque esse, dignissimos aliquam rem. Ipsa blanditiis ducimus sapiente tenetur quisquam ipsum similique, iure est corporis numquam.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis reprehenderit dolores saepe totam maxime quia enim odit. Ut asperiores repellat quibusdam impedit numquam voluptas excepturi officia. Ea incidunt voluptatibus nesciunt.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ullam facere nobis nesciunt hic alias officia aliquid quod. Tenetur eum sit corrupti eaque autem veniam sapiente hic cupiditate esse harum?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nihil, voluptates dolor iusto eum a veniam, minima dolorum necessitatibus eaque laborum ratione quaerat delectus earum provident recusandae doloribus quibusdam ad.
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur ea quas perspiciatis eveniet atque esse, dignissimos aliquam rem. Ipsa blanditiis ducimus sapiente tenetur quisquam ipsum similique, iure est corporis numquam.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis reprehenderit dolores saepe totam maxime quia enim odit. Ut asperiores repellat quibusdam impedit numquam voluptas excepturi officia. Ea incidunt voluptatibus nesciunt.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ullam facere nobis nesciunt hic alias officia aliquid quod. Tenetur eum sit corrupti eaque autem veniam sapiente hic cupiditate esse harum?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nihil, voluptates dolor iusto eum a veniam, minima dolorum necessitatibus eaque laborum ratione quaerat delectus earum provident recusandae doloribus quibusdam ad.
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur ea quas perspiciatis eveniet atque esse, dignissimos aliquam rem. Ipsa blanditiis ducimus sapiente tenetur quisquam ipsum similique, iure est corporis numquam.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis reprehenderit dolores saepe totam maxime quia enim odit. Ut asperiores repellat quibusdam impedit numquam voluptas excepturi officia. Ea incidunt voluptatibus nesciunt.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ullam facere nobis nesciunt hic alias officia aliquid quod. Tenetur eum sit corrupti eaque autem veniam sapiente hic cupiditate esse harum?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nihil, voluptates dolor iusto eum a veniam, minima dolorum necessitatibus eaque laborum ratione quaerat delectus earum provident recusandae doloribus quibusdam ad.
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur ea quas perspiciatis eveniet atque esse, dignissimos aliquam rem. Ipsa blanditiis ducimus sapiente tenetur quisquam ipsum similique, iure est corporis numquam.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis reprehenderit dolores saepe totam maxime quia enim odit. Ut asperiores repellat quibusdam impedit numquam voluptas excepturi officia. Ea incidunt voluptatibus nesciunt.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ullam facere nobis nesciunt hic alias officia aliquid quod. Tenetur eum sit corrupti eaque autem veniam sapiente hic cupiditate esse harum?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nihil, voluptates dolor iusto eum a veniam, minima dolorum necessitatibus eaque laborum ratione quaerat delectus earum provident recusandae doloribus quibusdam ad.
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur ea quas perspiciatis eveniet atque esse, dignissimos aliquam rem. Ipsa blanditiis ducimus sapiente tenetur quisquam ipsum similique, iure est corporis numquam.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis reprehenderit dolores saepe totam maxime quia enim odit. Ut asperiores repellat quibusdam impedit numquam voluptas excepturi officia. Ea incidunt voluptatibus nesciunt.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ullam facere nobis nesciunt hic alias officia aliquid quod. Tenetur eum sit corrupti eaque autem veniam sapiente hic cupiditate esse harum?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nihil, voluptates dolor iusto eum a veniam, minima dolorum necessitatibus eaque laborum ratione quaerat delectus earum provident recusandae doloribus quibusdam ad.
            </p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur ea quas perspiciatis eveniet atque esse, dignissimos aliquam rem. Ipsa blanditiis ducimus sapiente tenetur quisquam ipsum similique, iure est corporis numquam.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis reprehenderit dolores saepe totam maxime quia enim odit. Ut asperiores repellat quibusdam impedit numquam voluptas excepturi officia. Ea incidunt voluptatibus nesciunt.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ullam facere nobis nesciunt hic alias officia aliquid quod. Tenetur eum sit corrupti eaque autem veniam sapiente hic cupiditate esse harum?
            </p>
          </div>
        </div>
      </div>
      <div class="right-layout pc">
        <div class="team-wrapper wow fadeInRight">
          <div class="team-ico" style="background-image: url(/public/images/team/team-ico1.png);">
            <h4>Shurry</h4>
            <p>学校：加州大学伯克利分校</p>
            <p>专业：工业设计</p>
          </div>
          <div class="team-content">
            <h4>导师资历</h4>
            <p>分别于2018、2021年于北京工业大学以及英国皇家艺术学院获得珠宝的学士和硕士学位。 善于利用混合感官与混合媒介进行珠宝、装置以及实验艺术创作。 作品在中国北京、深圳和英国伦敦多地展览。</p>
            <div class="online link">
              <a href="#咨询插件">向老师提问</a>
            </div>
          </div>
        </div>
        <div class="assess-wrapper wow fadeInRight">
          <div class="assess-title">
            免费评估
          </div>
          <form action="" class="assess-message">
            <div class="inp">
              <input type="text" placeholder="您的称呼" name="" id="">
            </div>
            <div class="inp">
              <input type="text" placeholder="联系方式" name="" id="">
            </div>
            <div class="inp">
              <input type="text" placeholder="申请专业" name="" id="">
            </div>
            <div class="inp">
              <input type="text" placeholder="意向院校" name="" id="">
            </div>
            <div class="inp">
              <input type="text" placeholder="计划出国时间" name="" id="">
            </div>
            <button class="assess-btn">获取评估</button>
          </form>
        </div>
        <div class="pop-major-wrapper wow fadeInRight">
          <div class="pop-major-title">
            热门专业
          </div>
          <ul class="pop-major-list">
            <li class="pop-major-item">
              <a href="professional.html">
                <div class="img">
                  <img src="/public/images/team/pop-major-ico1.png" alt="">
                </div>
                <div class="title">
                  <h4>展示空间设计</h4>
                </div>
              </a>
            </li>
            <li class="pop-major-item">
              <a href="professional.html">
                <div class="img">
                  <img src="/public/images/team/pop-major-ico2.png" alt="">
                </div>
                <div class="title">
                  <h4>产品设计</h4>
                </div>
              </a>
            </li>
            <li class="pop-major-item">
              <a href="professional.html">
                <div class="img">
                  <img src="/public/images/team/pop-major-ico3.png" alt="">
                </div>
                <div class="title">
                  <h4>表演</h4>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="top-college-wrapper wow fadeInRight">
          <div class="pop-college-title">
            热门院校
          </div>
          <ul class="pop-college-list">
            <li class="pop-college-item">
              <a href="school_view.html">
                <div class="img">
                  <img src="/public/images/team/pop-college-ico1.png" alt="">
                </div>
                <div class="content">
                  <h4>哥伦比亚大学</h4>
                  <p>申请条件：托福：100</p>
                  <p>学费：$60,784</p>
                </div>
              </a>
            </li>
            <li class="pop-college-item">
              <a href="school_view.html">
                <div class="img">
                  <img src="/public/images/team/pop-college-ico1.png" alt="">
                </div>
                <div class="content">
                  <h4>哥伦比亚大学</h4>
                  <p>申请条件：托福：100</p>
                  <p>学费：$60,784</p>
                </div>
              </a>
            </li>
            <li class="pop-college-item">
              <a href="school_view.html">
                <div class="img">
                  <img src="/public/images/team/pop-college-ico1.png" alt="">
                </div>
                <div class="content">
                  <h4>哥伦比亚大学</h4>
                  <p>申请条件：托福：100</p>
                  <p>学费：$60,784</p>
                </div>
              </a>
            </li>
            <li class="pop-college-item">
              <a href="school_view.html">
                <div class="img">
                  <img src="/public/images/team/pop-college-ico1.png" alt="">
                </div>
                <div class="content">
                  <h4>哥伦比亚大学</h4>
                  <p>申请条件：托福：100</p>
                  <p>学费：$60,784</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="online-kf wow fadeInRight">
          <a href="#在线咨询">
            <img src="/public/images/team/online-kf.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="news-container module m">
    <div class="module-box min-center">
      <div class="right-layout">
        <div class="online-kf wow fadeInRight">
          <a href="">
            <img src="/public/images/team/m/online-kf.png" alt="">
          </a>
        </div>
        <div class="team-wrapper wow fadeInRight">
          <div class="team-ico" style="background-image: url(/public/images/team/team-ico1.png);">
            <h4>Shurry</h4>
            <p>学校：加州大学伯克利分校</p>
            <p>专业：工业设计</p>
          </div>
          <div class="team-content">
            <h4>导师资历</h4>
            <p>分别于2018、2021年于北京工业大学以及英国皇家艺术学院获得珠宝的学士和硕士学位。 善于利用混合感官与混合媒介进行珠宝、装置以及实验艺术创作。 作品在中国北京、深圳和英国伦敦多地展览。</p>
            <div class="online link">
              <a href="javascript:;">向老师提问</a>
            </div>
          </div>
        </div>
        <div class="assess-wrapper wow fadeInRight">
          <div class="assess-title">
            免费评估
          </div>
          <form action="" class="assess-message">
            <div class="inp">
              <input type="text" placeholder="您的称呼" name="" id="">
            </div>
            <div class="inp">
              <input type="text" placeholder="联系方式" name="" id="">
            </div>
            <div class="inp">
              <input type="text" placeholder="申请专业" name="" id="">
            </div>
            <div class="inp">
              <input type="text" placeholder="意向院校" name="" id="">
            </div>
            <div class="inp">
              <input type="text" placeholder="计划出国时间" name="" id="">
            </div>
            <button class="assess-btn">获取评估</button>
          </form>
        </div>
        <div class="pop-major-wrapper wow fadeInRight">
          <div class="pop-major-title">
            热门专业
          </div>
          <ul class="pop-major-list">
            <li class="pop-major-item">
              <a href="">
                <div class="img">
                  <img src="/public/images/team/pop-major-ico1.png" alt="">
                </div>
                <div class="title">
                  <h4>展示空间设计</h4>
                </div>
              </a>
            </li>
            <li class="pop-major-item">
              <a href="">
                <div class="img">
                  <img src="/public/images/team/pop-major-ico2.png" alt="">
                </div>
                <div class="title">
                  <h4>产品设计</h4>
                </div>
              </a>
            </li>
            <li class="pop-major-item">
              <a href="">
                <div class="img">
                  <img src="/public/images/team/pop-major-ico3.png" alt="">
                </div>
                <div class="title">
                  <h4>表演</h4>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="top-college-wrapper wow fadeInRight">
          <div class="pop-college-title">
            热门院校
          </div>
          <ul class="pop-college-list">
            <li class="pop-college-item">
              <a href="">
                <div class="img">
                  <img src="/public/images/team/pop-college-ico1.png" alt="">
                </div>
                <div class="content">
                  <h4>哥伦比亚大学</h4>
                  <p>申请条件：托福：100</p>
                  <p>学费：$60,784</p>
                </div>
              </a>
            </li>
            <li class="pop-college-item">
              <a href="">
                <div class="img">
                  <img src="/public/images/team/pop-college-ico1.png" alt="">
                </div>
                <div class="content">
                  <h4>哥伦比亚大学</h4>
                  <p>申请条件：托福：100</p>
                  <p>学费：$60,784</p>
                </div>
              </a>
            </li>
            <li class="pop-college-item">
              <a href="">
                <div class="img">
                  <img src="/public/images/team/pop-college-ico1.png" alt="">
                </div>
                <div class="content">
                  <h4>哥伦比亚大学</h4>
                  <p>申请条件：托福：100</p>
                  <p>学费：$60,784</p>
                </div>
              </a>
            </li>
            <li class="pop-college-item">
              <a href="">
                <div class="img">
                  <img src="/public/images/team/pop-college-ico1.png" alt="">
                </div>
                <div class="content">
                  <h4>哥伦比亚大学</h4>
                  <p>申请条件：托福：100</p>
                  <p>学费：$60,784</p>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </section>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>