<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>音乐留学 - ICA国际艺术教育</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container wow fadeInUp">
      <img class="pc" src="/public/images/music_shool/banner.png" alt="">
      <img class="m" src="/public/images/music_shool/m/banner.jpg" alt="">
       <!-- 引入面包屑 -->
  <%= require("html-loader!../components/crumbs/index.html") %>
    </section>
    <section class="abroad-container module">
      <div class="title-box">
        <div class="title wow fadeInUp">为什么要音乐留学？</div>
        <div class="desc wow fadeInUp">Why study music abroad?</div>
      </div>
      <ul class="abroad-list">
        <li class="abroad-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/music_shool/abroad-1.png" alt="">
          </div>
          <div class="text">
            <div class="q">为什么要音乐留学？</div>
            <div class="a">音乐名校主要集中国外</div>
          </div>
        </li>
        <li class="abroad-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/music_shool/abroad-2.png" alt="">
          </div>
          <div class="text">
            <div class="q">为什么要音乐留学？</div>
            <div class="a">国外教学品质高</div>
          </div>
        </li>
        <li class="abroad-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/music_shool/abroad-3.png" alt="">
          </div>
          <div class="text">
            <div class="q">为什么要音乐留学？</div>
            <div class="a">专业方向分类细致</div>
          </div>
        </li>
        <li class="abroad-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/music_shool/abroad-4.png" alt="">
          </div>
          <div class="text">
            <div class="q">为什么要音乐留学？</div>
            <div class="a">音乐文化底蕴深厚</div>
          </div>
        </li>
        <li class="abroad-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/music_shool/abroad-5.png" alt="">
          </div>
          <div class="text">
            <div class="q">为什么要音乐留学？</div>
            <div class="a">国际音乐名人诞生地</div>
          </div>
        </li>
        <li class="abroad-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/music_shool/abroad-6.png" alt="">
          </div>
          <div class="text">
            <div class="q">为什么要音乐留学？</div>
            <div class="a">可以拖宽视野和提高专业能力</div>
          </div>
        </li>
      </ul>
    </section>
    <section class="colleges-container module bg-module">
      <div class="title-box pc">
        <div class="title white wow fadeInUp">热门院校 / Popular Colleges</div>
      </div>
      <div class="title-box m">
        <div class="title wow fadeInUp white">热门院校</div>
        <div class="desc wow fadeInUp white">Popular Colleges</div>
      </div>
      <ul class="colleges-list min-center">
        <li class="colleges-item wow pulse">
          <div class="logo">
            <img src="/public/images/music_shool/colleges-1.png" alt="">
          </div>
          <div class="text">
            <div class="title">柯蒂斯音乐学院</div>
            <div class="en-title">Curtis Institute of Music</div>
          </div>
        </li>
        <li class="colleges-item wow pulse">
          <div class="logo">
            <img src="/public/images/music_shool/colleges-2.png" alt="">
          </div>
          <div class="text">
            <div class="title">伯克利音乐学院</div>
            <div class="en-title">Berklee College of Music</div>
          </div>
        </li>
        <li class="colleges-item wow pulse">
          <div class="logo">
            <img src="/public/images/music_shool/colleges-3.png" alt="">
          </div>
          <div class="text">
            <div class="title">英国皇家音乐学院</div>
            <div class="en-title">Royal College of Music</div>
          </div>
        </li>
        <li class="colleges-item wow pulse">
          <div class="logo">
            <img src="/public/images/music_shool/colleges-4.png" alt="">
          </div>
          <div class="text">
            <div class="title">伯克利音乐学院</div>
            <div class="en-title">Berklee College of Music</div>
          </div>
        </li>
        <li class="colleges-item wow pulse">
          <div class="logo">
            <img src="/public/images/music_shool/colleges-5.png" alt="">
          </div>
          <div class="text">
            <div class="title">伦敦大学金史密斯</div>
            <div class="en-title">Goldsmiths University</div>
          </div>
        </li>
        <li class="colleges-item wow pulse">
          <div class="logo">
            <img src="/public/images/music_shool/colleges-1.png" alt="">
          </div>
          <div class="text">
            <div class="title">柯蒂斯音乐学院</div>
            <div class="en-title">Curtis Institute of Music</div>
          </div>
        </li>
        <li class="colleges-item wow pulse">
          <div class="logo">
            <img src="/public/images/music_shool/colleges-2.png" alt="">
          </div>
          <div class="text">
            <div class="title">伯克利音乐学院</div>
            <div class="en-title">Berklee College of Music</div>
          </div>
        </li>
        <li class="colleges-item wow pulse">
          <div class="logo">
            <img src="/public/images/music_shool/colleges-3.png" alt="">
          </div>
          <div class="text">
            <div class="title">英国皇家音乐学院</div>
            <div class="en-title">Royal College of Music</div>
          </div>
        </li>
        <li class="colleges-item wow pulse">
          <div class="logo">
            <img src="/public/images/music_shool/colleges-4.png" alt="">
          </div>
          <div class="text">
            <div class="title">伯克利音乐学院</div>
            <div class="en-title">Berklee College of Music</div>
          </div>
        </li>
        <li class="colleges-item wow pulse">
          <div class="logo">
            <img src="/public/images/music_shool/colleges-5.png" alt="">
          </div>
          <div class="text">
            <div class="title">伦敦大学金史密斯</div>
            <div class="en-title">Goldsmiths University</div>
          </div>
        </li>
      </ul>
      <div class="bg-img">
        <img src="/public/images/music_shool/bg-colleges.png" alt="">
        <div class="mask"></div>
      </div>
    </section>
    <section class="professional-container module bg-module">
      <div class="title-box pc">
        <div class="title wow fadeInUp">
          专业方向 / Professional Direction
        </div>
      </div>
      <div class="title-box">
        <div class="title wow fadeInUp">专业方向</div>
        <div class="desc wow fadeInUp">Professional Direction</div>
      </div>
      <div class="bg-img">
        <img src="/public/images/music_shool/bg-professional.png" alt="">
      </div>
      <ul class="professional-table">
        <li class="professional-tr wow fadeInUp col-3">
          <div class="professional-td">
            <div class="img">
              <img src="/public/images/music_shool/professional-1.png" alt="音乐制作">
            </div>
            <div class="title">音乐制作</div>
          </div>
          <div class="professional-td">
            <div class="img">
              <img src="/public/images/music_shool/professional-2.png" alt="流行音乐">
            </div>
            <div class="title">流行音乐</div>
          </div>
          <div class="professional-td">
            <div class="img">
              <img src="/public/images/music_shool/professional-3.png" alt="歌曲创作">
            </div>
            <div class="title">歌曲创作</div>
          </div>
        </li>
        <li class="professional-tr wow fadeInUp col-4">
          <div class="professional-td">
            <div class="img">
              <img src="/public/images/music_shool/professional-4.png" alt="电影配乐">
            </div>
            <div class="title">电影配乐</div>
          </div>
          <div class="professional-td">
            <div class="img">
              <img src="/public/images/music_shool/professional-5.png" alt="音乐剧">
            </div>
            <div class="title">音乐剧</div>
          </div>
          <div class="professional-td">
            <div class="img">
              <img src="/public/images/music_shool/professional-6.png" alt="电子音乐">
            </div>
            <div class="title">电子音乐</div>
          </div>
          <div class="professional-td">
            <div class="img">
              <img src="/public/images/music_shool/professional-7.png" alt="声音艺术">
            </div>
            <div class="title">声音艺术</div>
          </div>
        </li>
        <li class="professional-tr wow fadeInUp col-5">
          <div class="professional-td">
            <div class="img">
              <img src="/public/images/music_shool/professional-8.png" alt="管弦乐">
            </div>
            <div class="title">管弦乐</div>
          </div>
          <div class="professional-td">
            <div class="img">
              <img src="/public/images/music_shool/professional-9.png" alt="爵士乐">
            </div>
            <div class="title">爵士乐</div>
          </div>
          <div class="professional-td">
            <div class="img">
              <img src="/public/images/music_shool/professional-10.png" alt="钢琴">
            </div>
            <div class="title">钢琴</div>
          </div>
          <div class="professional-td">
            <div class="img">
              <img src="/public/images/music_shool/professional-11.png" alt="作曲与指挥">
            </div>
            <div class="title">作曲与指挥</div>
          </div>
          <div class="professional-td">
            <div class="img">
              <img src="/public/images/music_shool/professional-12.png" alt="古典现代表演">
            </div>
            <div class="title">古典现代表演</div>
          </div>
        </li>
        <li class="professional-tr wow fadeInUp col-3">
          <div class="professional-td">
            <div class="img">
              <img src="/public/images/music_shool/professional-13.png" alt="音乐理论">
            </div>
            <div class="title">音乐理论</div>
          </div>
          <div class="professional-td">
            <div class="img">
              <img src="/public/images/music_shool/professional-14.png" alt="音乐管理">
            </div>
            <div class="title">音乐管理</div>
          </div>
          <div class="professional-td">
            <div class="img">
              <img src="/public/images/music_shool/professional-15.png" alt="音乐教育">
            </div>
            <div class="title">音乐教育</div>
          </div>
        </li>
      </ul>
    </section>
    <section class="team-container module">
      <div class="title-box pc">
        <div class="title wow fadeInUp">导师团队 / Mentor Team</div>
      </div>
      <div class="title-box m">
        <div class="title wow fadeInUp">导师团队</div>
        <div class="desc wow fadeInUp">Mentor Team</div>
      </div>
      <ul class="team-list">
        <li class="team-item wow fadeInUp">
          <div class="photo">
            <img src="/public/images/music_shool/team1.jpg" alt="">
          </div>
          <div class="text-layout">
            <div class="text">
              <div class="fullname">LUO YINZI</div>
              <div class="info">
                <p>专业能力：音乐制作 </p>
                <p>从业经验：15 年</p>
                <p>毕业院校：皇家伯明翰音乐学院</p>
              </div>
              <div class="desc">
                研究生毕业于皇家伯明翰音乐学院音乐技术专业，有声小说《当世界离我远去》音乐制作。
              </div>
            </div>
            <div class="hover">
              <div class="title">设计理念</div>
              <div class="cont">
                研究生毕业于皇家伯明翰音乐学院音乐技术专业，有声小说《当世界离我远去》音乐制作，Voxel Brunch 游戏音乐音效制作，与BBC导演合作参与制作与配乐。担任上海世博会舞台音乐制作。
              </div>
            </div>
          </div>
        </li>
        <li class="team-item wow fadeInUp">
          <div class="photo">
            <img src="/public/images/music_shool/team1.jpg" alt="">
          </div>
          <div class="text-layout">
            <div class="text">
              <div class="fullname">LUO YINZI</div>
              <div class="info">
                <p>专业能力：音乐制作 </p>
                <p>从业经验：15 年</p>
                <p>毕业院校：皇家伯明翰音乐学院</p>
              </div>
              <div class="desc">
                研究生毕业于皇家伯明翰音乐学院音乐技术专业，有声小说《当世界离我远去》音乐制作。
              </div>
            </div>
            <div class="hover">
              <div class="title">设计理念</div>
              <div class="cont">
                研究生毕业于皇家伯明翰音乐学院音乐技术专业，有声小说《当世界离我远去》音乐制作，Voxel Brunch 游戏音乐音效制作，与BBC导演合作参与制作与配乐。担任上海世博会舞台音乐制作。
              </div>
            </div>
          </div>
        </li>
        <li class="team-item wow fadeInUp">
          <div class="photo">
            <img src="/public/images/music_shool/team1.jpg" alt="">
          </div>
          <div class="text-layout">
            <div class="text">
              <div class="fullname">LUO YINZI</div>
              <div class="info">
                <p>专业能力：音乐制作 </p>
                <p>从业经验：15 年</p>
                <p>毕业院校：皇家伯明翰音乐学院</p>
              </div>
              <div class="desc">
                研究生毕业于皇家伯明翰音乐学院音乐技术专业，有声小说《当世界离我远去》音乐制作。
              </div>
            </div>
            <div class="hover">
              <div class="title">设计理念</div>
              <div class="cont">
                研究生毕业于皇家伯明翰音乐学院音乐技术专业，有声小说《当世界离我远去》音乐制作，Voxel Brunch 游戏音乐音效制作，与BBC导演合作参与制作与配乐。担任上海世博会舞台音乐制作。
              </div>
            </div>
          </div>
        </li>
        <li class="team-item wow fadeInUp">
          <div class="photo">
            <img src="/public/images/music_shool/team1.jpg" alt="">
          </div>
          <div class="text-layout">
            <div class="text">
              <div class="fullname">LUO YINZI</div>
              <div class="info">
                <p>专业能力：音乐制作 </p>
                <p>从业经验：15 年</p>
                <p>毕业院校：皇家伯明翰音乐学院</p>
              </div>
              <div class="desc">
                研究生毕业于皇家伯明翰音乐学院音乐技术专业，有声小说《当世界离我远去》音乐制作。
              </div>
            </div>
            <div class="hover">
              <div class="title">设计理念</div>
              <div class="cont">
                研究生毕业于皇家伯明翰音乐学院音乐技术专业，有声小说《当世界离我远去》音乐制作，Voxel Brunch 游戏音乐音效制作，与BBC导演合作参与制作与配乐。担任上海世博会舞台音乐制作。
              </div>
            </div>
          </div>
        </li>
        <li class="team-item wow fadeInUp">
          <div class="photo">
            <img src="/public/images/music_shool/team1.jpg" alt="">
          </div>
          <div class="text-layout">
            <div class="text">
              <div class="fullname">LUO YINZI</div>
              <div class="info">
                <p>专业能力：音乐制作 </p>
                <p>从业经验：15 年</p>
                <p>毕业院校：皇家伯明翰音乐学院</p>
              </div>
              <div class="desc">
                研究生毕业于皇家伯明翰音乐学院音乐技术专业，有声小说《当世界离我远去》音乐制作。
              </div>
            </div>
            <div class="hover">
              <div class="title">设计理念</div>
              <div class="cont">
                研究生毕业于皇家伯明翰音乐学院音乐技术专业，有声小说《当世界离我远去》音乐制作，Voxel Brunch 游戏音乐音效制作，与BBC导演合作参与制作与配乐。担任上海世博会舞台音乐制作。
              </div>
            </div>
          </div>
        </li>
        <li class="team-item wow fadeInUp">
          <div class="photo">
            <img src="/public/images/music_shool/team1.jpg" alt="">
          </div>
          <div class="text-layout">
            <div class="text">
              <div class="fullname">LUO YINZI</div>
              <div class="info">
                <p>专业能力：音乐制作 </p>
                <p>从业经验：15 年</p>
                <p>毕业院校：皇家伯明翰音乐学院</p>
              </div>
              <div class="desc">
                研究生毕业于皇家伯明翰音乐学院音乐技术专业，有声小说《当世界离我远去》音乐制作。
              </div>
            </div>
            <div class="hover">
              <div class="title">设计理念</div>
              <div class="cont">
                研究生毕业于皇家伯明翰音乐学院音乐技术专业，有声小说《当世界离我远去》音乐制作，Voxel Brunch 游戏音乐音效制作，与BBC导演合作参与制作与配乐。担任上海世博会舞台音乐制作。
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section class="features-container module bg-module">
      <div class="title-box pc">
        <div class="title white wow fadeInUp">我们的特色 / Our Features</div>
      </div>
      <div class="title-box m">
        <div class="title white wow fadeInUp">我们的特色</div>
        <div class="desc white wow fadeInUp">Our Features</div>
      </div>
      <div class="features-content wow fadeInUp">
        <div class="img-box">
          <ul class="img-list">
            <li class="img-item on">
              <img src="/public/images/music_shool/features1.jpg" alt="国际化教学团队">
            </li>
            <li class="img-item">
              <img src="/public/images/music_shool/features1.jpg" alt="国外院校音乐资源">
            </li>
            <li class="img-item">
              <img src="/public/images/music_shool/features1.jpg" alt="学习+研究+实践的产学研模式">
            </li>
            <li class="img-item">
              <img src="/public/images/music_shool/features1.jpg" alt="多个名校申请经验">
            </li>
          </ul>
        </div>
        <ul class="text-list">
          <li class="text-item on">
            <div class="cn-title">国际化教学团队</div>
            <div class="en-title">International teaching team</div>
          </li>
          <li class="text-item">
            <div class="cn-title">国外院校音乐资源</div>
            <div class="en-title">Music resources of foreign colleges and universities</div>
          </li>
          <li class="text-item">
            <div class="cn-title">学习+研究+实践的产学研模式</div>
            <div class="en-title">
              learning + research + practice
              Production-University-Research
              Model
            </div>
          </li>
          <li class="text-item">
            <div class="cn-title">国个名校申请经验</div>
            <div class="en-title">
              National famous school
              application experience
            </div>
          </li>
        </ul>
      </div>
      <div class="bg-img">
        <img src="/public/images/music_shool/bg-features.jpg" alt="">
        <div class="mask"></div>
      </div>
    </section>
    <section class="lessons-container module" id="vue-lessons">
      <div class="title-box pc">
        <div class="title wow fadeInUp">音乐课程 / Music Lessons</div>
      </div>
      <div class="title-box m">
        <div class="title wow fadeInUp">音乐课程</div>
        <div class="desc wow fadeInUp">Music Lessons</div>
      </div>
      <div class="lessons-content">
        <ul class="lessons-tab-list wow fadeInUp">
          <li class="lessons-tab-item" :class="{on:swiperIndex === index}" v-for="(item, index) in lessonsList"
            @click="switchTo(index)" :key="item.id">
            <div class="img">
              <img :src="item.ico" :alt="item.title">
            </div>
            <p class="title">{{item.title}}</p>
          </li>
        </ul>
        <div class="lessons-swiper wow fadeInUp swiper-container">
          <ul class="lessons-list swiper-wrapper">
            <li class="lessons-item swiper-slide" v-for="(item, index) in lessonsList">
              <div class="img">
                <img :src="item.ico" :alt="item.title">
              </div>
              <div class="text">
                <div class="title">{{item.title}}</div>
                <div class="cont" v-html="item.content"></div>
              </div>
            </li>
          </ul>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </section>
    <section class="process-container module">
      <div class="title-box pc">
        <div class="title white wow fadeInUp">学习流程 / Learning Process</div>
      </div>
      <div class="title-box m">
        <div class="title white wow fadeInUp">学习流程</div>
        <div class="desc white wow fadeInUp">Learning Process</div>
      </div>
      <div class="process-content">
        <ul class="process-list">
          <li class="process-item wow fadeInRight" data-wow-delay="0">
            <div class="text">
              <div class="title">导师<br>评估</div>
              <div class="en-title">Teacher evaluation</div>
            </div>
            <div class="img">
              <img src="/public/images/music_shool/process-1.jpg" alt="导师评估">
            </div>
          </li>
          <li class="process-item wow fadeInRight" data-wow-delay="100ms">
            <div class="text">
              <div class="title">出国<br>规划</div>
              <div class="en-title">Planning going abroad</div>
            </div>
            <div class="img">
              <img src="/public/images/music_shool/process-2.jpg" alt="出国规划">
            </div>
          </li>
          <li class="process-item wow fadeInRight" data-wow-delay="200ms">
            <div class="text">
              <div class="title">基础<br>课程</div>
              <div class="en-title">Basic course</div>
            </div>
            <div class="img">
              <img src="/public/images/music_shool/process-3.jpg" alt="基础课程">
            </div>
          </li>
          <li class="process-item wow fadeInRight" data-wow-delay="300ms">
            <div class="text">
              <div class="title">技能<br>课程</div>
              <div class="en-title">Skills courses</div>
            </div>
            <div class="img">
              <img src="/public/images/music_shool/process-4.jpg" alt="技能课程">
            </div>
          </li>
          <li class="process-item wow fadeInRight" data-wow-delay="400ms">
            <div class="text">
              <div class="title">作品集<br>录制</div>
              <div class="en-title">Collection recording</div>
            </div>
            <div class="img">
              <img src="/public/images/music_shool/process-5.jpg" alt="作品集录制">
            </div>
          </li>
          <li class="process-item wow fadeInRight" data-wow-delay="500ms">
            <div class="text">
              <div class="title">导师<br>审核</div>
              <div class="en-title">Mentor audit</div>
            </div>
            <div class="img">
              <img src="/public/images/music_shool/process-6.jpg" alt="导师审核">
            </div>
          </li>
          <li class="process-item wow fadeInRight" data-wow-delay="600ms">
            <div class="text">
              <div class="title">院校<br>申请</div>
              <div class="en-title">Institution application</div>
            </div>
            <div class="img">
              <img src="/public/images/music_shool/process-7.jpg" alt="院校申请">
            </div>
          </li>
          <li class="process-item wow fadeInRight" data-wow-delay="700ms">
            <div class="text">
              <div class="title">出国<br>准备</div>
              <div class="en-title">Go abroad to prepare</div>
            </div>
            <div class="img">
              <img src="/public/images/music_shool/process-8.jpg" alt="出国准备">
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="case-container module bg-module">
      <div class="title-box pc">
        <div class="title white wow fadeInUp">成功案例 / Success Case</div>
      </div>
      <div class="title-box m">
        <div class="title white wow fadeInUp">成功案例</div>
        <div class="desc white wow fadeInUp">Success Case</div>
      </div>
      <ul class="case-list">
        <li class="case-item wow fadeInUp">
          <a href="case.html">
            <div class="img">
              <img src="/public/images/music_shool/case1.jpg" alt="">
              <a class="more"></a>
            </div>
            <div class="text">
              <div class="title">洛杉矶音乐学院</div>
              <div class="desc">
                洛杉矶音乐学院的简单介绍内容，洛杉矶音乐学 院的简单介绍内容，洛杉矶音乐学院的简单介。
              </div>
            </div>
          </a>
        </li>
        <li class="case-item wow fadeInUp">
          <a href="case.html">
            <div class="img">
              <img src="/public/images/music_shool/case1.jpg" alt="">
              <a class="more"></a>
            </div>
            <div class="text">
              <div class="title">洛杉矶音乐学院</div>
              <div class="desc">
                洛杉矶音乐学院的简单介绍内容，洛杉矶音乐学 院的简单介绍内容，洛杉矶音乐学院的简单介。
              </div>
            </div>
          </a>
        </li>
        <li class="case-item wow fadeInUp">
          <a href="case.html">
            <div class="img">
              <img src="/public/images/music_shool/case1.jpg" alt="">
              <a class="more"></a>
            </div>
            <div class="text">
              <div class="title">洛杉矶音乐学院</div>
              <div class="desc">
                洛杉矶音乐学院的简单介绍内容，洛杉矶音乐学 院的简单介绍内容，洛杉矶音乐学院的简单介。
              </div>
            </div>
          </a>
        </li>
        <li class="case-item wow fadeInUp">
          <a href="case.html">
            <div class="img">
              <img src="/public/images/music_shool/case1.jpg" alt="">
              <a class="more"></a>
            </div>
            <div class="text">
              <div class="title">洛杉矶音乐学院</div>
              <div class="desc">
                洛杉矶音乐学院的简单介绍内容，洛杉矶音乐学 院的简单介绍内容，洛杉矶音乐学院的简单介。
              </div>
            </div>
          </a>
        </li>
        <li class="case-item wow fadeInUp">
          <a href="case.html">
            <div class="img">
              <img src="/public/images/music_shool/case1.jpg" alt="">
              <a class="more"></a>
            </div>
            <div class="text">
              <div class="title">洛杉矶音乐学院</div>
              <div class="desc">
                洛杉矶音乐学院的简单介绍内容，洛杉矶音乐学 院的简单介绍内容，洛杉矶音乐学院的简单介。
              </div>
            </div>
          </a>
        </li>
        <li class="case-item wow fadeInUp">
          <a href="case.html">
            <div class="img">
              <img src="/public/images/music_shool/case1.jpg" alt="">
              <a class="more"></a>
            </div>
            <div class="text">
              <div class="title">洛杉矶音乐学院</div>
              <div class="desc">
                洛杉矶音乐学院的简单介绍内容，洛杉矶音乐学 院的简单介绍内容，洛杉矶音乐学院的简单介。
              </div>
            </div>
          </a>
        </li>
        <li class="case-item wow fadeInUp">
          <a href="case.html">
            <div class="img">
              <img src="/public/images/music_shool/case1.jpg" alt="">
              <a class="more"></a>
            </div>
            <div class="text">
              <div class="title">洛杉矶音乐学院</div>
              <div class="desc">
                洛杉矶音乐学院的简单介绍内容，洛杉矶音乐学 院的简单介绍内容，洛杉矶音乐学院的简单介。
              </div>
            </div>
          </a>
        </li>
        <li class="case-item wow fadeInUp">
          <a href="case.html">
            <div class="img">
              <img src="/public/images/music_shool/case1.jpg" alt="">
              <a class="more"></a>
            </div>
            <div class="text">
              <div class="title">洛杉矶音乐学院</div>
              <div class="desc">
                洛杉矶音乐学院的简单介绍内容，洛杉矶音乐学 院的简单介绍内容，洛杉矶音乐学院的简单介。
              </div>
            </div>
          </a>
        </li>
      </ul>
      <div class="bg-img">
        <img src="/public/images/music_shool/bg-case.jpg" alt="">
        <div class="mask"></div>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
      <script src="/public/js/vue.min.js"></script>
      <script>
        window.lessonsList = [
          {
            id: 0,
            title: "音乐基础课程",
            ico: "/public/images/music_shool/lessons-1.jpg",
            content: `<p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>
                  <p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>`
          },
          {
            id: 1,
            title: "音乐专业课程",
            ico: "/public/images/music_shool/lessons-2.jpg",
            content: `<p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>
                  <p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>`
          },
          {
            id: 2,
            title: "音乐素养提升",
            ico: "/public/images/music_shool/lessons-2.jpg",
            content: `<p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>
                  <p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>`
          },
          {
            id: 3,
            title: "定向针对强化",
            ico: "/public/images/music_shool/lessons-2.jpg",
            content: `<p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>
                  <p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>`
          },
          {
            id: 4,
            title: "海外大师课",
            ico: "/public/images/music_shool/lessons-2.jpg",
            content: `<p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>
                  <p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>`
          },
          {
            id: 5,
            title: "作品集制作",
            ico: "/public/images/music_shool/lessons-2.jpg",
            content: `<p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>
                  <p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>`
          },
          {
            id: 6,
            title: "音乐特训营与实践",
            ico: "/public/images/music_shool/lessons-2.jpg",
            content: `<p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>
                  <p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>`
          },
          {
            id: 7,
            title: "模拟面试与考核",
            ico: "/public/images/music_shool/lessons-2.jpg",
            content: `<p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>
                  <p>
                    课程通过 1-3 人 Studio 及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。课程通过 1-3 人 Studio
                    及小班选修课的模式进行授课，引导学生构建出作为一个即将成为音乐专业学生的必备知识体系。
                  </p>`
          },
        ]
      </script>
</body>

</html>