<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>College</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="banner-container professional-banner">
    <img class="pc" src="/public/images/abroad/abroad-bg.png" alt="">
    <img class="m" src="/public/images/abroad/abroad-bg-m.png" alt="">

    <%= require("html-loader!../components/crumbs/index.html") %>
  </section>

  <section class="analysis-container module">
    <div class="module-box min-center">
      <div class="title-box text-white pc">
        <div class="cn-title wow fadeInLeft">艺术留学国家分析 / </div>
        <div class="en-title wow fadeInRight">Analysis of Countries<br>Studying in Arts</div>
      </div>
      <div class="title-box white m">
        <div class="cn-title wow fadeInLeft">艺术留学国家分析</div>
        <div class="en-title wow fadeInRight">Analysis of Countries Studying in Arts</div>
      </div>       
      <ul class="analysis-tab-list">
        <li class="analysis-tab-item wow fadeInLeft on">美国</li>
        <li class="analysis-tab-item wow fadeInLeft ">德国</li>
        <li class="analysis-tab-item wow fadeInLeft ">英国</li>
        <li class="analysis-tab-item wow fadeInLeft ">法国</li>
        <li class="analysis-tab-item wow fadeInLeft ">意大利</li>
        <li class="analysis-tab-item wow fadeInLeft ">北欧</li>
      </ul>
      <div class="analysis-content">
        <div class="analysis-content-item on">
          <div class="item-box">
            <h3>
              <div class="country"><b>美国</b> / <font style="color: #606060;">USA</font>
              </div>
              <div class="num">4/</div>
            </h3>
            <div class="text">
              <h5>性价比</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>安全性</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>优势专业</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>费用</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
            </div>
          </div>
          <img src="/public/images/abroad/paris.png" class="bg">
        </div>

        <div class="analysis-content-item">
          <div class="item-box">
            <h3>
              <div class="country"><b>德国</b> / <font style="color: #606060;">Germany</font>
              </div>
              <div class="num">4/</div>
            </h3>
            <div class="text">
              <h5>性价比</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>安全性</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>优势专业</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>费用</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
            </div>
          </div>
          <img src="/public/images/abroad/paris.png" class="bg">
        </div>

        <div class="analysis-content-item">
          <div class="item-box">
            <h3>
              <div class="country"><b>英国</b> / <font style="color: #606060;">UK</font>
              </div>
              <div class="num">4/</div>
            </h3>
            <div class="text">
              <h5>性价比</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>安全性</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>优势专业</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>费用</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
            </div>
          </div>
          <img src="/public/images/abroad/paris.png" class="bg">
        </div>

        <div class="analysis-content-item">
          <div class="item-box">
            <h3>
              <div class="country"><b>法国</b> / <font style="color: #606060;">France</font>
              </div>
              <div class="num">4/</div>
            </h3>
            <div class="text">
              <h5>性价比</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>安全性</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>优势专业</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>费用</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
            </div>
          </div>
        </div>

        <div class="analysis-content-item">
          <div class="item-box">
            <h3>
              <div class="country"><b>意大利</b> / <font style="color: #606060;">Italy</font>
              </div>
              <div class="num">4/</div>
            </h3>
            <div class="text">
              <h5>性价比</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>安全性</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>优势专业</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>费用</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
            </div>
          </div>
        </div>

        <div class="analysis-content-item">
          <div class="item-box">
            <h3>
              <div class="country"><b>北欧</b> / <font style="color: #606060;">North</font>
              </div>
              <div class="num">4/</div>
            </h3>
            <div class="text">
              <h5>性价比</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>安全性</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>优势专业</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>费用</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="requirements-container module">
    <div class="module-box min-center">
      <div class="title-box text-white pc">
        <div class="cn-title wow fadeInLeft">各个国家申请要求 / </div>
        <div class="en-title wow fadeInRight">Application Requirements<br>of Each Country</div>
      </div>
      <div class="title-box white m">
        <div class="cn-title wow fadeInLeft">各个国家申请要求</div>
        <div class="en-title wow fadeInRight">Application Requirements of Each Country</div>
      </div>        
      <ul class="requirements-tab-list">
        <li class="requirements-tab-item  on">美国</li>
        <li class="requirements-tab-item ">德国</li>
        <li class="requirements-tab-item ">英国</li>
        <li class="requirements-tab-item ">法国</li>
        <li class="requirements-tab-item ">意大利</li>
        <li class="requirements-tab-item ">北欧</li>
      </ul>
      <div class="requirements-content">
        <div class="requirements-content-item on">
          <div class="item-box">
            <h3>
              <div class="country"><b>美国</b> / <font style="color: #606060;">USA</font>
              </div>
              <div class="num">4/</div>
            </h3>
            <div class="text">
              <h5>性价比</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>安全性</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>优势专业</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>费用</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
            </div>
          </div>
          <img src="/public/images/abroad/paris.png" class="bg">
        </div>

        <div class="requirements-content-item">
          <div class="item-box">
            <h3>
              <div class="country"><b>德国</b> / <font style="color: #606060;">Germany</font>
              </div>
              <div class="num">4/</div>
            </h3>
            <div class="text">
              <h5>性价比</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>安全性</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>优势专业</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>费用</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
            </div>
          </div>
        </div>

        <div class="requirements-content-item">
          <div class="item-box">
            <h3>
              <div class="country"><b>英国</b> / <font style="color: #606060;">Uk</font>
              </div>
              <div class="num">4/</div>
            </h3>
            <div class="text">
              <h5>性价比</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>安全性</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>优势专业</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>费用</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
            </div>
          </div>
        </div>

        <div class="requirements-content-item">
          <div class="item-box">
            <h3>
              <div class="country"><b>法国</b> / <font style="color: #606060;">France</font>
              </div>
              <div class="num">4/</div>
            </h3>
            <div class="text">
              <h5>性价比</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>安全性</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>优势专业</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>费用</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
            </div>
          </div>
        </div>

        <div class="requirements-content-item">
          <div class="item-box">
            <h3>
              <div class="country"><b>意大利</b> / <font style="color: #606060;">Italy</font>
              </div>
              <div class="num">4/</div>
            </h3>
            <div class="text">
              <h5>性价比</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>安全性</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>优势专业</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>费用</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
            </div>
          </div>
        </div>

        <div class="requirements-content-item">
          <div class="item-box">
            <h3>
              <div class="country"><b>北欧</b> / <font style="color: #606060;">North</font>
              </div>
              <div class="num">4/</div>
            </h3>
            <div class="text">
              <h5>性价比</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>安全性</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>优势专业</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
              <h5>费用</h5>
              <p>一般要求3~5个完整的作品集项目;偏重创意,个性化,可塑性。</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="process-container module">
    <div class="module-box min-center">
      <div class="title-box text-white pc">
        <div class="cn-title wow fadeInLeft">艺术留学申请流程 / </div>
        <div class="en-title wow fadeInRight">Application process<br>of art study abroad</div>
      </div>
      <div class="title-box black m">
        <div class="cn-title wow fadeInLeft">艺术留学申请流程</div>
        <div class="en-title wow fadeInRight">Application process of art study abroad</div>
      </div>       
      <div class="process-pic">
        <ul>
          <li>
            <div class="img"><img src="/public/images/abroad/process1.png"></div>
            <div class="text">评估测试</div>
            <div class="hover"></div>
          </li>
          <li>
            <div class="img"><img src="/public/images/abroad/process2.png"></div>
            <div class="text">资料准备</div>
            <div class="hover"></div>
          </li>
          <li>
            <div class="img"><img src="/public/images/abroad/process3.png"></div>
            <div class="text">选校建议</div>
            <div class="hover"></div>
          </li>
          <li>
            <div class="img"><img src="/public/images/abroad/process4.png"></div>
            <div class="text">学校申请</div>
            <div class="hover"></div>
          </li>
          <li>
            <div class="img"><img src="/public/images/abroad/process5.png"></div>
            <div class="text">收到offer</div>
            <div class="hover"></div>
          </li>
          <li>
            <div class="img"><img src="/public/images/abroad/process6.png"></div>
            <div class="text">使馆签证</div>
            <div class="hover"></div>
          </li>
        </ul>
      </div>
      <div class="process-icon">
        <ul>
          <li>
            <div class="img">
              <img src="/public/images/abroad/icon1.png">
            </div>
            <div class="text">评估测试</div>
          </li>
          <li>
            <div class="img">
              <img src="/public/images/abroad/icon2.png">
            </div>
            <div class="text">资料准备</div>
          </li>
          <li>
            <div class="img">
              <img src="/public/images/abroad/icon3.png">
            </div>
            <div class="text">选校建议</div>
          </li>

          <li>
            <div class="img">
              <img src="/public/images/abroad/icon4.png">
            </div>
            <div class="text">学校申请</div>
          </li>
          <li>
            <div class="img">
              <img src="/public/images/abroad/icon5.png">
            </div>
            <div class="text">收到offer</div>
          </li>
          <li>
            <div class="img">
              <img src="/public/images/abroad/icon6.png">
            </div>
            <div class="text">使馆签证</div>
          </li>

        </ul>
      </div>
    </div>

  </section>

  <section class="what-container module">
    <div class="module-box min-center">
      <div class="title-module pc">
        <div class="title-center">
          <div class="title text-white wow fadeInUp">
            申请服务 / Application Services
          </div>
        </div>
      </div>
      <div class="title-box black m">
        <div class="cn-title wow fadeInLeft">申请服务</div>
        <div class="en-title wow fadeInRight">Application Services</div>
      </div>        
      <ul class="what-list">
        <li class="what-item wow pulse" style="background-color: #e5a0b4;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon1.png" alt="">
          </div>
          <div class="text">
            <div class="title">留学规划</div>
            <div class="entitle">Study abroad planning</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #3d887a;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon2.png" alt="">
          </div>
          <div class="text">
            <div class="title">职业规划</div>
            <div class="entitle">Career planning</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #67aebe;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon3.png" alt="">
          </div>
          <div class="text">
            <div class="title">作品集设计</div>
            <div class="entitle">Portfolio design</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #7a93cf;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon4.png" alt="">
          </div>
          <div class="text">
            <div class="title">基础课培训</div>
            <div class="entitle">Basic course training</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #8ebf84;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon5.png" alt="">
          </div>
          <div class="text">
            <div class="title">技能培训</div>
            <div class="entitle">Skills training</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #b2c4d4;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon6.png" alt="">
          </div>
          <div class="text">
            <div class="title">项目课培训</div>
            <div class="entitle">Project course training</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #9fc7a9;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon7.png" alt="">
          </div>
          <div class="text">
            <div class="title">版面设计</div>
            <div class="entitle">Layout design</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #ea4e4e;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon8.png" alt="">
          </div>
          <div class="text">
            <div class="title">设计能力培养</div>
            <div class="entitle">Design ability development</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #8fafd6;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon9.png" alt="">
          </div>
          <div class="text">
            <div class="title">演讲表达训练</div>
            <div class="entitle">Speech expression training</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #e7c2b6;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon10.png" alt="">
          </div>
          <div class="text">
            <div class="title">模型制作</div>
            <div class="entitle">Model making</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #d6a276;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon11.png" alt="">
          </div>
          <div class="text">
            <div class="title">国际化教学</div>
            <div class="entitle">International Teaching</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #6f80ad;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon12.png" alt="">
          </div>
          <div class="text">
            <div class="title">大师行</div>
            <div class="entitle">Master line</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #a273b1;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon13.png" alt="">
          </div>
          <div class="text">
            <div class="title">面试审核</div>
            <div class="entitle">Interview review</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #cf7a7e;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon14.png" alt="">
          </div>
          <div class="text">
            <div class="title">文书写作</div>
            <div class="entitle">Essay Writing</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #bf8fc9;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon15.png" alt="">
          </div>
          <div class="text">
            <div class="title">学校申请</div>
            <div class="entitle">School application</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #d6aeae;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon16.png" alt="">
          </div>
          <div class="text">
            <div class="title">游学服务</div>
            <div class="entitle">Study tour service</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #cd9ab9;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon17.png" alt="">
          </div>
          <div class="text">
            <div class="title">设计展览</div>
            <div class="entitle">Design Exhibition</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #b89cd0;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon18.png" alt="">
          </div>
          <div class="text">
            <div class="title">国际竞赛</div>
            <div class="entitle">Design ability training</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #d9af8d;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon19.png" alt="">
          </div>
          <div class="text">
            <div class="title">公司实战</div>
            <div class="entitle">Actual combat of the company</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #9eb6d6;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon20.png" alt="">
          </div>
          <div class="text">
            <div class="title">境外服务</div>
            <div class="entitle">Overseas services</div>
          </div>
        </li>
      </ul>
      <div class="bg-img">
        <img src="/public/images/portfolio/bg-what.png" alt="">
      </div>
    </div>


  </section>

  <section class="success-container module">   
    <div class="title-module pc">
      <div class="bit"></div>
      <div class="title-center">
        <div class="title wow fadeInUp">成功案例 / Success Stories</div>
      </div>
    </div>
    <div class="title-box black m">
      <div class="cn-title wow fadeInLeft">艺术留学成功案例</div>
      <div class="en-title wow fadeInRight">Offer list of international famous schools</div>
    </div>       
    <div class="success-content min-center wow fadeInUp">
      <div class="success-swiper swiper-container">
        <ul class="success-list swiper-wrapper">
          <li class="success-item swiper-slide">
            <div class="img">
              <img src="/public/images/case/success-01.jpg" alt="Zheng同学">
              <div class="name">Zheng同学</div>
              <div class="title">工业设计</div>
            </div>
            <div class="text">
              <div class="title">录取学校</div>
              <div class="cont">
                <p>纽约视觉艺术学院SVA</p>
                <p>加州艺术学院CCA</p>
                <p>马里兰艺术学院MICA</p>
                <p>艺术中心设计学院ACCD</p>
              </div>
            </div>
          </li>
          <li class="success-item swiper-slide">
            <div class="img">
              <img src="/public/images/case/success-02.jpg" alt="Zheng同学">
              <div class="name">Weng同学</div>
              <div class="title">平面设计</div>
            </div>
            <div class="text">
              <div class="title">录取学校</div>
              <div class="cont">
                <p>纽约视觉艺术学院SVA</p>
                <p>加州艺术学院CCA</p>
                <p>马里兰艺术学院MICA</p>
                <p>艺术中心设计学院ACCD</p>
                <p>雪城大学</p>
              </div>
            </div>
          </li>
          <li class="success-item swiper-slide">
            <div class="img">
              <img src="/public/images/case/success-03.jpg" alt="Zheng同学">
              <div class="name">Hao同学</div>
              <div class="title">服装设计</div>
            </div>
            <div class="text">
              <div class="title">录取学校</div>
              <div class="cont">
                <p>纽约视觉艺术学院SVA</p>
                <p>加州艺术学院CCA</p>
                <p>马里兰艺术学院MICA</p>
                <p>艺术中心设计学院ACCD</p>
                <p>雪城大学</p>
              </div>
            </div>
          </li>
          <li class="success-item swiper-slide">
            <div class="img">
              <img src="/public/images/case/success-04.jpg" alt="Zheng同学">
              <div class="name">Qian同学</div>
              <div class="title">艺术设计</div>
            </div>
            <div class="text">
              <div class="title">录取学校</div>
              <div class="cont">
                <p>纽约视觉艺术学院SVA</p>
                <p>加州艺术学院CCA</p>
                <p>马里兰艺术学院MICA</p>
                <p>艺术中心设计学院ACCD</p>
                <p>雪城大学</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="swiper-button-prev success-swiper-button-prev"></div>
      <div class="swiper-button-next success-swiper-button-next"></div>
      <div class="success-swiper-pagination swiper-pagination m"></div>
    </div>
  </section>

  <section class="guide-container module">
    <div class="module-box min-center ">
      <div class="title-box text-white pc">
        <div class="cn-title wow fadeInLeft">申请指南 / </div>
        <div class="en-title wow fadeInRight">Application<br>Guide</div>
      </div>
      <div class="title-box white m">
        <div class="cn-title wow fadeInLeft">申请指南</div>
        <div class="en-title wow fadeInRight">Application Guide</div>
      </div>      
      <form action="">
        <div class="clearfix">
          <input type="text" placeholder="姓名：">
          <input type="text" placeholder="意向专业：">
          <input type="text" placeholder="意向院校：">
          <input type="text" placeholder="电话：">
          <button type="submit">确定</button>
        </div>
      </form>
      <div class="link">
        <a href="">了解申请指南</a>
      </div>
    </div>
  </section>

  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>