<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>College</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="banner-container traning-banner wow fadeInUp">
    <img class="pc" src="/public/images/portfolio_training/portfolio_training_bg.png" alt="">
    <img class="m" src="/public/images/portfolio_training/portfolio_training_bg-m.png" alt="">
    <%= require("html-loader!../components/crumbs/index.html") %>
    <div class="banner-content">
      <div class="title">
        <div class="bit pc"></div>
        <h1>Portfolio training</h1>
      </div>
      <h3>作品集培训</h3>
    </div>
  </section>

  <section class="course-container module">
    <div class="course-box module-box min-center">
      <div class="title-module pc wow fadeInUp">
        <div class="bit"></div>
        <!-- <div class="rect"></div> -->
        <div class="title-center">
          <div class="title wow fadeInUp">作品集课程 / Portfolio Course</div>
        </div>
      </div>

      <div class="title-box m">
        <div class="cn-title wow fadeInLeft">作品集课程</div>
        <div class="en-title wow fadeInRight">Portfolio Course</div>
      </div>

      <ul class="course-tab-list wow fadeInUp">
        <li class="course-tab-item wow fadeInLeft on">本科作品集课程</li>
        <li class="course-tab-item wow fadeInRight">研究生作品集课程</li>
      </ul>
      <div class="course-content">
        <div class="course-content-item on">
          <div class="item-content clearfix">
            <div class="content-left wow fadeInLeft">
              <h5>课程内容：</h5>
              <p>针对学员个人情况和专业情况以及学校要求,由教审团队和国外TOP名校海归导师来定制学员的学习计划,包括艺术设计基础、手绘软件技法表现、国外系统的设计方法与流程等,并确定作品集的项目内容,以国外先进教学方式和理念对学员的作品集进行系统全方面的辅导。</p>
              <h5>上课方式：</h5>
              <p>对一辅导。</p>
              <h5>针对人群：</h5>
              <p>准备出国读研的同学。</p>
              <h5>师资团队：</h5>
              <p>国外TOP名校海归导师+国外名校教授+教研团队+审核团队+测评团队</p>
              <h5>教学目的：</h5>
              <p>完成高质量符合国外高校研究生水平要求的作品集。</p>
              <h5>课程特色</h5>
              <p>量身定制课程+实战化设计+技能和专业全方位学习+国外高校教学思维+高级专业版面设计+全程跟踪+五维审评体系+模拟面试。</p>
              <div class="link">
                <a href="" class="red-bg-link wow fadeInUp">在线咨询</a>
                <a href="javacript:void(0);" class="popup-btn white-bg-link wow fadeInUp">预约试听</a>
              </div>
            </div>
            <div class="content-right wow fadeInRight">
              <img src="/public/images/portfolio_training/course-right.png">
            </div>
          </div>

          <div class="item-green-content clearfix">
            <div class="content-part wow fadeInLeft">
              <h5>关于Studio班课</h5>
              <p>Studio 班课为滚动课程,本科至少1-2个项目是从观察性绘画/纯艺类多媒介探索课程;其中会以2D、3D等不同类型且不分专业的形式完成,其余部分为专业导向明确的项目完成。</p>
              <p>Studio 班课排课机制是由每个学生进入体系后,由教务老师根据其专业导向进行排班,专业导师会给出相应针对每个学生的排班意见。</p>
            </div>
            <div class="content-part wow fadeInRight">
              <h5>Studio班课能力提升</h5>
              <p>Teamwork ability<br>
                团队协作能力</p>
              <p>Self-motivation in learning<br>
                学习自驱力</p>
              <p>
                Ability to express and communicate openly<br>
                公开表达和沟通能力
              </p>
            </div>
          </div>
        </div>
        <div class="course-content-item">
          <div class="item-content clearfix">
            <div class="content-left">
              <h5>研究生课程内容：</h5>
              <p>针对学员个人情况和专业情况以及学校要求,由教审团队和国外TOP名校海归导师来定制学员的学习计划,包括艺术设计基础、手绘软件技法表现、国外系统的设计方法与流程等,并确定作品集的项目内容,以国外先进教学方式和理念对学员的作品集进行系统全方面的辅导。</p>
              <h5>上课方式：</h5>
              <p>对一辅导。</p>
              <h5>针对人群：</h5>
              <p>准备出国读研的同学。</p>
              <h5>师资团队：</h5>
              <p>国外TOP名校海归导师+国外名校教授+教研团队+审核团队+测评团队</p>
              <h5>教学目的：</h5>
              <p>完成高质量符合国外高校研究生水平要求的作品集。</p>
              <h5>课程特色</h5>
              <p>量身定制课程+实战化设计+技能和专业全方位学习+国外高校教学思维+高级专业版面设计+全程跟踪+五维审评体系+模拟面试。</p>
              <div class="link">
                <a href="" class="red-bg-link wow fadeInUp">在线咨询</a>
                <a href="javacript:void(0);" class="popup-btn white-bg-link wow fadeInUp">预约试听</a>
              </div>
            </div>
            <div class="content-right">
              <img src="/public/images/portfolio_training/course-right.png">
            </div>
          </div>
          <div class="item-green-content clearfix">
            <div class="content-part wow fadeInLeft">
              <h5>关于Studio班课</h5>
              <p>Studio 班课为滚动课程,本科至少1-2个项目是从观察性绘画/纯艺类多媒介探索课程;其中会以2D、3D等不同类型且不分专业的形式完成,其余部分为专业导向明确的项目完成。</p>
              <p>Studio 班课排课机制是由每个学生进入体系后,由教务老师根据其专业导向进行排班,专业导师会给出相应针对每个学生的排班意见。</p>
            </div>
            <div class="content-part wow fadeInRight">
              <h5>Studio班课能力提升</h5>
              <p>Teamwork ability<br>
                团队协作能力</p>
              <p>Self-motivation in learning<br>
                学习自驱力</p>
              <p>
                Ability to express and communicate openly<br>
                公开表达和沟通能力
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="core-role-container module" style="background: url(/public/images/portfolio_training/advantage-bg.png);">
    <div class="course-box module-box min-center">
      <div class="title-module pc">
        <div class="title-center">
          <div class="title text-white wow fadeInUp">课程优势 / Portfolio Course</div>
        </div>
      </div>
      <div class="title-box white m">
        <div class="cn-title wow fadeInLeft">课程优势</div>
        <div class="en-title wow fadeInRight">Portfolio Course</div>
      </div>
      <ul class="core-role-list">
        <li class="core-role-item wow fadeInUp">
          <div class="num">1</div>
          <div class="title">产品服务<br>配套体系</div>
          <p>Product service supporting system</p>
          <div class="note m">由海外顶级院校招生官联盟为背书，集团教研中心为主导的教学团队为一个作品集项目把关，增加申请艺术名校和高额奖学金获取几率。</div>
          <div class="hover">
            <div class="title">顶级院校<br>招生官联盟</div>
            <div class="note">由海外顶级院校招生官联盟为背书，集团教研中心为主导的教学团队为一个作品集项目把关，增加申请艺术名校和高额奖学金获取几率。</div>
          </div>
        </li>
        <li class="core-role-item wow fadeInUp" data-wow-delay="100ms">
          <div class="num">2</div>
          <div class="title">UCP跨学科<br>教学体系</div>
          <p>UCP interdisciplinary teaching system</p>
          <div class="note m">由海外顶级院校招生官联盟为背书，集团教研中心为主导的教学团队为一个作品集项目把关，增加申请艺术名校和高额奖学金获取几率。</div>
          <div class="hover">
            <div class="title">顶级院校<br>招生官联盟</div>
            <div class="note">由海外顶级院校招生官联盟为背书，集团教研中心为主导的教学团队为一个作品集项目把关，增加申请艺术名校和高额奖学金获取几率。</div>
          </div>
        </li>
        <li class="core-role-item wow fadeInUp" data-wow-delay="200ms">
          <div class="num">3</div>
          <div class="title">顶级院校<br>招生官联盟</div>
          <p>Association of Top College Admissions Officers</p>
          <div class="note m">由海外顶级院校招生官联盟为背书，集团教研中心为主导的教学团队为一个作品集项目把关，增加申请艺术名校和高额奖学金获取几率。</div>
          <div class="hover">
            <div class="title">顶级院校<br>招生官联盟</div>
            <div class="note">由海外顶级院校招生官联盟为背书，集团教研中心为主导的教学团队为一个作品集项目把关，增加申请艺术名校和高额奖学金获取几率。</div>
          </div>
        </li>
        <li class="core-role-item wow fadeInUp" data-wow-delay="300ms">
          <div class="num">4</div>
          <div class="title pc">设计产业品牌<br>合作和落地项目</div>
          <div class="title m">设计产业<br>品牌合作<br>和落地项目</div>
          <p>Design industry brand cooperation and implementation project</p>
          <div class="note m">由海外顶级院校招生官联盟为背书，集团教研中心为主导的教学团队为一个作品集项目把关，增加申请艺术名校和高额奖学金获取几率。</div>
          <div class="hover">
            <div class="title">顶级院校<br>招生官联盟</div>
            <div class="note">由海外顶级院校招生官联盟为背书，集团教研中心为主导的教学团队为一个作品集项目把关，增加申请艺术名校和高额奖学金获取几率。</div>
          </div>
        </li>
        <li class="core-role-item wow fadeInUp" data-wow-delay="400ms">
          <div class="num">5</div>
          <div class="title">限额招生</div>
          <p>Limited<br>enrollment</p>
          <div class="note m">由海外顶级院校招生官联盟为背书，集团教研中心为主导的教学团队为一个作品集项目把关，增加申请艺术名校和高额奖学金获取几率。</div>
          <div class="hover">
            <div class="title">顶级院校<br>招生官联盟</div>
            <div class="note">由海外顶级院校招生官联盟为背书，集团教研中心为主导的教学团队为一个作品集项目把关，增加申请艺术名校和高额奖学金获取几率。</div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="process-container module pc">
    <div class="process-box module-box min-center">
      <div class="title-module pc">
        <div class="bit"></div>
        <div class="title-center">
          <div class="title text-white wow fadeInUp">作品集培训流程 / Portfolio training process</div>
        </div>
      </div>
      <div class="title-box white m">
        <div class="cn-title wow fadeInLeft">作品集培训流程</div>
        <div class="en-title wow fadeInRight">Portfolio training process</div>
      </div>
      <ul class="process-list wow fadeInUp">
        <li class="wow fadeInUp">
          <div class="num">1</div>
          <span>入学评估</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="100ms">
          <div class="num">2</div>
          <span>艺术基础课</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="200ms">
          <div class="num">3</div>
          <span>手绘软件<br>技法课</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="300ms">
          <div class="num">4</div>
          <span>作品集规格<br>与风格定位</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="400ms">
          <div class="num">5</div>
          <span>作品集项目课</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="500ms">
          <div class="num">6</div>
          <span>简历目录<br>封皮封底</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="600ms">
          <div class="num">7</div>
          <span>个人爱好<br>作品整理</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="700ms">
          <div class="num">8</div>
          <span>版面设计</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="800ms">
          <div class="num">9</div>
          <span>整体润色</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="900ms">
          <div class="num">10</div>
          <span>作品集审核</span>
        </li>
      </ul>
    </div>
  </section>

  <section class="m-process-container module m">
    <div class="m-process-box module-box min-center">
      <div class="title-box white m">
        <div class="cn-title wow fadeInLeft">作品集培训流程</div>
        <div class="en-title wow fadeInRight">Portfolio training process</div>
      </div>
      <div class="process-img">
        <img src="/public/images/portfolio_training/process-m.png" alt="">
      </div>
    </div>
  </section>

  <section class="success-container module">
    <div class="title-module pc">
      <div class="bit"></div>
      <div class="title-center">
        <div class="title wow fadeInUp">优秀作品集案例 / Excellent Works Collection Cases</div>
      </div>
    </div>
    <div class="title-box m">
      <div class="cn-title wow fadeInLeft">艺术留学成功案例</div>
      <div class="en-title wow fadeInRight">Offer list of international famous schools</div>
    </div>
    <div class="success-content min-center wow fadeInUp">
      <div class="success-swiper swiper-container">
        <ul class="success-list swiper-wrapper">
          <li class="success-item swiper-slide">
            <div class="img">
              <img src="/public/images/case/success-01.jpg" alt="Zheng同学">
              <div class="name">Zheng同学</div>
              <div class="title">工业设计</div>
            </div>
            <div class="text">
              <div class="title">录取学校</div>
              <div class="cont">
                <p>纽约视觉艺术学院SVA</p>
                <p>加州艺术学院CCA</p>
                <p>马里兰艺术学院MICA</p>
                <p>艺术中心设计学院ACCD</p>
              </div>
            </div>
          </li>
          <li class="success-item swiper-slide">
            <div class="img">
              <img src="/public/images/case/success-02.jpg" alt="Zheng同学">
              <div class="name">Weng同学</div>
              <div class="title">平面设计</div>
            </div>
            <div class="text">
              <div class="title">录取学校</div>
              <div class="cont">
                <p>纽约视觉艺术学院SVA</p>
                <p>加州艺术学院CCA</p>
                <p>马里兰艺术学院MICA</p>
                <p>艺术中心设计学院ACCD</p>
                <p>雪城大学</p>
              </div>
            </div>
          </li>
          <li class="success-item swiper-slide">
            <div class="img">
              <img src="/public/images/case/success-03.jpg" alt="Zheng同学">
              <div class="name">Hao同学</div>
              <div class="title">服装设计</div>
            </div>
            <div class="text">
              <div class="title">录取学校</div>
              <div class="cont">
                <p>纽约视觉艺术学院SVA</p>
                <p>加州艺术学院CCA</p>
                <p>马里兰艺术学院MICA</p>
                <p>艺术中心设计学院ACCD</p>
                <p>雪城大学</p>
              </div>
            </div>
          </li>
          <li class="success-item swiper-slide">
            <div class="img">
              <img src="/public/images/case/success-04.jpg" alt="Zheng同学">
              <div class="name">Qian同学</div>
              <div class="title">艺术设计</div>
            </div>
            <div class="text">
              <div class="title">录取学校</div>
              <div class="cont">
                <p>纽约视觉艺术学院SVA</p>
                <p>加州艺术学院CCA</p>
                <p>马里兰艺术学院MICA</p>
                <p>艺术中心设计学院ACCD</p>
                <p>雪城大学</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="swiper-button-prev success-swiper-button-prev"></div>
      <div class="swiper-button-next success-swiper-button-next"></div>
      <div class="success-swiper-pagination swiper-pagination m"></div>
    </div>
  </section>

  <section class="portfolio-container module">
    <div class="min-center portfolio-box">
      <div class="title-module pc">
        <div class="title-center">
          <div class="title text-red wow fadeInUp">热门艺术专业 / Popular Art Major</div>
        </div>
      </div>
      <div class="title-box white m">
        <div class="cn-title wow fadeInLeft">热门艺术专业</div>
        <div class="en-title wow fadeInRight">Popular Art Major</div>
      </div>
      <ul class="portfolio-list">
        <li class="portfolio-item wow fadeInUp">
          <a href="professional.html">
            <div class="img">
              <img src="/public/images/portfolio_training/training1.png" alt="">
            </div>
            <div class="bottom-title">
              <div class="cn-title">服装设计</div>
              <div class="en-title">Clothing Design</div>
              <p class="m">工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
            <div class="hover">
              <div class="cn-title">服装设计</div>
              <div class="en-title">Clothing Design</div>
              <p>工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
          </a>
        </li>
        <li class="portfolio-item wow fadeInUp">
          <a href="professional.html">
            <div class="img">
              <img src="/public/images/portfolio_training/training2.png" alt="">
            </div>
            <div class="bottom-title">
              <div class="cn-title">平面设计</div>
              <div class="en-title">Graphic Design</div>
              <p class="m">工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
            <div class="hover">
              <div class="cn-title">平面设计</div>
              <div class="en-title">Graphic Design</div>
              <p>工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
          </a>
        </li>
        <li class="portfolio-item wow fadeInUp">
          <a href="professional.html">
            <div class="img">
              <img src="/public/images/portfolio_training/training3.png" alt="">
            </div>
            <div class="bottom-title">
              <div class="cn-title">建筑设计</div>
              <div class="en-title">Architectural Design</div>
              <p class="m">工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
            <div class="hover">
              <div class="cn-title">建筑设计</div>
              <div class="en-title">Architectural Design</div>
              <p>工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
          </a>
        </li>
        <li class="portfolio-item wow fadeInUp">
          <a href="professional.html">
            <div class="img">
              <img src="/public/images/portfolio_training/training4.png" alt="">
            </div>
            <div class="bottom-title">
              <div class="cn-title">工业设计</div>
              <div class="en-title">Industrial Design</div>
              <p class="m">工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
            <div class="hover">
              <div class="cn-title">工业设计</div>
              <div class="en-title">Industrial Design</div>
              <p>工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
          </a>

        </li>
        <li class="portfolio-item wow fadeInUp">
          <a href="professional.html">
            <div class="img">
              <img src="/public/images/portfolio_training/training5.png" alt="">
            </div>
            <div class="bottom-title">
              <div class="cn-title">珠宝设计</div>
              <div class="en-title">Jewelry Design</div>
              <p class="m">工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
            <div class="hover">
              <div class="cn-title">珠宝设计</div>
              <div class="en-title">Jewelry Design</div>
              <p>工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
          </a>

        </li>
        <li class="portfolio-item wow fadeInUp">
          <a href="professional.html">
            <div class="img">
              <img src="/public/images/portfolio_training/training6.png" alt="">
            </div>
            <div class="bottom-title">
              <div class="cn-title">插画设计</div>
              <div class="en-title">Illustration Design</div>
              <p class="m">工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
            <div class="hover">
              <div class="cn-title">插画设计</div>
              <div class="en-title">Illustration Design</div>
              <p>工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
          </a>

        </li>
        <li class="portfolio-item wow fadeInUp">
          <a href="professional.html">
            <div class="img">
              <img src="/public/images/portfolio_training/training7.png" alt="">
            </div>
            <div class="bottom-title">
              <div class="cn-title">视觉传达</div>
              <div class="en-title">Visual Communication</div>
              <p class="m">工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
            <div class="hover">
              <div class="cn-title">视觉传达</div>
              <div class="en-title">Visual Communication</div>
              <p>工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
          </a>
        </li>
        <li class="portfolio-item wow fadeInUp">
          <a href="professional.html">
            <div class="img">
              <img src="/public/images/portfolio_training/training8.png" alt="">
            </div>
            <div class="bottom-title">
              <div class="cn-title">室内设计</div>
              <div class="en-title">Interior Design</div>
              <p class="m">工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
            <div class="hover">
              <div class="cn-title">室内设计</div>
              <div class="en-title">Interior Design</div>
              <p>工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
          </a>

        </li>
        <li class="portfolio-item wow fadeInUp">
          <a href="professional.html">
            <div class="img">
              <img src="/public/images/portfolio_training/training9.png" alt="">
            </div>
            <div class="bottom-title">
              <div class="cn-title">交互设计</div>
              <div class="en-title">Interactive Design</div>
              <p class="m">工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
            <div class="hover">
              <div class="cn-title">交互设计</div>
              <div class="en-title">Interactive Design</div>
              <p>工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
          </a>

        </li>
        <li class="portfolio-item wow fadeInUp">
          <a href="professional.html">
            <div class="img">
              <img src="/public/images/portfolio_training/training10.png" alt="">
            </div>
            <div class="bottom-title">
              <div class="cn-title">交通工具设计</div>
              <div class="en-title">Vehicle Design</div>
              <p class="m">工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
            <div class="hover">
              <div class="cn-title">交通工具设计</div>
              <div class="en-title">Vehicle Design</div>
              <p>工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
          </a>

        </li>
        <li class="portfolio-item wow fadeInUp">
          <a href="professional.html">
            <div class="img">
              <img src="/public/images/portfolio_training/training11.png" alt="">
            </div>
            <div class="bottom-title">
              <div class="cn-title">动画设计</div>
              <div class="en-title">Animation Design</div>
              <p class="m">工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
            <div class="hover">
              <div class="cn-title">动画设计</div>
              <div class="en-title">Animation Design</div>
              <p>工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
          </a>

        </li>
        <li class="portfolio-item wow fadeInUp">
          <a href="professional.html">
            <div class="img">
              <img src="/public/images/portfolio_training/training12.png" alt="">
            </div>
            <div class="bottom-title">
              <div class="cn-title">时尚管理</div>
              <div class="en-title">Fashion Management</div>
              <p class="m">工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
            <div class="hover">
              <div class="cn-title">时尚管理</div>
              <div class="en-title">Fashion Management</div>
              <p>工业设计是指通过学习工业设计的基础理论与知识，从构思到建立一个切实可行的实施方案，并将这些关系统一表现在产品的造型设计的行为。</p>
            </div>
          </a>

        </li>
      </ul>

    </div>
  </section>

  <section class="institutions-container module">
    <div class="institutions-box module-box min-center">
      <div class="title-module pc">
        <div class="title-center">
          <div class="title text-white wow fadeInUp">国际院校 / International Institutions</div>
        </div>
      </div>
      <div class="title-box white m">
        <div class="cn-title wow fadeInLeft">国际院校</div>
        <div class="en-title wow fadeInRight">International Institutions</div>
      </div>
      <!-- <ul class="institutions-tab-list pc">
        <li class="institutions-tab-item wow fadeInLeft on">国外名校教授</li>
        <li class="institutions-tab-item wow fadeInRight">海归导师</li>
      </ul> -->
      <div class="institutions-content">
        <div class="institutions-content-item on">
          <ul class="institutions-list">
            <li class="institutions-item wow fadeInUp" data-wow-delay="0">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions01.png" alt="">
                </div>
                <div class="text">
                  <div class="title">罗德岛设计学院</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="100ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions02.png" alt="">
                </div>
                <div class="text">
                  <div class="title">丹麦皇家艺术学院</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="200ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions03.png" alt="">
                </div>
                <div class="text">
                  <div class="title">米兰理工大学</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="300ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions04.png" alt="">
                </div>
                <div class="text">
                  <div class="title">代尔夫特理工大学</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="400ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions05.png" alt="">
                </div>
                <div class="text">
                  <div class="title">清华大学美术学院</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="0">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions06.png" alt="">
                </div>
                <div class="text">
                  <div class="title">南特大西洋设计学院</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="100ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions07.png" alt="">
                </div>
                <div class="text">
                  <div class="title">新南威尔士大学 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="200ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions08.png" alt="">
                </div>
                <div class="text">
                  <div class="title">慕尼黑工业大学 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="300ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions09.png" alt="">
                </div>
                <div class="text">
                  <div class="title">艺术中心设计学院 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="400ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions10.png" alt="">
                </div>
                <div class="text">
                  <div class="title">皇家艺术设计学院 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="institutions-content-item">
          <ul class="institutions-list">
            <li class="institutions-item wow fadeInUp" data-wow-delay="0">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions01.png" alt="">
                </div>
                <div class="text">
                  <div class="title">罗德岛设计学院</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="100ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions02.png" alt="">
                </div>
                <div class="text">
                  <div class="title">丹麦皇家艺术学院2</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="200ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions03.png" alt="">
                </div>
                <div class="text">
                  <div class="title">米兰理工大学2</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="300ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions04.png" alt="">
                </div>
                <div class="text">
                  <div class="title">代尔夫特理工大学</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="400ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions05.png" alt="">
                </div>
                <div class="text">
                  <div class="title">清华大学美术学院</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="0">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions06.png" alt="">
                </div>
                <div class="text">
                  <div class="title">南特大西洋设计学院</div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="100ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions07.png" alt="">
                </div>
                <div class="text">
                  <div class="title">新南威尔士大学 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="200ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions08.png" alt="">
                </div>
                <div class="text">
                  <div class="title">慕尼黑工业大学 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="300ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions09.png" alt="">
                </div>
                <div class="text">
                  <div class="title">艺术中心设计学院 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
            <li class="institutions-item wow fadeInUp" data-wow-delay="400ms">
              <a href="school_view.html">
                <div class="logo">
                  <img src="/public/images/home/institutions10.png" alt="">
                </div>
                <div class="text">
                  <div class="title">皇家艺术设计学院 </div>
                  <div class="entitle">Rhode Island School of Design</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <a href="/college.html" class="more wow fadeInUp">更多</a>
    </div>
  </section>

  <section class="planning-container module pc">
    <div class="planning-box module-box min-center">
      <div class="title-module pc">
        <div class="bit"></div>
        <div class="title-center">
          <div class="title text-white wow fadeInUp">留学职业规划历程 / Career Planning For Studying Abroad</div>
        </div>
      </div>
      <div class="title-box white m">
        <div class="cn-title wow fadeInLeft">作品集培训流程</div>
        <div class="en-title wow fadeInRight">Portfolio training process</div>
      </div>
      <ul class="planning-list wow fadeInUp">
        <li class="wow fadeInUp">
          <div class="num">1</div>
          <span>专业选择</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="100ms">
          <div class="num">2</div>
          <span>学习计划</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="200ms">
          <div class="num">3</div>
          <span>出国准备</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="300ms">
          <div class="num">4</div>
          <span>国外学习</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="400ms">
          <div class="num">5</div>
          <span>实习学习</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="500ms">
          <div class="num">6</div>
          <span>进入名企</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="600ms">
          <div class="num">7</div>
          <span>留在国外</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="700ms">
          <div class="num">8</div>
          <span>回国发展</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="800ms">
          <div class="num">9</div>
          <span>名企高薪</span>
        </li>
        <li class="wow fadeInUp" data-wow-delay="900ms">
          <div class="num">10</div>
          <span>城市落户</span>
        </li>
      </ul>
    </div>

  </section>

  <section class="m-planning-container module m">
    <div class="m-planning-box module-box min-center">

      <div class="title-box white">
        <div class="cn-title wow fadeInLeft">留学职业规划历程</div>
        <div class="en-title wow fadeInRight">Career Planning For Studying Abroad</div>
      </div>
      <ul class="m-planning-list wow fadeInUp">
        <li class="wow fadeInUp">
          <div class="title">
            <h3>专业<br>选择</h3>
            <h5>Professional<br>choice</h5>
          </div>
          <div class="img">
            <img src="/public/images/portfolio_training/planning1.png" alt="">
          </div>
        </li>
        <li class="wow fadeInUp" data-wow-delay="100ms">
          <div class="title">
            <h3>学习<br>计划</h3>
            <h5>Study<br>plan</h5>
          </div>
          <div class="img">
            <img src="/public/images/portfolio_training/planning2.png" alt="">
          </div>

        </li>
        <li class="wow fadeInUp" data-wow-delay="200ms">
          <div class="title">
            <h3>出国<br>准备</h3>
            <h5>Go abroad<br>to prepare</h5>
          </div>
          <div class="img">
            <img src="/public/images/portfolio_training/planning3.png" alt="">
          </div>

        </li>
        <li class="wow fadeInUp" data-wow-delay="300ms">
          <div class="title">
            <h3>国外<br>学习</h3>
            <h5>Study<br>abroad</h5>
          </div>
          <div class="img">
            <img src="/public/images/portfolio_training/planning4.png" alt="">
          </div>

        </li>
        <li class="wow fadeInUp" data-wow-delay="400ms">
          <div class="title">
            <h3>工作<br>实习</h3>
            <h5>Work<br>practice</h5>
          </div>
          <div class="img">
            <img src="/public/images/portfolio_training/planning5.png" alt="">
          </div>

        </li>
        <li class="wow fadeInUp" data-wow-delay="500ms">
          <div class="title">
            <h3>进入<br>名企</h3>
            <h5>Enter the<br>big company</h5>
          </div>
          <div class="img">
            <img src="/public/images/portfolio_training/planning6.png" alt="">
          </div>

        </li>
        <li class="wow fadeInUp" data-wow-delay="600ms">
          <div class="title">
            <h3>留在<br>国外</h3>
            <h5>Staying<br>abroad</h5>
          </div>
          <div class="img">
            <img src="/public/images/portfolio_training/planning7.png" alt="">
          </div>

        </li>
        <li class="wow fadeInUp" data-wow-delay="700ms">
          <div class="title">
            <h3>回国<br>发展</h3>
            <h5>Return<br>to</h5>
          </div>
          <div class="img">
            <img src="/public/images/portfolio_training/planning8.png" alt="">
          </div>
        </li>
        <li class="wow fadeInUp" data-wow-delay="800ms">
          <div class="title">
            <h3>名企<br>高薪</h3>
            <h5>From<br>high salary</h5>
          </div>
          <div class="img">
            <img src="/public/images/portfolio_training/planning9.png" alt="">
          </div>

        </li>
        <li class="wow fadeInUp" data-wow-delay="900ms">
          <div class="title">
            <h3>城市<br>落户</h3>
            <h5>Urban<br>settlement</h5>
          </div>
          <div class="img">
            <img src="/public/images/portfolio_training/planning10.png" alt="">
          </div>

        </li>
      </ul>
    </div>
  </section>

  <section class="demo-container module">
    <div class="demo-box module-box min-center">
      <div class="title pc wow fadeInUp">作品集<font>试听课报名</font>
      </div>
      <div class="title-box white m">
        <div class="cn-title wow fadeInLeft">作品集<font>试听课报名</font>
        </div>
        <div class="en-title wow fadeInRight">VIP elite courses audition</div>
      </div>
      <form action="" class="pc wow fadeInUp">
        <input type="text" placeholder="姓名：">
        <input type="text" placeholder="电话：">
        <input type="text" placeholder="意向专业/院校：">
        <input type="submit" value="立即免费预约">
      </form>
      <form action="" class="m wow fadeInUp">
        <input type="text" placeholder="姓名：">
        <input type="text" placeholder="电话：">
        <input type="text" placeholder="意向专业/：">
        <input type="text" placeholder="意向院校：">
        <input type="submit" value="立即免费预约">
      </form>
    </div>
  </section>
  <!-- 引入弹窗 -->
  <%= require("html-loader!../components/popup/index.html") %>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>