<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>学员案例 - ICA国际艺术教育</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container wow fadeInUp">
      <img class="pc" src="/public/images/case/banner.jpg" alt="">
      <img class="m" src="/public/images/case/m/banner.jpg" alt="">
      <!-- 引入公共页头 -->
      <%= require("html-loader!../components/crumbs/index.html") %>
    </section>
    <section class="offer-list-container">
      <div class="offer-list-box min-center module">
        <div class="title-box white pc">
          <div class="cn-title wow fadeInLeft">国际名校offer榜 / </div>
          <div class="en-title wow fadeInRight">Offer list of international<br>famous schools</div>
        </div>
        <div class="title-box white m">
          <div class="cn-title wow fadeInLeft">国际名校offer榜</div>
          <div class="en-title wow fadeInRight">Offer list of international famous schools</div>
        </div>
        <ul class="offer-list">
          <li class="offer-item wow fadeInUp">
            <a href="/school_view.html">
              <div class="logo">
                <img src="/public/images/home/institutions01.png" alt="">
              </div>
              <div class="text">
                <div class="title">罗德岛设计学院</div>
                <div class="entitle">Rhode Island School of <br> Design</div>
              </div>
              <div class="num">录取人数：160人</div>
            </a>
          </li>
          <li class="offer-item wow fadeInUp">
            <a href="/school_view.html">
              <div class="logo">
                <img src="/public/images/home/institutions02.png" alt="">
              </div>
              <div class="text">
                <div class="title">丹麦皇家艺术学院</div>
                <div class="entitle">Rhode Island School of <br> Design</div>
              </div>
              <div class="num">录取人数：160人</div>
            </a>
          </li>
          <li class="offer-item wow fadeInUp">
            <a href="/school_view.html">
              <div class="logo">
                <img src="/public/images/home/institutions03.png" alt="">
              </div>
              <div class="text">
                <div class="title">米兰理工大学</div>
                <div class="entitle">Rhode Island School of <br> Design</div>
              </div>
              <div class="num">录取人数：160人</div>
            </a>
          </li>
          <li class="offer-item wow fadeInUp">
            <a href="/school_view.html">
              <div class="logo">
                <img src="/public/images/home/institutions04.png" alt="">
              </div>
              <div class="text">
                <div class="title">代尔夫特理工大学</div>
                <div class="entitle">Rhode Island School of <br> Design</div>
              </div>
              <div class="num">录取人数：160人</div>
            </a>
          </li>
          <li class="offer-item wow fadeInUp">
            <a href="/school_view.html">
              <div class="logo">
                <img src="/public/images/home/institutions05.png" alt="">
              </div>
              <div class="text">
                <div class="title">清华大学美术学院</div>
                <div class="entitle">Rhode Island School of <br> Design</div>
              </div>
              <div class="num">录取人数：160人</div>
            </a>
          </li>
          <li class="offer-item wow fadeInUp">
            <a href="/school_view.html">
              <div class="logo">
                <img src="/public/images/home/institutions06.png" alt="">
              </div>
              <div class="text">
                <div class="title">南特大西洋设计学院</div>
                <div class="entitle">Rhode Island School of <br> Design</div>
              </div>
              <div class="num">录取人数：160人</div>
            </a>
          </li>
          <li class="offer-item wow fadeInUp">
            <a href="/school_view.html">
              <div class="logo">
                <img src="/public/images/home/institutions07.png" alt="">
              </div>
              <div class="text">
                <div class="title">新南威尔士大学 </div>
                <div class="entitle">Rhode Island School of <br> Design</div>
              </div>
              <div class="num">录取人数：160人</div>
            </a>
          </li>
          <li class="offer-item wow fadeInUp">
            <a href="/school_view.html">
              <div class="logo">
                <img src="/public/images/home/institutions08.png" alt="">
              </div>
              <div class="text">
                <div class="title">慕尼黑工业大学 </div>
                <div class="entitle">Rhode Island School of <br> Design</div>
              </div>
              <div class="num">录取人数：160人</div>
            </a>
          </li>
          <li class="offer-item wow fadeInUp">
            <a href="/school_view.html">
              <div class="logo">
                <img src="/public/images/home/institutions09.png" alt="">
              </div>
              <div class="text">
                <div class="title">艺术中心设计学院 </div>
                <div class="entitle">Rhode Island School of <br> Design</div>
              </div>
              <div class="num">录取人数：160人</div>
            </a>
          </li>
          <li class="offer-item wow fadeInUp">
            <a href="/school_view.html">
              <div class="logo">
                <img src="/public/images/home/institutions10.png" alt="">
              </div>
              <div class="text">
                <div class="title">皇家艺术设计学院 </div>
                <div class="entitle">Rhode Island School of <br> Design</div>
              </div>
              <div class="num">录取人数：160人</div>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="success-container module">
      <div class="title-box pc">
        <div class="cn-title wow fadeInLeft">艺术留学成功案例 / </div>
        <div class="en-title wow fadeInRight">Success<br>Stories</div>
      </div>
      <div class="title-box black m">
        <div class="cn-title wow fadeInLeft">艺术留学成功案例 </div>
        <div class="en-title wow fadeInRight">Offer list of international famous schools</div>
      </div>
      <div class="success-content min-center wow fadeInUpBig">
        <div class="success-swiper swiper-container">
          <ul class="success-list swiper-wrapper">
            <li class="success-item swiper-slide">
              <div class="img">
                <img src="/public/images/case/success-01.jpg" alt="Zheng同学">
                <div class="name">Zheng同学</div>
                <div class="title">艺术留学</div>
              </div>
              <div class="text">
                <div class="title">录取学校</div>
                <div class="cont">
                  <p>纽约视觉艺术学院SVA</p>
                  <p>加州艺术学院CCA</p>
                  <p>马里兰艺术学院MICA</p>
                  <p>艺术中心设计学院ACCD</p>
    
                </div>
              </div>
            </li>
            <li class="success-item swiper-slide">
              <div class="img">
                <img src="/public/images/case/success-02.jpg" alt="Zheng同学">
                <div class="name">Weng同学</div>
                <div class="title">艺术留学</div>
              </div>
              <div class="text">
                <div class="title">录取学校</div>
                <div class="cont">
                  <p>纽约视觉艺术学院SVA</p>
                  <p>加州艺术学院CCA</p>
                  <p>马里兰艺术学院MICA</p>
                  <p>艺术中心设计学院ACCD</p>
                  <p>雪城大学</p>
                </div>
              </div>
            </li>
            <li class="success-item swiper-slide">
              <div class="img">
                <img src="/public/images/case/success-03.jpg" alt="Zheng同学">
                <div class="name">Hao同学</div>
                <div class="title">艺术留学</div>
              </div>
              <div class="text">
                <div class="title">录取学校</div>
                <div class="cont">
                  <p>纽约视觉艺术学院SVA</p>
                  <p>加州艺术学院CCA</p>
                  <p>马里兰艺术学院MICA</p>
                  <p>艺术中心设计学院ACCD</p>
                  <p>雪城大学</p>
                </div>
              </div>
            </li>
            <li class="success-item swiper-slide">
              <div class="img">
                <img src="/public/images/case/success-04.jpg" alt="Zheng同学">
                <div class="name">Qian同学</div>
                <div class="title">艺术留学</div>
              </div>
              <div class="text">
                <div class="title">录取学校</div>
                <div class="cont">
                  <p>纽约视觉艺术学院SVA</p>
                  <p>加州艺术学院CCA</p>
                  <p>马里兰艺术学院MICA</p>
                  <p>艺术中心设计学院ACCD</p>
                  <p>雪城大学</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="swiper-button-prev success-swiper-button-prev"></div>
        <div class="swiper-button-next success-swiper-button-next"></div>
        <div class="success-swiper-pagination swiper-pagination"></div>
      </div>
    </section>
    <section class="sharing-container module">
      <div class="title-box white pc">
        <div class="cn-title wow fadeInLeft">优秀学员成功经验分享 /</div>
        <div class="en-title wow fadeInRight">Successful Experience<br>Sharing</div>
      </div>
      <div class="title-box white m">
        <div class="cn-title wow fadeInLeft">优秀学员成功经验分享</div>
        <div class="en-title wow fadeInRight">Share successful experience of outstanding students</div>
      </div>
      <div class="sharing-content wow fadeInUp">
        <div class="sharing-swiper swiper-container">
          <ul class="sharing-list swiper-wrapper">
            <li class="sharing-item swiper-slide">
              <div class="img">
                <img src="/public/images/case/sharing-01.jpg" alt="">
                <div class="play"></div>
              </div>
              <div class="num">01</div>
              <div class="text">
                <div class="title">/Li Rui</div>
                <div class="desc">
                  They were four men living all together yet they were all alone.
                </div>
              </div>
            </li>
            <li class="sharing-item swiper-slide">
              <div class="img">
                <img src="/public/images/case/sharing-02.jpg" alt="">
                <div class="play"></div>
              </div>
              <div class="num">02</div>
              <div class="text">
                <div class="title">/Andy Wang</div>
                <div class="desc">
                  They were four men living all together yet they were all alone.
                </div>
              </div>
            </li>
            <li class="sharing-item swiper-slide">
              <div class="img">
                <img src="/public/images/case/sharing-03.jpg" alt="">
                <div class="play"></div>
              </div>
              <div class="num">03</div>
              <div class="text">
                <div class="title">/Candy</div>
                <div class="desc">
                  They were four men living all together yet they were all alone.
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="swiper-button-prev sharing-swiper-button-prev"></div>
        <div class="swiper-button-next sharing-swiper-button-next"></div>
        <div class="sharing-swiper-pagination swiper-pagination"></div>
      </div>
    </section>
     <section class="worols-container module">
      <div class="title-box pc">
        <div class="cn-title">学员作品 /</div>
        <div class="en-title">Student<br>Works</div>
      </div>
      <div class="title-box black m">
        <div class="cn-title">学员作品</div>
        <div class="en-title">Student Works</div>
      </div>
      <ul class="works-tab-list">
        <li class="works-tab-item on">全部</li>
        <li class="works-tab-item">服装设计</li>
        <li class="works-tab-item">平面设计</li>
        <li class="works-tab-item">室内设计</li>
        <li class="works-tab-item">建筑</li>
        <li class="works-tab-item">插画</li>
        <li class="works-tab-item">工业设计</li>
        <li class="works-tab-item">纯艺术</li>
        <li class="works-tab-item">其他</li>
      </ul>
      <ul class="works-list">
        <li class="works-item on">
          <div class="works-td wow fadeInUp">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td wow fadeInUp">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td wow fadeInUp">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td wow fadeInUp">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td wow fadeInUp">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td wow fadeInUp">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td wow fadeInUp">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td wow fadeInUp">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
        </li>
        <li class="works-item">
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
        </li>
        <li class="works-item">
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
        </li>
        <li class="works-item">
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
        </li>
        <li class="works-item">
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
        </li>
        <li class="works-item">
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
        </li>
        <li class="works-item">
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
        </li>
        <li class="works-item">
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
        </li>
        <li class="works-item">
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
          <div class="works-td">
            <div class="img">
              <img src="/public/images/case/works-01.jpg" alt="">
            </div>
            <div class="text">
              <div class="title">HE SHUAN</div>
              <div class="info">
                <p>录取学院：伯恩茅斯大学</p>
                <p>申请专业：电影</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>

</body>

</html>