<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>留学作品集 - ICA国际艺术教育</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container wow fadeInUp">
      <img class="pc" src="/public/images/portfolio/banner.jpg" alt="">
      <img class="m" src="/public/images/portfolio/m/banner.jpg" alt="">
    </section>
    <section class="what-protfolio-container min-center">
      <div class="title-box">
        <div class="en-title wow fadeInLeft">
          <span>What is<br>Portfolio?</span>
        </div>
        <div class="cn-title wow fadeInRight">什么是作品集？</div>
        <div class="m-title-img">
          <img src="/public/images/portfolio/title-img-1.png" alt="">
        </div>
      </div>
      <div class="desc wow fadeInUp">
        <p>
          从广义上讲，作品集的核心是创意，是特定某个人或某个领域的作品合集；从艺术留学的层面讲，我们所说的作品集，是把申请者的作品整理成册，并且要体现出创作者的创作思维和要表达的艺术思想，学校会通过你的作品集评估到你的艺术潜质和设计天赋，从而进行筛选录取。
        </p>
        <p class="green wow fadeInUp">
          因此，作品集是艺术留学的核心，既是学生艺术综合实力的重要体现，也是国外院校决定是否录取的重要申请材料。
        </p>
      </div>
    </section>
    <section class="core-role-container min-center bg-module">
      <div class="title-box">
        <div class="en-title wow fadeInLeft">Core role</div>
        <div class="cn-title wow fadeInRight">核心作用</div>
        <div class="m-title-img">
          <img src="/public/images/portfolio/title-img-2.png" alt="">
        </div>
      </div>
      <ul class="core-role-list">
        <li class="core-role-item wow fadeInUp">
          <div class="top-text">
            <div class="num">01</div>
            <div class="title">提高成功率</div>
            <div class="m-en-title">Improve the success rate</div>
          </div>
          <div class="bottom-text">
            Improve the success rate
          </div>
          <div class="m-bottom-text">
            一份优秀的作品集是申请奖学金重要砝码
          </div>
          <div class="hover">
            <div class="num">01</div>
            <div class="title">提高成功率</div>
            <div class="note">一份优秀的作品集是申请奖学金重要砝码</div>
          </div>
        </li>
        <li class="core-role-item wow fadeInUp" data-wow-delay="100ms">
          <div class="top-text">
            <div class="num">02</div>
            <div class="title">冲名校</div>
            <div class="m-en-title">Famous school</div>
          </div>
          <div class="bottom-text">
            Famous school
          </div>
          <div class="m-bottom-text">
            一份优秀的作品集是申请奖学金重要砝码
          </div>
          <div class="hover">
            <div class="num">02</div>
            <div class="title">冲名校</div>
            <div class="note">一份优秀的作品集是申请奖学金重要砝码</div>
          </div>
        </li>
        <li class="core-role-item wow fadeInUp" data-wow-delay="200ms">
          <div class="top-text">
            <div class="num">03</div>
            <div class="title">奖学金</div>
            <div class="m-en-title">Scholarship</div>
          </div>
          <div class="bottom-text">
            Scholarship
          </div>
          <div class="m-bottom-text">
            一份优秀的作品集是申请奖学金重要砝码
          </div>
          <div class="hover">
            <div class="num">03</div>
            <div class="title">奖学金</div>
            <div class="note">一份优秀的作品集是申请奖学金重要砝码</div>
          </div>
        </li>
        <li class="core-role-item wow fadeInUp" data-wow-delay="300ms">
          <div class="top-text">
            <div class="num">04</div>
            <div class="title">跨专业</div>
            <div class="m-en-title">Multi-disciplinary</div>
          </div>
          <div class="bottom-text">
            Multi-disciplinary
          </div>
          <div class="m-bottom-text">
            一份优秀的作品集是申请奖学金重要砝码
          </div>
          <div class="hover">
            <div class="num">04</div>
            <div class="title">跨专业</div>
            <div class="note">一份优秀的作品集是申请奖学金重要砝码</div>
          </div>
        </li>
        <li class="core-role-item wow fadeInUp" data-wow-delay="400ms">
          <div class="top-text">
            <div class="num">05</div>
            <div class="title">免预科</div>
            <div class="m-en-title">Free preparatory course</div>
          </div>
          <div class="bottom-text">
            Free preparatory course
          </div>
          <div class="m-bottom-text">
            一份优秀的作品集是申请奖学金重要砝码
          </div>
          <div class="hover">
            <div class="num">05</div>
            <div class="title">免预科</div>
            <div class="note">一份优秀的作品集是申请奖学金重要砝码</div>
          </div>
        </li>
      </ul>
      <a href="javascript:;" class="popup-btn btn wow fadeInUp">作品集评估测试</a>
      <div class="bg-img">
        <img src="/public/images/portfolio/bg-core-role.png" alt="">
      </div>
    </section>
    <section class="how-container bg-module">
      <div class="min-center how-box">
        <div class="title-box">
          <div class="en-title wow fadeInLeft">
            <span class="pc">HOW?</span>
            <span class="m">What makes a good portfolio?</span>
          </div>
          <div class="cn-title wow fadeInRight">怎样才能做出一个好的作品集？</div>
          <div class="m-title-img">
            <img src="/public/images/portfolio/title-img-3.png" alt="">
          </div>
        </div>
        <ul class="how-list">
          <li class="how-item wow fadeInUp" data-wow-delay="0">
            <img class="pc" src="/public/images/portfolio/how-1.png" alt="">
            <img class="m" src="/public/images/portfolio/how-m-1.png" alt="">
          </li>
          <li class="how-item wow fadeInUp" data-wow-delay="100ms">
            <img class="pc" src="/public/images/portfolio/how-2.png" alt="">
            <img class="m" src="/public/images/portfolio/how-m-2.png" alt="">
          </li>
          <li class="how-item wow fadeInUp" data-wow-delay="200ms">
            <img class="pc" src="/public/images/portfolio/how-3.png" alt="">
            <img class="m" src="/public/images/portfolio/how-m-3.png" alt="">
          </li>
          <li class="how-item wow fadeInUp" data-wow-delay="300ms">
            <img class="pc" src="/public/images/portfolio/how-4.png" alt="">
            <img class="m" src="/public/images/portfolio/how-m-4.png" alt="">
          </li>
          <li class="how-item wow fadeInUp" data-wow-delay="0">
            <img class="pc" src="/public/images/portfolio/how-5.png" alt="">
            <img class="m" src="/public/images/portfolio/how-m-5.png" alt="">
          </li>
          <li class="how-item wow fadeInUp" data-wow-delay="100ms">
            <img class="pc" src="/public/images/portfolio/how-6.png" alt="">
            <img class="m" src="/public/images/portfolio/how-m-6.png" alt="">
          </li>
          <li class="how-item wow fadeInUp" data-wow-delay="200ms">
            <img class="pc" src="/public/images/portfolio/how-7.png" alt="">
            <img class="m" src="/public/images/portfolio/how-m-7.png" alt="">
          </li>
          <li class="how-item wow fadeInUp" data-wow-delay="300ms">
            <img class="pc" src="/public/images/portfolio/how-8.png" alt="">
            <img class="m" src="/public/images/portfolio/how-m-8.png" alt="">
          </li>
        </ul>
        <div class="bg-img">
          <img src="/public/images/portfolio/bg-how.png" alt="">
        </div>
      </div>
    </section>
     <section class="precess-container min-center bg-module">
      <div class="title-box">
        <div class="en-title wow fadeInLeft">PRECESS</div>
        <div class="cn-title wow fadeInRight">作品集服务流程</div>
        <div class="m-title-img">
          <img src="/public/images/portfolio/title-img-4.png" alt="">
        </div>
      </div>
      <div class="content">
        <img src="/public/images/portfolio/precess.png" alt="" class="img wow fadeInUp">
        <div class="note wow fadeInUp">优秀作品集-按照专业分类，但形式和作品集培训中的案例不一样，内容也不一样。
        </div>
      </div>
      <div class="bg-img">
        <img src="/public/images/portfolio/bg-precess.png" alt="">
      </div>
    </section>
    <section class="what-container min-center bg-module">
      <div class="title-box">
        <div class="en-title wow fadeInLeft">WHAT?</div>
        <div class="cn-title wow fadeInRight">我们能做什么？</div>
        <div class="m-title-img">
          <img src="/public/images/portfolio/title-img-5.png" alt="">
        </div>
      </div>
      <ul class="what-list">
        <li class="what-item wow pulse" style="background-color: #e5a0b4;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon1.png" alt="">
          </div>
          <div class="text">
            <div class="title">留学规划</div>
            <div class="entitle">Study abroad planning</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #3d887a;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon2.png" alt="">
          </div>
          <div class="text">
            <div class="title">职业规划</div>
            <div class="entitle">Career planning</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #67aebe;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon3.png" alt="">
          </div>
          <div class="text">
            <div class="title">作品集设计</div>
            <div class="entitle">Portfolio design</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #7a93cf;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon4.png" alt="">
          </div>
          <div class="text">
            <div class="title">基础课培训</div>
            <div class="entitle">Basic course training</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #8ebf84;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon5.png" alt="">
          </div>
          <div class="text">
            <div class="title">技能培训</div>
            <div class="entitle">Skills training</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #b2c4d4;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon6.png" alt="">
          </div>
          <div class="text">
            <div class="title">项目课培训</div>
            <div class="entitle">Project course training</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #9fc7a9;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon7.png" alt="">
          </div>
          <div class="text">
            <div class="title">版面设计</div>
            <div class="entitle">Layout design</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #ea4e4e;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon8.png" alt="">
          </div>
          <div class="text">
            <div class="title">设计能力培养</div>
            <div class="entitle">Design ability development</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #8fafd6;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon9.png" alt="">
          </div>
          <div class="text">
            <div class="title">演讲表达训练</div>
            <div class="entitle">Speech expression training</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #e7c2b6;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon10.png" alt="">
          </div>
          <div class="text">
            <div class="title">模型制作</div>
            <div class="entitle">Model making</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #d6a276;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon11.png" alt="">
          </div>
          <div class="text">
            <div class="title">国际化教学</div>
            <div class="entitle">International Teaching</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #6f80ad;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon12.png" alt="">
          </div>
          <div class="text">
            <div class="title">大师行</div>
            <div class="entitle">Master line</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #a273b1;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon13.png" alt="">
          </div>
          <div class="text">
            <div class="title">面试审核</div>
            <div class="entitle">Interview review</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #cf7a7e;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon14.png" alt="">
          </div>
          <div class="text">
            <div class="title">文书写作</div>
            <div class="entitle">Essay Writing</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #bf8fc9;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon15.png" alt="">
          </div>
          <div class="text">
            <div class="title">学校申请</div>
            <div class="entitle">School application</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #d6aeae;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon16.png" alt="">
          </div>
          <div class="text">
            <div class="title">游学服务</div>
            <div class="entitle">Study tour service</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #cd9ab9;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon17.png" alt="">
          </div>
          <div class="text">
            <div class="title">设计展览</div>
            <div class="entitle">Design Exhibition</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #b89cd0;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon18.png" alt="">
          </div>
          <div class="text">
            <div class="title">国际竞赛</div>
            <div class="entitle">Design ability training</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #d9af8d;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon19.png" alt="">
          </div>
          <div class="text">
            <div class="title">公司实战</div>
            <div class="entitle">Actual combat of the company</div>
          </div>
        </li>
        <li class="what-item wow pulse" style="background-color: #9eb6d6;">
          <div class="icon">
            <img src="/public/images/portfolio/what-icon20.png" alt="">
          </div>
          <div class="text">
            <div class="title">境外服务</div>
            <div class="entitle">Overseas services</div>
          </div>
        </li>
      </ul>
      <div class="bg-img">
        <img src="/public/images/portfolio/bg-what.png" alt="">
      </div>
    </section>
    <section class="art-course-container bg-module">
      <div class="min-center art-course-box">
        <div class="title-box">
          <div class="en-title wow fadeInLeft">ART COURSE</div>
          <div class="cn-title wow fadeInRight">艺术课程</div>
          <div class="m-title-img">
            <img src="/public/images/portfolio/title-img-6.png" alt="">
          </div>
        </div>
        <ul class="art-course-list pc">
          <li class="art-course-item wow fadeInUp">
            <div class="text">
              <div class="en-title">Portfolio Training</div>
              <div class="cn-title">作品集培训</div>
            </div>
            <div class="hover">
              <div class="title">作品集培训</div>
              <div class="info">
                <h3>针对人群：</h3>
                <p>所有需要递交作品集的学生， 想单独做项目/短期冲刺的学生。</p>
                <h3>课程简介</h3>
                <p>对学生综合评估，制定作品集培 训方案，辅导学生完成作品集项目。</p>
              </div>
            </div>
          </li>
          <li class="art-course-item wow fadeInUp" data-wow-delay="100ms">
            <div class="text">
              <div class="en-title">VIP school Express</div>
              <div class="cn-title">VIP名校直通车</div>
            </div>
            <div class="hover">
              <div class="title">VIP名校直通车</div>
              <div class="info">
                <h3>针对人群：</h3>
                <p>所有需要递交作品集的学生， 想单独做项目/短期冲刺的学生。</p>
                <h3>课程简介</h3>
                <p>对学生综合评估，制定作品集培 训方案，辅导学生完成作品集项目。</p>
              </div>
            </div>
          </li>
          <li class="art-course-item wow fadeInUp" data-wow-delay="200ms">
            <div class="text">
              <div class="en-title">Application for art study abroad</div>
              <div class="cn-title">艺术留学申请</div>
            </div>
            <div class="hover">
              <div class="title">艺术留学申请</div>
              <div class="info">
                <h3>针对人群：</h3>
                <p>所有需要递交作品集的学生， 想单独做项目/短期冲刺的学生。</p>
                <h3>课程简介</h3>
                <p>对学生综合评估，制定作品集培 训方案，辅导学生完成作品集项目。</p>
              </div>
            </div>
          </li>
          <li class="art-course-item wow fadeInUp" data-wow-delay="300ms">
            <div class="text">
              <div class="en-title">Music Collection</div>
              <div class="cn-title">音乐作品集</div>
            </div>
            <div class="hover">
              <div class="title">音乐作品集</div>
              <div class="info">
                <h3>针对人群：</h3>
                <p>所有需要递交作品集的学生， 想单独做项目/短期冲刺的学生。</p>
                <h3>课程简介</h3>
                <p>对学生综合评估，制定作品集培 训方案，辅导学生完成作品集项目。</p>
              </div>
            </div>
          </li>
        </ul>
        <ul class="art-course-list m">
          <li class="art-course-item wow fadeInUp">
            <div class="text">
              <div class="cn-title">作品集培训</div>
              <div class="en-title">Portfolio Training</div>
            </div>
            <div class="info">
              <h3>针对人群：</h3>
              <p>所有需要递交作品集的学生， 想单独做项目/短期冲刺的学生。</p>
              <h3>课程简介</h3>
              <p>对学生综合评估，制定作品集培 训方案，辅导学生完成作品集项目。</p>
            </div>
          </li>
          <li class="art-course-item wow fadeInUp" data-wow-delay="100ms">
            <div class="text">
              <div class="cn-title">VIP名校直通车</div>
              <div class="en-title">VIP school Express</div>
            </div>
            <div class="info">
              <h3>针对人群：</h3>
              <p>所有需要递交作品集的学生， 想单独做项目/短期冲刺的学生。</p>
              <h3>课程简介</h3>
              <p>对学生综合评估，制定作品集培 训方案，辅导学生完成作品集项目。</p>
            </div>
          </li>
          <li class="art-course-item wow fadeInUp" data-wow-delay="200ms">
            <div class="text">
              <div class="cn-title">艺术留学申请</div>
              <div class="en-title">Art Study Abroad Application</div>
            </div>
            <div class="info">
              <h3>针对人群：</h3>
              <p>所有需要递交作品集的学生， 想单独做项目/短期冲刺的学生。</p>
              <h3>课程简介</h3>
              <p>对学生综合评估，制定作品集培 训方案，辅导学生完成作品集项目。</p>
            </div>
          </li>
          <li class="art-course-item wow fadeInUp" data-wow-delay="300ms">
            <div class="text">
              <div class="cn-title">音乐作品集</div>
              <div class="en-title">Music Collection</div>
            </div>
            <div class="info">
              <h3>针对人群：</h3>
              <p>所有需要递交作品集的学生， 想单独做项目/短期冲刺的学生。</p>
              <h3>课程简介</h3>
              <p>对学生综合评估，制定作品集培 训方案，辅导学生完成作品集项目。</p>
            </div>
          </li>
        </ul>
        <a href="javascript:;" class="popup-btn btn wow fadeInUp">作品集试听课报名</a>
        <div class="bg-img">
          <img src="/public/images/portfolio/bg-art-course.png" alt="">
        </div>
      </div>
    </section> 
    <section class="portfolio-container bg-module">
      <div class="min-center portfolio-box">
        <div class="title-box">
          <div class="en-title wow fadeInLeft">
            <span class="pc">PORTFOLIO</span>
            <span class="m">OUTSTANDING PORTFOLIO</span>
          </div>
          <div class="cn-title wow fadeInRight">优秀作品集</div>
          <div class="m-title-img">
            <img src="/public/images/portfolio/title-img-7.png" alt="">
          </div>
        </div>
        <ul class="portfolio-list">
          <li class="portfolio-item wow fadeInUp">
            <a href="portfolio_training.html">
              <div class="top-title">
                <div class="cn-title">服装设计</div>
                <div class="en-title">Clothing Design</div>
              </div>
              <div class="img">
                <img src="/public/images/portfolio/portfolio-1.png" alt="">
              </div>
            </a>
          </li>
          <li class="portfolio-item wow fadeInUp">
            <a href="portfolio_training.html">
              <div class="top-title">
                <div class="cn-title">平面设计</div>
                <div class="en-title">Graphic Design</div>
              </div>
              <div class="img">
                <img src="/public/images/portfolio/portfolio-2.png" alt="">
              </div>
            </a>
          </li>
          <li class="portfolio-item wow fadeInUp">
           <a href="portfolio_training.html">
            <div class="top-title">
              <div class="cn-title">建筑设计</div>
              <div class="en-title">Architectural Design</div>
            </div>
            <div class="img">
              <img src="/public/images/portfolio/portfolio-3.png" alt="">
            </div>
           </a>
          </li>
          <li class="portfolio-item wow fadeInUp">
           <a href="portfolio_training.html">
            <div class="top-title">
              <div class="cn-title">工业设计</div>
              <div class="en-title">Industrial Design</div>
            </div>
            <div class="img">
              <img src="/public/images/portfolio/portfolio-4.png" alt="">
            </div>
           </a>
          </li>
          <li class="portfolio-item wow fadeInUp">
            <div class="top-title">
              <div class="cn-title">珠宝设计</div>
              <div class="en-title">Jewelry Design</div>
            </div>
            <div class="img">
              <img src="/public/images/portfolio/portfolio-5.png" alt="">
            </div>
          </li>
          <li class="portfolio-item wow fadeInUp">
            <div class="top-title">
              <div class="cn-title">插画设计</div>
              <div class="en-title">Illustration Design</div>
            </div>
            <div class="img">
              <img src="/public/images/portfolio/portfolio-6.png" alt="">
            </div>
          </li>
          <li class="portfolio-item wow fadeInUp">
            <div class="top-title">
              <div class="cn-title">视觉传达</div>
              <div class="en-title">Visual Communication</div>
            </div>
            <div class="img">
              <img src="/public/images/portfolio/portfolio-7.png" alt="">
            </div>
          </li>
          <li class="portfolio-item wow fadeInUp">
            <div class="top-title">
              <div class="cn-title">室内设计</div>
              <div class="en-title">Interior Design</div>
            </div>
            <div class="img">
              <img src="/public/images/portfolio/portfolio-8.png" alt="">
            </div>
          </li>
          <li class="portfolio-item wow fadeInUp">
            <div class="top-title">
              <div class="cn-title">交互设计</div>
              <div class="en-title">Interactive Design</div>
            </div>
            <div class="img">
              <img src="/public/images/portfolio/portfolio-9.png" alt="">
            </div>
          </li>
          <li class="portfolio-item wow fadeInUp">
            <div class="top-title">
              <div class="cn-title">交通工具设计</div>
              <div class="en-title">Vehicle Design</div>
            </div>
            <div class="img">
              <img src="/public/images/portfolio/portfolio-10.png" alt="">
            </div>
          </li>
          <li class="portfolio-item wow fadeInUp">
            <div class="top-title">
              <div class="cn-title">动画设计</div>
              <div class="en-title">Animation Design</div>
            </div>
            <div class="img">
              <img src="/public/images/portfolio/portfolio-11.png" alt="">
            </div>
          </li>
          <li class="portfolio-item wow fadeInUp">
            <div class="top-title">
              <div class="cn-title">时尚管理</div>
              <div class="en-title">Fashion Management</div>
            </div>
            <div class="img">
              <img src="/public/images/portfolio/portfolio-12.png" alt="">
            </div>
          </li>
        </ul>
        <div class="bg-img">
          <img src="/public/images/portfolio/bg-portfolio.png" alt="">
        </div>
      </div>
    </section>
    <!-- 引入弹窗 -->
    <%= require("html-loader!../components/popup/index.html") %>
      <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>